force-app/main/default/flows/BatchDefinition_Show_Cron_Trigger_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Cron_Trigger_Id</name>
        <label>Has Cron Trigger Id ?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>screen_NoCronTriggerId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Cron_Trigger_Id_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>batchDefinitionRecord.CronTriggerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cron_Trigger_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BatchDefinition: Show Cron Trigger Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the details about the schedule of a job from the Cron Trigger object</description>
        <name>Get_Cron_Trigger_Details</name>
        <label>Get Cron Trigger Details</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_CronTriggerDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>batchDefinitionRecord.CronTriggerId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CronTrigger</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_CronTriggerDetails</name>
        <label>screen_CronTriggerDetails</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Schedule_Details</name>
            <fieldText>Schedule Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_PreviousFireTime</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Previous Fire Time:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Cron_Trigger_Details.PreviousFireTime} &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>dt_StartTime</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Start Time:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Cron_Trigger_Details.StartTime}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_NextFireTime</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Next Fire Time&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Cron_Trigger_Details.NextFireTime}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>dt_EndTime</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;End Time:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Cron_Trigger_Details.EndTime}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Details_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_State</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;State:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Cron_Trigger_Details.State}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>dt_TimesTriggered</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Times Triggered:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Cron_Trigger_Details.TimesTriggered}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_NoCronTriggerId</name>
        <label>screen_NoCronTriggerId</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_NoScheduleMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;This batch was not scheduled yet&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Cron_Trigger_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>batchDefinitionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Batch_Definition__c</objectType>
    </variables>
</Flow>
