force-app/main/default/flows/BatchDefinition_Cron_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Schedule</name>
        <label>Create Schedule</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <actionName>FW_SL_ScheduleBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Cron_Trigger_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_CreateScheduleError</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>batchDefinition</name>
            <value>
                <elementReference>Get_Batch_Definition_Details</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FW_SL_ScheduleBatch</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Cron_Details_to_Batch_Definition</name>
        <label>Assign Cron Details to Batch Definition</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Get_Batch_Definition_Details.CronExpression__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lwc_CronBuilder.cronExpression</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Batch_Definition_Details.RunDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lwc_CronBuilder.cronDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Schedule_Details_to_Batch_Definition</name>
        <label>Assign Schedule Details to Batch Definition</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Get_Batch_Definition_Details.CronTriggerId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cron_Trigger_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Batch_Definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Class</name>
        <label>Assign Selected Class</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Batch_Definition_Details.BatchSchedulerClass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch_Scheduler_Class</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cron_Builder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Schedule_Class</name>
        <label>Has Schedule Class ?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Schedulable_Classes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Schedule_Class_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Batch_Definition_Details.BatchSchedulerClass__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Batch_Definition_Details.BatchSchedulerClass__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cron_Builder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create a cron expression an schedule jobs</description>
    <dynamicChoiceSets>
        <name>SchedulerClassesList</name>
        <collectionReference>Get_Schedulable_Classes</collectionReference>
        <dataType>String</dataType>
        <displayField>ClassName</displayField>
        <object>ApexTypeImplementor</object>
        <valueField>ClassName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>BatchDefinition: Cron Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BatchDefinition: Cron Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Batch_Definition_Details</name>
        <label>Get Batch Definition Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Schedule_Class</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Batch_Definition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cron_Trigger_Details</name>
        <label>Get Cron Trigger Details</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Schedule_Details_to_Batch_Definition</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screen_CreateScheduleError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Schedule</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CronTrigger</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve Classes that implement the &quot;Schedulable&quot; interface</description>
        <name>Get_Schedulable_Classes</name>
        <label>Get Schedulable Classes</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrScheduleClass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InterfaceName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schedulable</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApexTypeImplementor</object>
        <sortField>ClassName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Batch_Definition</name>
        <label>Update Batch Definition</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screen_CreateScheduleError</targetReference>
        </faultConnector>
        <inputReference>Get_Batch_Definition_Details</inputReference>
    </recordUpdates>
    <screens>
        <name>Cron_Builder</name>
        <label>Cron Builder</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Cron_Details_to_Batch_Definition</targetReference>
        </connector>
        <fields>
            <name>lwc_CronBuilder</name>
            <extensionName>c:fw_lwc_cron_builder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_CreateScheduleError</name>
        <label>screen_CreateScheduleError</label>
        <locationX>1056</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_CreateScheduleErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;An error was found&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrScheduleClass</name>
        <label>Schedule Class Screen</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Class</targetReference>
        </connector>
        <fields>
            <name>dtxtScheduleClassMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please provide the class to use to schedule the batch&lt;strong&gt;.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If you don&apos;t know which class to use, select &lt;strong&gt;&quot;FW_Async_GenericBatchScheduler&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Batch_Scheduler_Class</name>
            <choiceReferences>SchedulerClassesList</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>FW_Async_GenericBatchScheduler</stringValue>
            </defaultValue>
            <fieldText>Batch Scheduler Class</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Batch_Definition_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
