force-app/main/default/flows/COMM_FLW_GetEmailTemplateByLocale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>COMM_Assignment_CountFilteredTemplate</name>
        <label>Assignment: Count Number of Filtered Templates</label>
        <locationX>226</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_TemplateFoundCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>COMM_Filter_LanguageTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Decision_TemplateFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_GetEnglishTemplate</name>
        <label>Assignment: Get English Email Template</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_EmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Loop_GetEnglishTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Loop_GetEnglishTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_GetTemplateId</name>
        <label>Assignment: Get Email Template</label>
        <locationX>138</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_EmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Loop_GetLanguageTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Loop_GetLanguageTemplate</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>COMM_Filter_EnglishTemplate</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter: Get English Email Template</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>currentItem_COMM_Filter_EnglishTemplate</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>COMM_Variable_EmailTemplateList</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>COMM_Loop_GetEnglishTemplate</targetReference>
        </connector>
        <formula>IF({!COMM_Variable_UseDeveloperName},
{!currentItem_COMM_Filter_EnglishTemplate.DeveloperName} = {!COMM_Variable_EmailTemplateName} + &apos;_&apos; + {!COMM_Constant_DefaultLanguageCode}, 
{!currentItem_COMM_Filter_EnglishTemplate.Name} = {!COMM_Variable_EmailTemplateName} + &apos;_&apos; + {!COMM_Constant_DefaultLanguageCode})</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>COMM_Filter_LanguageTemplate</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter: Get Language Template</label>
        <locationX>226</locationX>
        <locationY>434</locationY>
        <assignNextValueToReference>currentItem_COMM_Filter_LanguageTemplate</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>COMM_Variable_EmailTemplateList</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>COMM_Assignment_CountFilteredTemplate</targetReference>
        </connector>
        <formula>IF({!COMM_Variable_UseDeveloperName},
{!currentItem_COMM_Filter_LanguageTemplate.DeveloperName} = {!COMM_Variable_EmailTemplateName} + &apos;_&apos; + {!COMM_Variable_LanguageCode}, {!currentItem_COMM_Filter_LanguageTemplate.Name} = {!COMM_Variable_EmailTemplateName} + &apos;_&apos; + {!COMM_Variable_LanguageCode})</formula>
    </collectionProcessors>
    <constants>
        <description>The default language code used when no template for the provided language code is found</description>
        <name>COMM_Constant_DefaultLanguageCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </constants>
    <decisions>
        <name>COMM_Decision_TemplateFound</name>
        <label>Decision: Template Found?</label>
        <locationX>226</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>COMM_Filter_EnglishTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Variable_TemplateFoundCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Loop_GetLanguageTemplate</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Email Template query used DeveloperName (Classic Template) or Name (Lightning Template)</description>
        <name>COMM_Decision_UseDeveloperName</name>
        <label>Decision: Use Developer Name?</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>COMM_GetRecords_EmailTemplateWithName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use Name</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_UseDeveloper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Variable_UseDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_TemplateWithDeveloperName</targetReference>
            </connector>
            <label>Use Developer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Email Template By Locale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Email Template By Locale</label>
    <loops>
        <name>COMM_Loop_GetEnglishTemplate</name>
        <label>Loop: Get English Email Template</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <collectionReference>COMM_Filter_EnglishTemplate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_Assignment_GetEnglishTemplate</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>COMM_Loop_GetLanguageTemplate</name>
        <label>Loop: Get Language Template from List</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>COMM_Filter_LanguageTemplate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_Assignment_GetTemplateId</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>COMM_GetRecords_EmailTemplateWithName</name>
        <label>Get: Email Template with Name</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Filter_LanguageTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>COMM_Variable_EmailTemplateName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>COMM_Variable_EmailTemplateList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Body</queriedFields>
        <queriedFields>HtmlValue</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_TemplateWithDeveloperName</name>
        <label>Get: Email Template with Developer Name</label>
        <locationX>94</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Filter_LanguageTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>COMM_Variable_EmailTemplateName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>COMM_Variable_EmailTemplateList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Body</queriedFields>
        <queriedFields>HtmlValue</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_Decision_UseDeveloperName</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Email Template to be used</description>
        <name>COMM_Variable_EmailTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>COMM_Variable_EmailTemplateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <description>Name (without language code) of the Email Template to Retrieve</description>
        <name>COMM_Variable_EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_Variable_LanguageCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </variables>
    <variables>
        <name>COMM_Variable_TemplateFoundCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Variable to indicate if Email Template is retrieved using Developer Name field or Name field</description>
        <name>COMM_Variable_UseDeveloperName</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_COMM_Filter_EnglishTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>currentItem_COMM_Filter_LanguageTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
</Flow>
