force-app/main/default/flows/COMM_OMS_GenerateVoucherAndSendEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>COMM_Action_GenerateOrderVoucher</name>
        <label>Generate Order Voucher</label>
        <locationX>402</locationX>
        <locationY>2474</locationY>
        <actionName>COMM_SL_GenerateResellerOrderVoucher</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_Create_PublishOrderVoucherForReseller</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>COMM_Get_OrderSummaryRecord.OriginalOrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>COMM_Get_OrderSummaryRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resellerId</name>
            <value>
                <elementReference>COMM_Get_OrderSummaryRecord.Account.COMM_ResellerId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_GenerateResellerOrderVoucher</nameSegment>
        <outputParameters>
            <assignToReference>COMM_Variable_OrderVoucherPlatformEvent</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Lounge_FastTrack_QRcode</name>
        <label>Generate Lounge/FastTrack QRcode</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <actionName>COMM_SL_VoucherReservation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>QR_Codes_generated_OK</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>invoiceIds</name>
            <value>
                <elementReference>InputInvoiceId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_VoucherReservation</nameSegment>
        <outputParameters>
            <assignToReference>COMM_QRcodesGenerated</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_InputInvoiceId</name>
        <label>set InputInvoiceId</label>
        <locationX>336</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>InputInvoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_QRcodes_for_Lounge_FastTrack</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>All Fast Track or Lounge have a QR code</description>
        <name>set_loungeFastTrackWithoutQRCode_false</name>
        <label>set loungeFastTrackWithoutQRCode = false</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>loungeFastTrackWithoutQRcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_products_with_QRcode_and_Barcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_loungeFastTrackWithoutQRcode_True</name>
        <label>Set loungeFastTrackWithoutQRcode = True</label>
        <locationX>1040</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>loungeFastTrackWithoutQRcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Product_Summary_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OrderWithLoungeOrFastTrack</name>
        <label>Set OrderWithLoungeOrFastTrack</label>
        <locationX>952</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OrderWithLoungeOrFastTrack</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalLoungesAndFastTracks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalLoungesAndFastTracksPlusPlus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lounge_FastTrack_has_QRcode_generated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ParkWithoutBarcode_to_True</name>
        <label>Set ParkWithoutBarcode = True</label>
        <locationX>600</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>parkWithoutBarcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Product_Summary_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOrderWithParking</name>
        <label>Set OrderWithParking</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OrderWithParking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalParks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalParksPlusPlus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Park_has_barcode_generated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_products_with_QRcode_and_Barcode</name>
        <label>All products with QRcode and Barcode?</label>
        <locationX>336</locationX>
        <locationY>1850</locationY>
        <defaultConnectorLabel>Don&apos;t generate voucher</defaultConnectorLabel>
        <rules>
            <name>Order_only_with_Lounge_and_FastTrack_and_QRcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderWithParking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderWithLoungeOrFastTrack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loungeFastTrackWithoutQRcode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Customer</targetReference>
            </connector>
            <label>Order only with Lounge and FastTrack and QRcode</label>
        </rules>
        <rules>
            <name>Order_only_with_Parking_and_Barcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderWithLoungeOrFastTrack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderWithParking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parkWithoutBarcode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Customer</targetReference>
            </connector>
            <label>Order only with Parking and Barcode</label>
        </rules>
        <rules>
            <name>Order_with_Parking_and_Lounge_or_FastTrack_with_Barcode_and_QRcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderWithParking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderWithLoungeOrFastTrack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loungeFastTrackWithoutQRcode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parkWithoutBarcode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Customer</targetReference>
            </connector>
            <label>Order with Parking and Lounge or FastTrack with Barcode and QRcode</label>
        </rules>
    </decisions>
    <decisions>
        <description>Confirm if Order was send from a Reseller account</description>
        <name>COMM_Decision_OrderIsReseller</name>
        <label>Confirm if Order was send from a Reseller</label>
        <locationX>534</locationX>
        <locationY>2366</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>COMM_YesIsReseller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Get_OrderSummaryRecord.SalesChannel.SalesChannelName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Action_GenerateOrderVoucher</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lounge_FastTrack_has_QRcode_generated</name>
        <label>Lounge/FastTrack has QRcode generated</label>
        <locationX>952</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_loungeFastTrackWithoutQRcode_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No QRcode</defaultConnectorLabel>
        <rules>
            <name>Lounge_FastTrack_with_QRcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Product_Summary_Loop.COMM_QRCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order_Product_Summary_Loop.COMM_QRCodeImage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Product_Summary_Loop</targetReference>
            </connector>
            <label>Lounge/FastTrack with QRcode</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_QRcodes_for_Lounge_FastTrack</name>
        <label>Missing QRcodes for Lounge/FastTrack?</label>
        <locationX>336</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>All_products_with_QRcode_and_Barcode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All QRcodes available</defaultConnectorLabel>
        <rules>
            <name>Missing_QRcodes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderWithLoungeOrFastTrack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loungeFastTrackWithoutQRcode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Lounge_FastTrack_QRcode</targetReference>
            </connector>
            <label>Generate QRcodes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Park_has_barcode_generated</name>
        <label>Park has barcode generated</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_ParkWithoutBarcode_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Barcode</defaultConnectorLabel>
        <rules>
            <name>Park_with_Barcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Product_Summary_Loop.COMM_Barcode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Product_Summary_Loop</targetReference>
            </connector>
            <label>Park with Barcode</label>
        </rules>
    </decisions>
    <decisions>
        <name>QR_Codes_generated_OK</name>
        <label>QR Codes generated OK?</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>All_products_with_QRcode_and_Barcode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Generating QR Codes</defaultConnectorLabel>
        <rules>
            <name>QR_Codes_generated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_QRcodesGenerated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_loungeFastTrackWithoutQRCode_false</targetReference>
            </connector>
            <label>QR Codes generated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_to_Customer</name>
        <label>Send Email to Customer?</label>
        <locationX>336</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>COMM_Get_OrderSummaryRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Send_Email_to_Customer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_inputSendEmailToCustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Generate_and_Send_Order_Voucher</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Product_Family</name>
        <label>Validate Product Family</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Product_Summary_Loop.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOrderWithParking</targetReference>
            </connector>
            <label>Parking</label>
        </rules>
        <rules>
            <name>Lounge_or_Fast_Track</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Order_Product_Summary_Loop.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fast Track</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order_Product_Summary_Loop.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lounge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OrderWithLoungeOrFastTrack</targetReference>
            </connector>
            <label>Lounge or Fast Track</label>
        </rules>
    </decisions>
    <description>This flow will:
1. Generate Lounge and FastTrack vouchers if needed:
2. Generate a Platform Event to Send vouchers to customer if all products have barcode/QRcode and input flag to send email = true</description>
    <environments>Default</environments>
    <formulas>
        <name>totalLoungesAndFastTracksPlusPlus</name>
        <dataType>Number</dataType>
        <expression>{!totalLoungesAndFastTracks} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>totalParksPlusPlus</name>
        <dataType>Number</dataType>
        <expression>{!totalParks} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>OMS Generate Voucher And Send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMS Generate Voucher And Send Email</label>
    <loops>
        <name>Order_Product_Summary_Loop</name>
        <label>Order Product Summary Loop</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Order_Product_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_Product_Family</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Publish Order Voucher Platform Event for Reseller</description>
        <name>COMM_Create_PublishOrderVoucherForReseller</name>
        <label>Publish Order Voucher for Reseller</label>
        <locationX>402</locationX>
        <locationY>2582</locationY>
        <inputReference>COMM_Variable_OrderVoucherPlatformEvent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Publish_Generate_and_Send_Order_Voucher</name>
        <label>Publish Generate and Send Order Voucher</label>
        <locationX>138</locationX>
        <locationY>2258</locationY>
        <connector>
            <targetReference>Update_OrderSummary</targetReference>
        </connector>
        <inputAssignments>
            <field>COMM_InvoiceId__c</field>
            <value>
                <elementReference>InputInvoiceId</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_GenerateVoucherPDFAndSendEmail__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get order summary record to identify Sales Channel used</description>
        <name>COMM_Get_OrderSummaryRecord</name>
        <label>Get Order Summary Record</label>
        <locationX>534</locationX>
        <locationY>2258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Decision_OrderIsReseller</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_InputOrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>336</locationX>
        <locationY>1034</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_InputInvoiceId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_InputOrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Summary</name>
        <label>Get Order Product Summary</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Product_Summary_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_InputOrderSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypeCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OrderSummary</name>
        <label>Update OrderSummary</label>
        <locationX>138</locationX>
        <locationY>2366</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_InputOrderSummaryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_VoucherLastSendDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Product_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>COMM_InputOrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input parameter to specify if the email should be sent to Customer. 
Example: For kisok orders, by default the email should not be sent automatically, only on the manual sending</description>
        <name>COMM_inputSendEmailToCustomer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>COMM_QRcodesGenerated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_Variable_OrderVoucherPlatformEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>COMM_OrderVouchers__e</objectType>
    </variables>
    <variables>
        <name>InputInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loungeFastTrackWithoutQRcode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OrderWithLoungeOrFastTrack</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OrderWithParking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>parkWithoutBarcode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>totalLoungesAndFastTracks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalParks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
