force-app/main/default/flows/COMM_User_FLW_DeactivateCommunityUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Email to the User</description>
        <name>COMM_SendEmail_InformUserOfDeactivation</name>
        <label>Send Email: Inform User of Deactivation</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>COMM_GetRecord_RetrieveDefaultNoReplyAddress.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplateByLocale.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Constant with the Name of the Email Template that is used for the Emails Sent to the Deactivated Partner Admin Users</description>
        <name>COMM_Constant_DeactivationTemplateName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_EMAIL_AccountDeactivation</stringValue>
        </value>
    </constants>
    <constants>
        <description>Constant with the Name of the Email Template that is used for the Emails Sent to the Deactivated Customer Users</description>
        <name>COMM_Constant_DeletionTemplateName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_EMAIL_AccountDeletion</stringValue>
        </value>
    </constants>
    <description>Flow used to deactivate a Community User</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to Update the email of Deactivated User with a Random number</description>
        <name>COMM_Formula_EmailUpdateRandomNumber</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}+&quot;.&quot;+TEXT(DAY(TODAY()))+TEXT(MONTH(TODAY()))+TEXT(YEAR(TODAY()))+TEXT(DAYOFYEAR(TODAY()))+TEXT(MONTH(TODAY()))+TEXT(DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <description>Formula to get the name of the template based on the type of Account the User has</description>
        <name>COMM_Formula_TemplateName</name>
        <dataType>String</dataType>
        <expression>IF({!COMM_GetRecords_UserAccount.COMM_IsPartner__c}, {!COMM_Constant_DeactivationTemplateName}, {!COMM_Constant_DeletionTemplateName})</expression>
    </formulas>
    <formulas>
        <description>Formula to Add to User Username a Random Number</description>
        <name>COMM_Formula_UsernameUpdateRandomNumber</name>
        <dataType>String</dataType>
        <expression>{!$User.Username}+&quot;.&quot;+TEXT(DAY(TODAY()))+TEXT(MONTH(TODAY()))+TEXT(YEAR(TODAY()))+TEXT(DAYOFYEAR(TODAY()))+TEXT(MONTH(TODAY()))+TEXT(DAY(TODAY()))</expression>
    </formulas>
    <interviewLabel>Deactivate External User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivate Community User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>COMM_GetRecord_RetrieveDefaultNoReplyAddress</name>
        <label>Get: Retrieve Default No Reply Address</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_UpdateRecord_UpdateUserInformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_GetRecords_UserAccount</name>
        <label>Get: User Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Subflow_GetEmailTemplateByLocale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetRecords_UserContact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_GetRecords_UserContact</name>
        <label>Get: User Contact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetRecords_UserAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>COMM_UpdateRecord_SetUserAsInactive</name>
        <label>Update: Set User as Inactive</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>COMM_SendEmail_InformUserOfDeactivation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>COMM_UpdateRecord_UpdateUserInformation</name>
        <label>Update: User Information</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>COMM_Timer_SetUserInactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>COMM_Formula_EmailUpdateRandomNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>COMM_Formula_UsernameUpdateRandomNumber</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_GetRecords_UserContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplateByLocale</name>
        <label>Subflow: Get Email Template By Locale</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>COMM_GetRecord_RetrieveDefaultNoReplyAddress</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Formula_TemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_UseDeveloperName</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <waits>
        <name>COMM_Timer_SetUserInactive</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Time To Set user Inactive</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>COMM_UpdateRecord_SetUserAsInactive</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
