force-app/main/default/flows/COMM_FLW_Case_Subscription_PostAPRejectionUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Subscription Request Denied Email to Partner Admin EN</description>
        <name>Send_Subscription_Request_Denied_Email_to_Partner_Admin_EN</name>
        <label>Send Request Denied Email to Partner Admin EN</label>
        <locationX>578</locationX>
        <locationY>1332</locationY>
        <actionName>Case.COMM_Send_SubscriptionRequestDeniedEmail_EN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.COMM_Send_SubscriptionRequestDeniedEmail_EN</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Subscription Request Denied Email to Partner Admin ES</description>
        <name>Send_Subscription_Request_Denied_Email_to_Partner_Admin_ES</name>
        <label>Send Request Denied Email to Partner Admin ES</label>
        <locationX>314</locationX>
        <locationY>1332</locationY>
        <actionName>Case.COMM_Send_SubscriptionRequestDeniedEmail_ES</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.COMM_Send_SubscriptionRequestDeniedEmail_ES</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Subscription Request Denied Email to Partner Admin PT</description>
        <name>Send_Subscription_Request_Denied_Email_to_Partner_Admin_PT</name>
        <label>Send Request Denied Email to Partner Admin PT</label>
        <locationX>50</locationX>
        <locationY>1332</locationY>
        <actionName>Case.COMM_Send_SubscriptionRequestDeniedEmail_PT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.COMM_Send_SubscriptionRequestDeniedEmail_PT</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Partner_Admin_to_User_Ids</name>
        <label>Add Partner Admin to User Ids</label>
        <locationX>1106</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>PartnerAdminIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_to_Partner_Admin</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_RT</name>
        <label>Check RT</label>
        <locationX>908</locationX>
        <locationY>1116</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewSubscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NR_Check_Case_Creator_Language</targetReference>
            </connector>
            <label>New Subscription</label>
        </rules>
        <rules>
            <name>Modification_RTs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewCardDueToDamageLoss</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeOwnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeSubscriptionInformation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangePaymentPeriodicity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ManualRenewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeUserInformation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CancelationRequest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partner_Admin_Subscription_Rejection_Notification</targetReference>
            </connector>
            <label>Modification RTs</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_ConfirmIfProcessProcessInstanceExists</name>
        <label>Confirm if Process Process Instance Exists</label>
        <locationX>1584</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_ProcessInstanceExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Get_CaseProcessInstance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_CaseProcessInstanceStep</targetReference>
            </connector>
            <label>Process Instance Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Subscription Record Type is &quot;COMM_NewSubscription&quot;, to update the current Subscription Status.</description>
        <name>COMM_Decision_IsNewSubscription</name>
        <label>Is New Subscription?</label>
        <locationX>1584</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>COMM_Update_CaseRelatedSubscriptionsImmediately</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not New Subscription</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_IsNewSubscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewSubscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Update_RelatedSubscriptionsImmediately</targetReference>
            </connector>
            <label>Is New Subscription</label>
        </rules>
        <rules>
            <name>COMM_Outcome_IsCancellationSubscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CancelationRequest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Update_RelatedCancellationSubscriptionsImmediately</targetReference>
            </connector>
            <label>Is Cancellation Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_if_Case_Process_Instance_Step_Exists</name>
        <label>Confirm if Case Process Instance Step Exists</label>
        <locationX>1271</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Get_CaseProcessInstanceStep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RT</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>NR_Check_Case_Creator_Language</name>
        <label>Check Case Creator Language</label>
        <locationX>446</locationX>
        <locationY>1224</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>NR_pt_PT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pt_PT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Subscription_Request_Denied_Email_to_Partner_Admin_PT</targetReference>
            </connector>
            <label>pt_PT</label>
        </rules>
        <rules>
            <name>NR_es</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Subscription_Request_Denied_Email_to_Partner_Admin_ES</targetReference>
            </connector>
            <label>es</label>
        </rules>
        <rules>
            <name>NR_en_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Subscription_Request_Denied_Email_to_Partner_Admin_EN</targetReference>
            </connector>
            <label>en_US</label>
        </rules>
    </decisions>
    <description>Perform field updates and send email notifications after ANA Admin rejects case</description>
    <environments>Default</environments>
    <interviewLabel>Case Subscription Post AP Rejection Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Subscription Post AP Rejection Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Case Process Instance to identify the rejection reason</description>
        <name>COMM_Get_CaseProcessInstance</name>
        <label>Get Case Process Instance</label>
        <locationX>1584</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Decision_ConfirmIfProcessProcessInstanceExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Case Process Instance Step to identify the rejection reason</description>
        <name>COMM_Get_CaseProcessInstanceStep</name>
        <label>Get Case Process Instance Step</label>
        <locationX>1271</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Reason_of_Rejection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_Get_CaseProcessInstance.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Admin_Subscription_Rejection_Notification</name>
        <label>Get Partner Admin Subscription Rejection Notification</label>
        <locationX>1106</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Partner_Admin_to_User_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_PartnerAdmin_SubscriptionRejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_to_Expired</name>
        <label>Change to Expired</label>
        <locationX>2162</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Update_Related_Subscriptions</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>COMM_Update_CaseRelatedSubscriptionsImmediately</name>
        <label>Update Related Subscriptions Immediately</label>
        <locationX>1848</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>COMM_Get_CaseProcessInstance</targetReference>
        </connector>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputReference>$Record.COMM_Subscription__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>COMM_Update_RelatedCancellationSubscriptionsImmediately</name>
        <label>Update Related Subscriptions Immediately</label>
        <locationX>1584</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>COMM_Get_CaseProcessInstance</targetReference>
        </connector>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CancellationDate__c</field>
        </inputAssignments>
        <inputReference>$Record.COMM_Subscription__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>COMM_Update_RelatedSubscriptionsImmediately</name>
        <label>Update Related Subscriptions Immediately</label>
        <locationX>1320</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>COMM_Get_CaseProcessInstance</targetReference>
        </connector>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Status__c</field>
            <value>
                <stringValue>Request Denied</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.COMM_Subscription__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reason_of_Rejection</name>
        <label>Update Reason of Rejection</label>
        <locationX>1271</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Confirm_if_Case_Process_Instance_Step_Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>COMM_ReasonOfRejection__c</field>
            <value>
                <elementReference>COMM_Get_CaseProcessInstanceStep.Comments</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Subscriptions</name>
        <label>Update Related Subscriptions</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.COMM_Subscription__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>1747</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_Decision_IsNewSubscription</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
  OR(
    {!$Record.RecordType.DeveloperName} = &apos;COMM_NewSubscription&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_NewCardDueToDamageLoss&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangeOwnership&apos;,
            {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangeSubscriptionInformation&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangeUserInformation&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangePaymentPeriodicity&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ManualRenewal&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_CancelationRequest&apos;
  ),
  ISPICKVAL({!$Record.Status}, &apos;Request Denied&apos;),
  BEGINS({!$Record.OwnerId}, &apos;005&apos;)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X15_Days_Later</name>
            <connector>
                <targetReference>Change_to_Expired</targetReference>
            </connector>
            <label>15 Days Later</label>
            <offsetNumber>15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Notification_to_Partner_Admin</name>
        <label>Send Notification to Partner Admin</label>
        <locationX>1106</locationX>
        <locationY>1440</locationY>
        <flowName>COMM_FLW_Generic_SendNotificationToQueue</flowName>
        <inputAssignments>
            <name>CustomNotificationId</name>
            <value>
                <elementReference>Get_Partner_Admin_Subscription_Rejection_Notification.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_EN</name>
            <value>
                <elementReference>EN_Body_SubRejected_PartnerAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_ES</name>
            <value>
                <elementReference>ES_Body_SubRejected_PartnerAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_PT</name>
            <value>
                <elementReference>PT_Body_SubRejected_PartnerAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_EN</name>
            <value>
                <elementReference>EN_Title_SubRejected_PartnerAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_ES</name>
            <value>
                <elementReference>ES_Title_SubRejected_PartnerAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_PT</name>
            <value>
                <elementReference>PT_Title_SubRejected_PartnerAdmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserIds</name>
            <value>
                <elementReference>PartnerAdminIds</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EN_Body_SubRejected_PartnerAdmin</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your subscription request {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} was denied due to the following reasons: 
{!$Record.COMM_ReasonOfRejection__c}</text>
    </textTemplates>
    <textTemplates>
        <name>EN_Title_SubRejected_PartnerAdmin</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Subscription request denied</text>
    </textTemplates>
    <textTemplates>
        <name>ES_Body_SubRejected_PartnerAdmin</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Su solicitud de contrato {!$Record.COMM_SubscriptionNumber__c}{!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} fue rechazada por el siguiente motivo: 
{!$Record.COMM_ReasonOfRejection__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ES_Title_SubRejected_PartnerAdmin</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Solicitud de cuota de membresía rechazada</text>
    </textTemplates>
    <textTemplates>
        <name>PT_Body_SubRejected_PartnerAdmin</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>O seu pedido de avença {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} foi recusado, devido ao seguinte motivo: 
{!$Record.COMM_ReasonOfRejection__c}</text>
    </textTemplates>
    <textTemplates>
        <name>PT_Title_SubRejected_PartnerAdmin</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Pedido de avença recusado</text>
    </textTemplates>
    <variables>
        <name>PartnerAdminIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
