force-app/main/default/flows/COMM_FLW_Case_AffiliateRegistrationRequestAccountContactUserCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Invoke apex action responsible for User creation from Contact details.</description>
        <name>COMM_CreateUser</name>
        <label>Create User</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <actionName>COMM_SL_UserCreation</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>COMM_Assignment_SetErrorMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>COMM_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>recordId.SuppliedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>recordId.COMM_FirstName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>language</name>
            <value>
                <elementReference>recordId.COMM_Language__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>recordId.COMM_LastName__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_UserCreation</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>COMM_Assignment_SetErrorMessage</name>
        <label>Set Error Message</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>COMM_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Rollback_FailureExit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Affiliate Account record to create.</description>
        <name>COMM_SetAffiliateAccount</name>
        <label>Set Affiliate Account</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>COMM_AffiliateAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_GetCollectivePartnerRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_AffiliateAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Collective</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_AffiliateAccount.COMM_IsAffiliate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_AffiliateAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_CompanyName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_AffiliateAccount.COMM_AffiliateCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_AffiliateCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_AffiliateAccount.COMM_VATNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_CompanyVATNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_AffiliateAccount.COMM_PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_AffiliatePaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_AffiliateAccount.COMM_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_CompanyEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_AffiliateAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_CompanyAddress__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_AffiliateAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_CompanyAddress__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_AffiliateAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_CompanyAddress__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_AffiliateAccount.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_CompanyAddress__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_CreateAffiliateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Contact record to create.</description>
        <name>COMM_SetContact2</name>
        <label>Set Contact</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>COMM_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_ExistingAffiliateAccount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_CreateContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Contact record to create.</description>
        <name>COMM_SetContact_2</name>
        <label>Set Contact</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>COMM_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_AffiliateAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_CreateContact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if a Case record has an Existing related Affiliate Account.</description>
        <name>COMM_IsExistingAffiliateAccountPopulated</name>
        <label>Is Existing Affiliate Account populated?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>COMM_AccountContactCreationOnNotExistingAffiliateScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.COMM_ExistingAffiliateAccount__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_AccountContactCreationOnExistingAffiliateScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if an Affiliate Account was created in process.</description>
        <name>Yes_AffiliateAccountCreated</name>
        <label>Affiliate Account created?</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>COMM_UpdateCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_AffiliateAccountCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_AffiliateAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_UpdateCaseWithAffiliateAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen flow called from Case quick action for Account / Contact / User creation related on Affiliate Registration request.</description>
    <environments>Default</environments>
    <interviewLabel>Case Affiliate Registration Request Account / Contact / User creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Affiliate Registration Request Account / Contact / User creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Affiliate Account record.</description>
        <name>COMM_CreateAffiliateAccount</name>
        <label>Create Affiliate Account</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>COMM_SetContact_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>COMM_Assignment_SetErrorMessage</targetReference>
        </faultConnector>
        <inputReference>COMM_AffiliateAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Contact record.</description>
        <name>COMM_CreateContact</name>
        <label>Create Contact</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Yes_AffiliateAccountCreated</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>COMM_Assignment_SetErrorMessage</targetReference>
        </faultConnector>
        <inputReference>COMM_Contact</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Collective/Partner Record Type details.</description>
        <name>COMM_GetCollectivePartnerRecordType</name>
        <label>Get Collective/Partner Record Type</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_IsExistingAffiliateAccountPopulated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_CollectivePartner</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>COMM_Rollback_FailureExit</name>
        <label>Failure Exit</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>COMM_Screen_ErrorMessage</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <description>Update Case record on process.</description>
        <name>COMM_UpdateCase</name>
        <label>Update Case</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>COMM_CreateUser</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>COMM_Assignment_SetErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Process Concluded</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case record on process and link it to created Affiliate Account.</description>
        <name>COMM_UpdateCaseWithAffiliateAccount</name>
        <label>Update Case with Affiliate Account</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>COMM_CreateUser</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>COMM_Assignment_SetErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ExistingAffiliateAccount__c</field>
            <value>
                <elementReference>COMM_AffiliateAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Process Concluded</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <description>Screen with details for Account and Contact  creation for Affiliate Requests on existing Affiliate Account.</description>
        <name>COMM_AccountContactCreationOnExistingAffiliateScreen</name>
        <label>Account / Contact creation on existing affiliate Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_SetContact2</targetReference>
        </connector>
        <fields>
            <name>COMM_AccountSectionTitle_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.COMM_CASE_AffiliateExistingAccountFields}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_AccountContactCreationOnExistingAffiliateScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_AccountContactCreationOnExistingAffiliateScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_CompanyName_2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_CompanyName}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyVATNumber_2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_CompanyVATNumber}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_AffiliateCategory_2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_AffiliateCategory}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_PaymentMethod_2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_AffiliatePaymentMethod}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyEmail_2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_CompanyEmail}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyAddress_2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_CompanyAddress}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>COMM_AccountContactCreationOnExistingAffiliateScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_CompanyNameValue_2</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyVATNumberValue_2</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyVATNumber__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_AffiliateCategoryValue_2</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_AffiliateCategory__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_AffiliatePaymentMethod_2</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_AffiliatePaymentMethod__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyEmailValue_2</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyEmail__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyAddressStreetValue_2</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyAddress__Street__s}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyAddressZipCodeValue_2</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyAddress__PostalCode__s}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyAddressCityValue_2</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyAddress__City__s}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyAddressCountryValue_2</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyAddress__CountryCode__s}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_ContactSectionTitle_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.COMM_CASE_AffiliateContactFields}﻿:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_AccountContactCreationOnExistingAffiliateScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_AccountContactCreationOnExistingAffiliateScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_FirstName_2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_FirstName}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_LastName_2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_LastName}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_Email_2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_Email}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>COMM_AccountContactCreationOnExistingAffiliateScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_FirstNameValue_2</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_FirstName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_LastNameValue_2</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_LastName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_EmailValue_2</name>
                    <fieldText>&lt;p&gt;{!recordId.SuppliedEmail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen with details for Account and Contact  creation for Affiliate Requests on not existing Affiliate Account.</description>
        <name>COMM_AccountContactCreationOnNotExistingAffiliateScreen</name>
        <label>Account / Contact creation on not existing affiliate Screen</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_SetAffiliateAccount</targetReference>
        </connector>
        <fields>
            <name>COMM_AccountSectionTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.COMM_CASE_AffiliateAccountFields}:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_AccountContactCreationOnNotExistingAffiliateScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_AccountContactCreationOnNotExistingAffiliateScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_CompanyName</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_CompanyName}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyVATNumber</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_CompanyVATNumber}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_AffiliateCategory</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_AffiliateCategory}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_PaymentMethod</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_AffiliatePaymentMethod}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyEmail</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_CompanyEmail}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyAddress</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_CompanyAddress}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>COMM_AccountContactCreationOnNotExistingAffiliateScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_CompanyNameValue</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyVATNumberValue</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyVATNumber__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_AffiliateCategoryValue</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_AffiliateCategory__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_AffiliatePaymentMethod</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_AffiliatePaymentMethod__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyEmailValue</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyEmail__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyAddressStreetValue</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyAddress__Street__s}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyAddressZipCodeValue</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyAddress__PostalCode__s}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyAddressCityValue</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyAddress__City__s}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_CompanyAddressCountryValue</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_CompanyAddress__CountryCode__s}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_ContactSectionTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.COMM_CASE_AffiliateContactFields}﻿:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_AccountContactCreationOnNotExistingAffiliateScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_AccountContactCreationOnNotExistingAffiliateScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_FirstName</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_FirstName}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_LastName</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_LastName}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_Email</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!$Label.COMM_CASE_Email}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>COMM_AccountContactCreationOnNotExistingAffiliateScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_FirstNameValue</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_FirstName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_LastNameValue</name>
                    <fieldText>&lt;p&gt;{!recordId.COMM_LastName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_EmailValue</name>
                    <fieldText>&lt;p&gt;{!recordId.SuppliedEmail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_ErrorMessage</name>
        <label>Screen Error Message</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_DisplayText_ErrorOutputMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Close this window and check the record page. The following Error occurred:﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!COMM_ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_GetCollectivePartnerRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Affiliate Account record to create definition.</description>
        <name>COMM_AffiliateAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Contact record to create definition.</description>
        <name>COMM_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>COMM_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case record to process.</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
