force-app/main/default/flows/COMM_FLW_Generic_GetEmailsFromQueueMembers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_User_Email_to_Collection</name>
        <label>Add User Email to Collection</label>
        <locationX>534</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_User_Emails.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Decision_UserLanguageSplit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Id_to_Collection</name>
        <label>Add User Id to Collection</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_User_Ids.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_User_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>QueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_AddQueueIdToCollection</name>
        <label>Add Queue Id to Collection</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_QueueIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_User_Ids.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_User_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_AddRoleIdToCollection</name>
        <label>Add Role Id to Collection</label>
        <locationX>270</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_RoleId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>COMM_Loop_CollectRoleIdFromGroup.RelatedId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Loop_CollectRoleIdFromGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_StoreEmailInEnglishList</name>
        <label>Store Email in English List</label>
        <locationX>798</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>EnglishEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_User_Emails.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_User_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_StoreEmailInPortugueseList</name>
        <label>Store Email in Portuguese List</label>
        <locationX>270</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>PortugueseEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_User_Emails.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_User_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_StoreEmailInSpanishList</name>
        <label>Store Email in Spanish List</label>
        <locationX>534</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>SpanishEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_User_Emails.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_User_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_StoreUserRecordsInList</name>
        <label>Assignment: Store User Records in List</label>
        <locationX>182</locationX>
        <locationY>2450</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_UserList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Details</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>COMM_Decision_MemberIsUserOrQueue</name>
        <label>Member is User or Queue?</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Add_User_Id_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collect_User_Ids.UserOrGroupId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Assignment_AddQueueIdToCollection</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_UserLanguageSplit</name>
        <label>User Language Split</label>
        <locationX>534</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>COMM_Assignment_StoreEmailInEnglishList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>English</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_Portuguese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collect_User_Emails.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pt_PT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Assignment_StoreEmailInPortugueseList</targetReference>
            </connector>
            <label>Portuguese (Portugal)</label>
        </rules>
        <rules>
            <name>COMM_Outcome_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collect_User_Emails.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Assignment_StoreEmailInSpanishList</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_VerifyGroupType</name>
        <label>Verify Group Type</label>
        <locationX>402</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>COMM_Loop_CollectRoleIdFromGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_GroupIsRole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Loop_CollectRoleIdFromGroup.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Role</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Assignment_AddRoleIdToCollection</targetReference>
            </connector>
            <label>Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Queue_Id</name>
        <label>Has Queue Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Queue_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Queue ID</defaultConnectorLabel>
        <rules>
            <name>No_Queue_Id</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>QueueId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QueueId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>No Queue Id</label>
        </rules>
    </decisions>
    <description>Returns a list of all the emails of the given queue members</description>
    <environments>Default</environments>
    <interviewLabel>Get Emails From Queue Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Emails From Queue Members</label>
    <loops>
        <name>Collect_User_Emails</name>
        <label>Collect User Emails</label>
        <locationX>182</locationX>
        <locationY>1850</locationY>
        <collectionReference>Get_User_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_User_Email_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_Assignment_StoreUserRecordsInList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Collect_User_Ids</name>
        <label>Collect User Ids</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_Queue_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_Decision_MemberIsUserOrQueue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_GetRecords_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>COMM_Loop_CollectRoleIdFromGroup</name>
        <label>Collect Role Id from Group</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <collectionReference>COMM_GetRecords_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_Decision_VerifyGroupType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>COMM_GetRecords_Group</name>
        <label>Get Group</label>
        <locationX>182</locationX>
        <locationY>1142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Loop_CollectRoleIdFromGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>COMM_Variable_QueueIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Members</name>
        <label>Get Queue Members</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_User_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>182</locationX>
        <locationY>1742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_User_Emails</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UserIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>In</operator>
            <value>
                <elementReference>COMM_Variable_RoleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>LanguageLocaleKey</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Queue_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>List of Queue to query</description>
        <name>COMM_Variable_QueueIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_Variable_RoleId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store the list of Users found in Queue (to return to parent flow)</description>
        <name>COMM_Variable_UserList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>List where email addresses of English Speaking User&apos;s are stored</description>
        <name>EnglishEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>List where email addresses of Portuguese Speaking User&apos;s are stored</description>
        <name>PortugueseEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Developer Name of the Queue. If QueueId has a value, this can be left empty.</description>
        <name>QueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Id of the Queue. If empty, will use QueueDeveloperName to get Id</description>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>List where email addresses of Spanish Speaking User&apos;s are stored</description>
        <name>SpanishEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
