force-app/main/default/flows/COMM_FLW_Subscription_SubscriptionCancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>COMM_Action_GetLowestPriceBookEntry</name>
        <label>Action: Get Lowest Price Book Entry</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>COMM_SL_GetCardProductPrice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_Create_CaseRecordCancelSubscription</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>productCodeList</name>
            <value>
                <elementReference>COMM_Variable_CardProductCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_GetCardProductPrice</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>COMM_Variable_LowestPriceBookEntry</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Confirm if the cancel action can run based on the Case Data</description>
        <name>COMM_Decision_ConfirmActionAvailability</name>
        <label>Confirm Action Availability</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>COMM_Screen_SubscriptionCancelNotPermitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_Confirmed</name>
            <conditionLogic>((((1 AND ( 2 OR ( 3 OR 4 OR 5 OR 6 ) ) ) AND (7 OR (9 AND 4) )) AND 8) OR 10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>recordId.COMM_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Archieved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Process Concluded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Archived</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CancelationRequest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COMM_Formula_CurrentDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Formula_CancellationDateLimit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CancelationRequest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Super Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ANA_Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Screen_SubscriptionCancellationWarning</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
    </decisions>
    <description>This flow gives the possibility to cancel a subscription in order to efficiently manage the company subscriptions.</description>
    <environments>Default</environments>
    <formulas>
        <description>Cancelation date exact moment</description>
        <name>COMM_Formula_CancelationDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Cancellation action limit date</description>
        <name>COMM_Formula_CancellationDateLimit</name>
        <dataType>Date</dataType>
        <expression>{!recordId.COMM_EndDate__c} - 15</expression>
    </formulas>
    <formulas>
        <name>COMM_Formula_CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>COMM_Formula_Status</name>
        <dataType>String</dataType>
        <expression>IF( OR ( {!$Profile.Name} == &quot;Super Admin&quot;,  {!$UserRole.DeveloperName} == &quot;COMM_ANA_Admin&quot;), &quot;Process Concluded&quot;, &quot;Waiting Approval&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula to retrieve Subscription&apos;s Airport. If Value Field is empty retrieve airport from Subscription&apos;s Product</description>
        <name>COMM_SubscriptionAirportFormula</name>
        <dataType>String</dataType>
        <expression> IF(ISPICKVAL({!recordId.COMM_AirportValue__c}, &quot;&quot;), TEXT({!recordId.COMM_Product__r.COMM_Airport__c}), TEXT({!recordId.COMM_AirportValue__c}))</expression>
    </formulas>
    <formulas>
        <description>Formula for the Airport Admin Queue Name based on Subscription Location</description>
        <name>COMM_SubscriptionRequestAirportAdminQueueNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!COMM_SubscriptionAirportFormula}), &quot;COMM_SubscriptionRequestANAAdmin&quot;, &quot;COMM_SubscriptionRequestAirportAdmin_&quot; + {!COMM_SubscriptionAirportFormula})</expression>
    </formulas>
    <formulas>
        <description>Formula to obtain the Contact Id that the Case will be associated with. Case will be associated with User&apos;s Contact, if he doesn&apos;t have one then assign it to Subscription&apos;s Contact.</description>
        <name>COMM_Variable_ContactId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$User.ContactId}), {!recordId.COMM_Contact__c}, {!$User.ContactId})</expression>
    </formulas>
    <interviewLabel>COMM: Subscription Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>COMM: Subscription Cancellation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a case with the provided information for cancel the subscription</description>
        <name>COMM_Create_CaseRecordCancelSubscription</name>
        <label>Create Case: Cancel Subscription</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>COMM_Update_SubscriptionRecordCancelInformation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.COMM_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__City__s</field>
            <value>
                <elementReference>recordId.COMM_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__CountryCode__s</field>
            <value>
                <elementReference>recordId.COMM_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__PostalCode__s</field>
            <value>
                <elementReference>recordId.COMM_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__StateCode__s</field>
            <value>
                <elementReference>recordId.COMM_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__Street__s</field>
            <value>
                <elementReference>recordId.COMM_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Airport__c</field>
            <value>
                <elementReference>COMM_SubscriptionAirportFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CardPrice__c</field>
            <value>
                <elementReference>COMM_Variable_LowestPriceBookEntry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Card__c</field>
            <value>
                <elementReference>recordId.COMM_Card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_EndDate__c</field>
            <value>
                <elementReference>recordId.COMM_EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_FirstName__c</field>
            <value>
                <elementReference>recordId.COMM_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_InitialSubscriptionMonth__c</field>
            <value>
                <elementReference>recordId.COMM_InitialSubscriptionMonth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_JobRole__c</field>
            <value>
                <elementReference>recordId.COMM_JobRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LastName__c</field>
            <value>
                <elementReference>recordId.COMM_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LicensePlate__c</field>
            <value>
                <elementReference>recordId.COMM_LicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Periodicity__c</field>
            <value>
                <elementReference>recordId.COMM_Periodicity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PhoneNumber__c</field>
            <value>
                <elementReference>recordId.COMM_PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryLicensePlate__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryLicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleBrand__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryCarBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleModel__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryCarModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_StartDate__c</field>
            <value>
                <elementReference>recordId.COMM_StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>recordId.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionPrice__c</field>
            <value>
                <elementReference>recordId.COMM_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Subscription__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VATNumber__c</field>
            <value>
                <elementReference>recordId.COMM_VATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleBrand__c</field>
            <value>
                <elementReference>recordId.COMM_CarBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleModel__c</field>
            <value>
                <elementReference>recordId.COMM_CarModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>COMM_Variable_ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>COMM_Get_AirportAdminQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>recordId.COMM_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>COMM_Get_CaseRecordTypeCancelationRequest.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>COMM_Formula_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>recordId.COMM_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>COMM_Get_AirportAdminQueue</name>
        <label>Get Airport Admin Queue</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Action_GetLowestPriceBookEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_SubscriptionRequestAirportAdminQueueNameFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_CaseRecordTypeCancelationRequest</name>
        <label>Get Case Record Type: Cancelation Request</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Get_AirportAdminQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_CancelationRequest</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Subscription cancel information</description>
        <name>COMM_Update_SubscriptionRecordCancelInformation</name>
        <label>Update Subscription: Cancel Information</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>COMM_Screen_SubscriptionCancellationConfirmationMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_AutomaticRenewal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CancellationDate__c</field>
            <value>
                <elementReference>COMM_Formula_CancelationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Status__c</field>
            <value>
                <stringValue>Archieved</stringValue>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>COMM_Screen_SubscriptionCancellationConfirmationMessage</name>
        <label>Screen Subscription Cancellation Confirmation Message</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_DisplayText_SubscriptionCancellationConfirmationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_CANCELCONFIRMATION}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_SubscriptionCancellationWarning</name>
        <label>Screen Subscription Cancellation Warning</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_Get_CaseRecordTypeCancelationRequest</targetReference>
        </connector>
        <fields>
            <name>COMM_DisplayText_SubscriptionCancellationWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_CANCELWARNING}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_SubscriptionCancelNotPermitted</name>
        <label>Subscription Cancel Not Permitted</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_DisplayText_SubscriptionCancelNotPermitted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_NOTPERMITTEDWARNING}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_Decision_ConfirmActionAvailability</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>COMM_Variabel_UserLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>pt_PT</stringValue>
        </value>
    </variables>
    <variables>
        <name>COMM_Variable_CancellationSubscriptionFormEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>COMM_Partner_SubmittedCancellationSubscriptionForm</stringValue>
        </value>
    </variables>
    <variables>
        <name>COMM_Variable_CardProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.COMM_Card__r.ProductCode</elementReference>
        </value>
    </variables>
    <variables>
        <name>COMM_Variable_LowestPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>COMM_Variable_RecipientEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store Group Members Details.</description>
        <name>COMM_Variable_UserIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <description>Collection with user ids to process.</description>
        <name>COMM_Variable_UserIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current Subscription Record</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>COMM_Subscription__c</objectType>
    </variables>
</Flow>
