force-app/main/default/flows/COMM_FLW_Case_Subscription_PreSubmitForApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_EN_Emails_to_Airport_Admin</name>
        <label>Send EN Emails to Airport Admin</label>
        <locationX>314</locationX>
        <locationY>1824</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>Get_Default_No_Reply_Address.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>Get_Emails_From_Queue.EnglishEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Get_EN_Email_Template_Partner_Request_Submitted.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_ES_Emails_to_Airport_Admin</name>
        <label>Send ES Emails to Airport Admin</label>
        <locationX>314</locationX>
        <locationY>1416</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EN_Users_in_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>Get_Default_No_Reply_Address.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>Get_Emails_From_Queue.SpanishEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Get_ES_Email_Template_Partner_Request_Submitted.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_PT_Emails_to_Airport_Admin</name>
        <label>Send PT Emails to Airport Admin</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ES_Users_in_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>Get_Default_No_Reply_Address.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>Get_Emails_From_Queue.PortugueseEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Get_PT_Email_Template_Partner_Request_Submitted.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Email_Template_to_COMM_Partner_SubmittedCancellationSubscriptionForm</name>
        <label>Set Email Template to COMM_Partner_SubmittedCancellationSubscriptionForm</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COMM_Partner_SubmittedCancellationSubscriptionForm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Default_No_Reply_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Template_to_COMM_Partner_SubmittedManualRenewalSubscriptionForm</name>
        <label>Set Email Template to COMM_Partner_SubmittedManualRenewalSubscriptionForm</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COMM_Partner_SubmittedManualRenewalSubscriptionForm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Default_No_Reply_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Template_to_COMM_Partner_SubmittedSubscriptionForm</name>
        <label>Set Email Template to COMM_Partner_SubmittedSubscriptionForm</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateDevName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COMM_Partner_SubmittedSubscriptionForm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Default_No_Reply_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EN_Users_in_Queue</name>
        <label>EN Users in Queue?</label>
        <locationX>446</locationX>
        <locationY>1608</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Emails_From_Queue.EnglishEmailList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EN_Email_Template_Partner_Request_Submitted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ES_Users_in_Queue</name>
        <label>ES Users in Queue?</label>
        <locationX>446</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>EN_Users_in_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Emails_From_Queue.SpanishEmailList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ES_Email_Template_Partner_Request_Submitted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PT_Users_in_Queue</name>
        <label>PT Users in Queue?</label>
        <locationX>446</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>ES_Users_in_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Emails_From_Queue.PortugueseEmailList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PT_Email_Template_Partner_Request_Submitted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Split_by_RT</name>
        <label>Split by RT</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Other RTs</defaultConnectorLabel>
        <rules>
            <name>Modification_RTs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewCardDueToDamageLoss</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeOwnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeSubscriptionInformation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangePaymentPeriodicity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeUserInformation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Template_to_COMM_Partner_SubmittedSubscriptionForm</targetReference>
            </connector>
            <label>Modification RTs</label>
        </rules>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CancelationRequest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Template_to_COMM_Partner_SubmittedCancellationSubscriptionForm</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ManualRenewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Template_to_COMM_Partner_SubmittedManualRenewalSubscriptionForm</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula to retrieve Subscription&apos;s Airport. If Value Field is empty retrieve airport from Subscription&apos;s Product</description>
        <name>COMM_SubscriptionAirportFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.COMM_Subscription__r.COMM_AirportValue__c}, &quot;&quot;), TEXT({!$Record.COMM_Subscription__r.COMM_Product__r.COMM_Airport__c}), TEXT({!$Record.COMM_Subscription__r.COMM_AirportValue__c}))</expression>
    </formulas>
    <formulas>
        <description>Formula for the Airport Admin Queue Name based on Subscription Location. If Airport value is missing add to ANA Admin Queue.</description>
        <name>COMM_SubscriptionRequestAirportAdminQueueNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!COMM_SubscriptionAirportFormula}), &quot;COMM_SubscriptionRequestANAAdmin&quot;, &quot;COMM_SubscriptionRequestAirportAdmin_&quot; + {!COMM_SubscriptionAirportFormula})</expression>
    </formulas>
    <interviewLabel>Case Subscription Pre Submit For Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Subscription Pre Submit For Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Default_No_Reply_Address</name>
        <label>Get Default No Reply Address</label>
        <locationX>446</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Emails_From_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_Request_ANA_Custom_Notification</name>
        <label>Get Pending Request ANA Custom Notification</label>
        <locationX>1106</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_to_Airport_Admin_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_ANA_SubscriptionRequestPending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Split_by_RT</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
OR(
    {!$Record.RecordType.DeveloperName} = &apos;COMM_NewSubscription&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_CancelationRequest&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ManualRenewal&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_NewCardDueToDamageLoss&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangeOwnership&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangeSubscriptionInformation&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangePaymentPeriodicity&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangeUserInformation&apos;
),
ISPICKVAL({!$Record.Status}, &apos;Waiting Approval&apos;),
NOT(BEGINS({!$Record.OwnerId}, &apos;005&apos;)),
({!$Record.Owner:User.Profile.Name} &lt;&gt; &apos;Customer Community Plus Login User&apos;),
({!$Record.Owner:User.Profile.Name} &lt;&gt; &apos;Customer Community Plus&apos;)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X2_Days_Later</name>
            <connector>
                <targetReference>Get_Pending_Request_ANA_Custom_Notification</targetReference>
            </connector>
            <label>2 Days Later</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Emails_From_Queue</name>
        <label>Get Emails From Queue</label>
        <locationX>446</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>PT_Users_in_Queue</targetReference>
        </connector>
        <flowName>COMM_FLW_Generic_GetEmailsFromQueueMembers</flowName>
        <inputAssignments>
            <name>QueueDeveloperName</name>
            <value>
                <elementReference>COMM_SubscriptionRequestAirportAdminQueueNameFormula</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_EN_Email_Template_Partner_Request_Submitted</name>
        <label>Get EN Email Template Partner Request Submitted</label>
        <locationX>314</locationX>
        <locationY>1716</locationY>
        <connector>
            <targetReference>Send_EN_Emails_to_Airport_Admin</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>EmailTemplateDevName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_ES_Email_Template_Partner_Request_Submitted</name>
        <label>Get ES Email Template Partner Request Submitted</label>
        <locationX>314</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Send_ES_Emails_to_Airport_Admin</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>EmailTemplateDevName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <stringValue>es</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_PT_Email_Template_Partner_Request_Submitted</name>
        <label>Get PT Email Template Partner Request Submitted</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Send_PT_Emails_to_Airport_Admin</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>EmailTemplateDevName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <stringValue>pt_PT</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_Notification_to_Airport_Admin_Queue</name>
        <label>Send Notification to Airport Admin Queue</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <flowName>COMM_FLW_Generic_SendNotificationToQueue</flowName>
        <inputAssignments>
            <name>CustomNotificationId</name>
            <value>
                <elementReference>Get_Pending_Request_ANA_Custom_Notification.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_EN</name>
            <value>
                <elementReference>EN_NotificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_ES</name>
            <value>
                <elementReference>ES_NotificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_PT</name>
            <value>
                <elementReference>PT_NotificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_EN</name>
            <value>
                <elementReference>Notification_Title_EN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_ES</name>
            <value>
                <elementReference>Notification_Title_ES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_PT</name>
            <value>
                <elementReference>Notification_Title_PT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QueueDeveloperName</name>
            <value>
                <elementReference>COMM_SubscriptionRequestAirportAdminQueueNameFormula</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EN_NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This user&apos;s subscription request {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} is pending for 2 days.</text>
    </textTemplates>
    <textTemplates>
        <name>ES_NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Su solicitud de abono para {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} lleva pendiente 2 días.</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Title_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANA – Aeroportos de Portugal Pending Subscription Request</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Title_ES</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANA – Aeroportos de Portugal Solicitud de Abono Pendiente</text>
    </textTemplates>
    <textTemplates>
        <name>Notification_Title_PT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANA – Aeroportos de Portugal Pedido de Avença Pendente</text>
    </textTemplates>
    <textTemplates>
        <name>PT_NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>O pedido de avença deste utilizador {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} está pendente há 2 dias.</text>
    </textTemplates>
    <variables>
        <name>EmailTemplateDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
