force-app/main/default/flows/COMM_OMS_Actions_When_OrderSummary_Paid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_InputOrderSummaryId</name>
        <label>Set InputOrderSummaryId</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>COMM_OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Sales_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_InputSendEmailToCustomer_True</name>
        <label>Set  InputSendEmailToCustomer = False</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>COMM_SendEmailToCustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Voucher_and_Send_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Order_Sales_Channel</name>
        <label>Order Sales Channel?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Generate_Voucher_and_Send_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Channels</defaultConnectorLabel>
        <rules>
            <name>Order_Sales_Channel_Kiosks_Or_Reseller</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesChannel.SalesChannelName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kiosks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesChannel.SalesChannelName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_InputSendEmailToCustomer_True</targetReference>
            </connector>
            <label>Kiosks or Reseller</label>
        </rules>
    </decisions>
    <description>This flow will:
1. Async Call to Generate Vouchers and Send Email if Order is not from Kiosk</description>
    <environments>Default</environments>
    <interviewLabel>Actions When Order Summary Paid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actions When Order Summary Paid or CPMS status is updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>((1 AND 2) OR (3 AND 4 AND 6)) AND 5</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COMM_CPMSStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COMM_CPMSStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>COMM_IsLegacyOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Refunded</stringValue>
            </value>
        </filters>
        <object>OrderSummary</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Set_InputOrderSummaryId</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Voucher_and_Send_Email</name>
        <label>Generate Voucher and Send Email</label>
        <locationX>374</locationX>
        <locationY>684</locationY>
        <flowName>COMM_OMS_GenerateVoucherAndSendEmail</flowName>
        <inputAssignments>
            <name>COMM_InputOrderSummaryId</name>
            <value>
                <elementReference>COMM_OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_inputSendEmailToCustomer</name>
            <value>
                <elementReference>COMM_SendEmailToCustomer</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>COMM_OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>COMM_SendEmailToCustomer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
