force-app/main/default/flows/COMM_FLW_Case_SendAssignmentEmailToQueue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>COMM_Constant_AffiliateQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_AffiliateRequestsCaseQueue</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMM_Constant_AffiliateRegistrationRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_AffiliateRequest</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMM_Constant_AffiliateTemplateName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_Affiliate_CaseAssignedToQueue</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMM_Constant_IndividualStaffQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_IndividualStaffRequestsCaseQueue</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMM_Constant_IndividualStaffRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_IndividualStaffRequest</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMM_Constant_IndividualStaffTemplateName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_IndividualStaff_CaseAssignedToQueue</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMM_Constant_PartnerQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_PartnerRequestsCaseQueue</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMM_Constant_PartnerRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_PartnerRequest</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMM_Constant_PartnerTemplateName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_Partner_CaseAssignedToQueue</stringValue>
        </value>
    </constants>
    <decisions>
        <name>COMM_Decision_CaseRecordType</name>
        <label>Decision: Case Record Type</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_PartnerRegistrationRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Constant_PartnerRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Subflow_SendEmailToPartnerRegistrationQueueMembers</targetReference>
            </connector>
            <label>Partner Registration Request</label>
        </rules>
        <rules>
            <name>COMM_Outcome_AffiliateRegistrationRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Constant_AffiliateRegistrationRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Subflow_SendEmailToAffiliateRegistrationQueueMembers</targetReference>
            </connector>
            <label>Affiliate Registration Request</label>
        </rules>
        <rules>
            <name>COMM_Outcome_IndividualStaffRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Constant_IndividualStaffRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Subflow_SendEmailToIndividualStaffQueueMembers</targetReference>
            </connector>
            <label>Individual Staff Request</label>
        </rules>
    </decisions>
    <description>Trigger flow that send email to queue members informing of assignment</description>
    <environments>Default</environments>
    <interviewLabel>Case Send Assignment Email to Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Affiliate/Partner/Individual Send Assignment Email to Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_Decision_CaseRecordType</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00G</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>COMM_Subflow_SendEmailToAffiliateRegistrationQueueMembers</name>
        <label>Subflow: Send Email to Affiliate Registration Queue Members</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <flowName>COMM_FLW_Utilities_SendEmailToQueueMembers</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Constant_AffiliateTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueDeveloperName</name>
            <value>
                <elementReference>COMM_Constant_AffiliateQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_UseDeveloperName</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>COMM_Subflow_SendEmailToIndividualStaffQueueMembers</name>
        <label>Subflow: Send Email to Individual Staff Queue Members</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <flowName>COMM_FLW_Utilities_SendEmailToQueueMembers</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Constant_IndividualStaffTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueDeveloperName</name>
            <value>
                <elementReference>COMM_Constant_IndividualStaffQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_UseDeveloperName</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>COMM_Subflow_SendEmailToPartnerRegistrationQueueMembers</name>
        <label>Subflow: Send Email to Partner Registration Queue Members</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>COMM_FLW_Utilities_SendEmailToQueueMembers</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Constant_PartnerTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueDeveloperName</name>
            <value>
                <elementReference>COMM_Constant_PartnerQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_UseDeveloperName</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
