force-app/main/default/flows/COMM_FLW_Generic_SendNotificationToQueue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_EN_Users</name>
        <label>Send Notification to EN Users</label>
        <locationX>138</locationX>
        <locationY>2642</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_ES_Notifications</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>EN_UserIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle_EN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody_EN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Notification_TargetId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_ES_Users</name>
        <label>Send Notification to ES Users</label>
        <locationX>138</locationX>
        <locationY>2942</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ES_UserIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle_ES</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody_ES</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Notification_TargetId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_PT_Users</name>
        <label>Send Notification to PT Users</label>
        <locationX>138</locationX>
        <locationY>2342</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_EN_Notifications</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>PT_UserIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle_PT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody_PT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Notification_TargetId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_EN_UserIDs</name>
        <label>Add to EN_UserIDs</label>
        <locationX>622</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>EN_UserIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sort_Users_By_Language.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Users_By_Language</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_ES_UserIDs</name>
        <label>Add to ES_UserIDs</label>
        <locationX>886</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>ES_UserIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sort_Users_By_Language.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Users_By_Language</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_PT_UserIDs</name>
        <label>Add to PT_UserIDs</label>
        <locationX>358</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>PT_UserIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sort_Users_By_Language.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Users_By_Language</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Id_to_UserIds</name>
        <label>Add User Id to UserIds</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_All_User_Ids.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_User_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_AddQueueIdToCollection</name>
        <label>Add Queue Id to Collection</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_QueueIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_All_User_Ids.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_User_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_AddRoleIdToCollection</name>
        <label>Add Role Id to Collection</label>
        <locationX>138</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_RoleId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>COMM_Loop_CollectRoleIdFromGroup.RelatedId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Loop_CollectRoleIdFromGroup</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_User_Language</name>
        <label>Check User Language</label>
        <locationX>754</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Sort_Users_By_Language</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>pt_PT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Users_By_Language.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pt_PT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_PT_UserIDs</targetReference>
            </connector>
            <label>pt_PT</label>
        </rules>
        <rules>
            <name>en_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Users_By_Language.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_EN_UserIDs</targetReference>
            </connector>
            <label>en_US</label>
        </rules>
        <rules>
            <name>es_ES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Users_By_Language.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_ES_UserIDs</targetReference>
            </connector>
            <label>es_ES</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_MemberIsUserOrQueue</name>
        <label>Member is User or Queue?</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Add_User_Id_to_UserIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collect_All_User_Ids.UserOrGroupId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Assignment_AddQueueIdToCollection</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_VerifyGroupType</name>
        <label>Verify Group Type</label>
        <locationX>270</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>COMM_Loop_CollectRoleIdFromGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_GroupIsRole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Loop_CollectRoleIdFromGroup.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Role</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Assignment_AddRoleIdToCollection</targetReference>
            </connector>
            <label>Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Or_User</name>
        <label>Queue Or User</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Unexpected Input</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueDeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QueueDeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Details</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_EN_Notifications</name>
        <label>Send EN Notifications?</label>
        <locationX>270</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>Send_ES_Notifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_EN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EN_UserIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_to_EN_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_ES_Notifications</name>
        <label>Send ES Notifications?</label>
        <locationX>270</locationX>
        <locationY>2834</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ES_UserIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_to_ES_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_PT_Notifications</name>
        <label>Send PT Notifications?</label>
        <locationX>270</locationX>
        <locationY>2234</locationY>
        <defaultConnector>
            <targetReference>Send_EN_Notifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PT_UserIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_to_PT_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Send a notification to all members of a queue, translated to specific languages</description>
    <environments>Default</environments>
    <interviewLabel>COMM_FLW_Generic_SendNotificationToQueue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Notification To Queue</label>
    <loops>
        <name>Collect_All_User_Ids</name>
        <label>Collect All User Ids</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Queue_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_Decision_MemberIsUserOrQueue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_GetRecords_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>COMM_Loop_CollectRoleIdFromGroup</name>
        <label>Collect Role Id from Group</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <collectionReference>COMM_GetRecords_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_Decision_VerifyGroupType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Sort_Users_By_Language</name>
        <label>Sort Users By Language</label>
        <locationX>270</locationX>
        <locationY>1742</locationY>
        <collectionReference>Get_User_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_User_Language</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_PT_Notifications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>COMM_GetRecords_Group</name>
        <label>Get Group</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Loop_CollectRoleIdFromGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>COMM_Variable_QueueIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Users</name>
        <label>Get Queue Users</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_All_User_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>270</locationX>
        <locationY>1634</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Users_By_Language</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UserIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>In</operator>
            <value>
                <elementReference>COMM_Variable_RoleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Queue_Or_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>List of Queue to query</description>
        <name>COMM_Variable_QueueIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store list of roles that are members of the queue</description>
        <name>COMM_Variable_RoleId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Id of the custom notification to send</description>
        <name>CustomNotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>List of User Ids with Language = en_US</description>
        <name>EN_UserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>List of User Ids with Language = es_ES</description>
        <name>ES_UserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The record Id to target in the notification</description>
        <name>Notification_TargetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The notification body for en_US notifications</description>
        <name>NotificationBody_EN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The notification body for es_ES notifications</description>
        <name>NotificationBody_ES</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The notification body for pt_PT notifications</description>
        <name>NotificationBody_PT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Notification Title en_US</description>
        <name>NotificationTitle_EN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Notification title for es_ES</description>
        <name>NotificationTitle_ES</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The title of the notification to be sent pt_PT</description>
        <name>NotificationTitle_PT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User Ids of users with PT set as language</description>
        <name>PT_UserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The developer name of the queue to send the notification to</description>
        <name>QueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>List of user IDs</description>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
