force-app/main/default/flows/COMM_FLW_Case_ApprovedRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>COMM_Action_GetAirportValueAccount</name>
        <label>Action: Get Airport Value for Account</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <actionName>COMM_SL_AddValueToMultiPicklist</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_UpdateRecords_ClientsAccount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>multiPicklistValue</name>
            <value>
                <elementReference>$Record.Account.COMM_Airport__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>valueToAdd</name>
            <value>
                <elementReference>$Record.COMM_Airport__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_AddValueToMultiPicklist</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>COMM_Action_SendEmail</name>
        <label>Action: Send Email</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetRecords_GetDefaultNoReplyAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplatePartner.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>COMM_Action_SendEmailApprovedIndividualStaffRequest</name>
        <label>Action: Send Email informing of Approval</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetRecords_DefaultNoReplyAddressIndividualStaffRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplateApprovedIndividualStaffRequest.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Supplied_Email_to_User_Emails</name>
        <label>Add Supplied Email to User Emails</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_SendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_AddSuppliedEmailToUserEmails</name>
        <label>Add Supplied Email to User Emails</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_GetAirportValueAccount</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>COMM_Constant_AffiliateRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_AffiliateRequest</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMM_Constant_IndividualStaffRequestRTDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_IndividualStaffRequest</stringValue>
        </value>
    </constants>
    <constants>
        <description>Constant to store the Developer Name for the &quot;Partner Request&quot; Case Record Type</description>
        <name>COMM_Constant_PartnerRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_PartnerRequest</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMM_Constant_TemplateNameIndividualStaffRequestApproved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_IndividualStaff_RequestApproval</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>COMM_ErrorMessage_PleaseFillAirport</name>
        <label>Error Message: Please Fill Airport</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Airport is required to be filled before approving an Individual Staff Request</errorMessage>
            <fieldSelection>COMM_Airport__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>COMM_Decision_AirportFilled</name>
        <label>Airport Filled?</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>COMM_GetRecords_DefaultNoReplyAddressIndividualStaffRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_AirportMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_Airport__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_PleaseFillAirport</targetReference>
            </connector>
            <label>Missing</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the case Record Type to check what email is sent</description>
        <name>COMM_Decision_CaseRecordType</name>
        <label>Decision: Case Record Type</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_PartnerRegistrationRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Constant_PartnerRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetRecords_GetDefaultNoReplyAddress</targetReference>
            </connector>
            <label>Partner Registration Request</label>
        </rules>
        <rules>
            <name>COMM_Outcome_IndividualStaffRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Constant_IndividualStaffRequestRTDeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Decision_AirportFilled</targetReference>
            </connector>
            <label>Individual Staff Request</label>
        </rules>
    </decisions>
    <description>Trigger Flow for logic related to Cases that were updated to Process Concluded when Case&apos;s Approval Process was Approved.</description>
    <environments>Default</environments>
    <interviewLabel>Case Affiliate/Partner/Individual Approved Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Partner/Individual Approved Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>COMM_GetRecords_DefaultNoReplyAddressIndividualStaffRequest</name>
        <label>Get: Default No-Reply Address</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Subflow_GetEmailTemplateApprovedIndividualStaffRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_GetRecords_GetDefaultNoReplyAddress</name>
        <label>Get Default No-Reply Address</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Subflow_GetEmailTemplatePartner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>COMM_UpdateRecords_ClientsAccount</name>
        <label>Update: Client&apos;s Account</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>COMM_Action_SendEmailApprovedIndividualStaffRequest</targetReference>
        </connector>
        <inputAssignments>
            <field>COMM_Airport__c</field>
            <value>
                <elementReference>COMM_Action_GetAirportValueAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_IndividualStaff__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_Decision_CaseRecordType</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Process Concluded</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplateApprovedIndividualStaffRequest</name>
        <label>Subflow: Get Email Template for Approved Individual Staff Request</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>COMM_Assignment_AddSuppliedEmailToUserEmails</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Constant_TemplateNameIndividualStaffRequestApproved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplatePartner</name>
        <label>Subflow: Get Email Template Partner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Add_Supplied_Email_to_User_Emails</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Variable_TemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>COMM_Variable_TemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>COMM_Partner_RequestApproved</stringValue>
        </value>
    </variables>
    <variables>
        <name>COMM_Variable_TemplateNameAffiliate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>COMM_Affiliate_RequestApproval</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
