force-app/main/default/flows/COMM_OMS_ManualRetryEnsureRefunds.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ensure_Refunds</name>
        <label>Ensure Refunds</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <actionName>ensureRefundsOrderSummaryAsync</actionName>
        <actionType>ensureRefundsOrderSummaryAsync</actionType>
        <connector>
            <targetReference>Retry_has_been_successfuly_submitted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ensure_refunds_action_failed_screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureRefundsAsyncInput</name>
            <value>
                <elementReference>ensureRefundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Credit_Memo.ReferenceEntityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ensureRefundsOrderSummaryAsync</nameSegment>
        <outputParameters>
            <assignToReference>ensureRefundsAsyncOutput</assignToReference>
            <name>ensureRefundsAsyncOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Process_Refund</name>
        <label>Process Refund</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <actionName>COMM_SL_RefundPayment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Refund</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Get_Credit_Memo.TotalAmountWithTax</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idempotencyKey</name>
            <value>
                <elementReference>Get_Credit_Memo.DocumentNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentId</name>
            <value>
                <elementReference>Get_Payment.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_RefundPayment</nameSegment>
        <outputParameters>
            <assignToReference>refundTransactionId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_error_inserting_refund</name>
        <label>Assignment error inserting refund</label>
        <locationX>842</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>create_refunds_error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The insert of Refund failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_inserting_refunds_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_error_inserting_refund_payment_line</name>
        <label>Assignment error inserting refund payment line</label>
        <locationX>578</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>create_refunds_error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The insert of Refund Payment Line failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_inserting_refunds_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_ensure_refunds_input</name>
        <label>Create ensure refunds input</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.creditMemoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Credit_Memo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Refunds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Confirmed_submit_to_create_refunds_manually</name>
        <label>Confirmed submit to create refunds manually</label>
        <locationX>710</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmed_submit_to_create_refunds_manually</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmed_want_to_submit_and_create_refunds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Refund</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmed_to_proceed_to_create_manually_refunds</name>
        <label>Confirmed to proceed?</label>
        <locationX>875</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmed_to_proceed_to_create_manually_refunds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmed_refund_has_been_manually_done_and_proceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Refund_for_the_credit_memo</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmed_want_to_proceed_and_ensure_refunds</name>
        <label>Confirmed want to proceed and ensure refunds</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmed_want_to_proceed_and_ensure_refunds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmed_want_to_ensure_refunds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ensure_refunds_input</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delayed_Refund_to_Process</name>
        <label>Delayed Refund to Process?</label>
        <locationX>1650</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Refunds_have_been_successfully_created_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Delayed_Refund_to_Process_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Delayed_Refund_To_Process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Delayed_Refund</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Balance_0</name>
        <label>Is Balance 0</label>
        <locationX>1650</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Memo.Balance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Memo_Invoice_Application</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Memo.Balance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_to_proceed_and_ensure_refunds_screen</targetReference>
            </connector>
            <label>Greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reference_Entity_Order_Summary</name>
        <label>Is Reference Entity Order Summary</label>
        <locationX>2170</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Reference_entity_is_not_an_Order_Summary_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_is_Order_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Memo.ReferenceEntityId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1Os</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Balance_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_are_refunds_for_credit_memo</name>
        <label>There are refunds for credit memo?</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>confirm_user_want_to_submit_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are_refunds_for_credit_memo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Refund_for_the_credit_memo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refunds_have_been_already_created_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>OMS Manual Retry Ensure Refunds {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMS Manual Retry Ensure Refunds</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Refund</name>
        <label>Create Refund</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Create_RefundLinePayment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assignment_error_inserting_refund</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Payment.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Credit_Memo.TotalAmountWithTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CreditMemoId__c</field>
            <value>
                <elementReference>Get_Credit_Memo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <stringValue>Record manually created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GatewayRefNumber</field>
            <value>
                <elementReference>refundTransactionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderPaymentSummaryId</field>
            <value>
                <elementReference>Get_Payment.OrderPaymentSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentGatewayId</field>
            <value>
                <elementReference>Get_Payment.PaymentGatewayId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethodId</field>
            <value>
                <elementReference>Get_Payment.PaymentMethodId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SfResultCode</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Referenced</stringValue>
            </value>
        </inputAssignments>
        <object>Refund</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_RefundLinePayment</name>
        <label>Create RefundLinePayment</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Get_Delayed_Refund_To_Process</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assignment_error_inserting_refund_payment_line</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Credit_Memo.TotalAmountWithTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasBeenUnapplied</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentId</field>
            <value>
                <elementReference>Get_Payment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RefundId</field>
            <value>
                <elementReference>Create_Refund</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Applied</stringValue>
            </value>
        </inputAssignments>
        <object>RefundLinePayment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Credit_Memo</name>
        <label>Get Credit Memo</label>
        <locationX>2170</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Reference_Entity_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemo</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance</queriedFields>
        <queriedFields>ReferenceEntityId</queriedFields>
        <queriedFields>TotalAmountWithTax</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>DocumentNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Memo_Invoice_Application</name>
        <label>Get Credit Memo Invoice Application</label>
        <locationX>875</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreditMemoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Memo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemoInvApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>InvoiceId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Update Delayed Refund to Processed</description>
        <name>Get_Delayed_Refund_To_Process</name>
        <label>Get Delayed Refund To Process?</label>
        <locationX>1650</locationX>
        <locationY>2546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delayed_Refund_to_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>COMM_CreditMemo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>COMM_ProcessStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Processed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>COMM_DelayedRefund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>875</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PaymentLineInvoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Memo_Invoice_Application.InvoiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>875</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_to_proceed_manual_refund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PaymentLineInvoice.PaymentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderPaymentSummaryId</queriedFields>
        <queriedFields>PaymentMethodId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>PaymentGatewayId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PaymentLineInvoice</name>
        <label>Get PaymentLineInvoice</label>
        <locationX>875</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentLineInvoice</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PaymentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Refund_for_the_credit_memo</name>
        <label>Get Refund for the credit memo</label>
        <locationX>380</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_are_refunds_for_credit_memo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>COMM_CreditMemoId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>723a8e8e-d341-4ef8-bb58-44d26e94efcc.Id</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Refund</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Delayed_Refund</name>
        <label>Update Delayed Refund</label>
        <locationX>1518</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Refunds_have_been_successfully_created_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Delayed_Refund_To_Process.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ProcessStatus__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <object>COMM_DelayedRefund__c</object>
    </recordUpdates>
    <screens>
        <name>Confirm_to_proceed_and_ensure_refunds_screen</name>
        <label>Confirm to proceed and Ensure refunds</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Confirmed_want_to_proceed_and_ensure_refunds</targetReference>
        </connector>
        <fields>
            <name>confirm_want_to_proceed_and_ensure_refund_dialog</name>
            <extensionName>c:comm_omsConfirmDialog</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Are you sure you want to proceed?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>confirmed_want_to_ensure_refunds</assignToReference>
                <name>yesButtonClicked</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_to_proceed_manual_refund</name>
        <label>Confirm to proceed with Manual Refund?</label>
        <locationX>875</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Confirmed_to_proceed_to_create_manually_refunds</targetReference>
        </connector>
        <fields>
            <name>confirm_manual_refund_dialog</name>
            <extensionName>c:comm_omsConfirmDialog</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Are you sure to proceed with manual refund?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>confirmed_refund_has_been_manually_done_and_proceed</assignToReference>
                <name>yesButtonClicked</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>confirm_user_want_to_submit_screen</name>
        <label>Do you confirm to submit?</label>
        <locationX>710</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Confirmed_submit_to_create_refunds_manually</targetReference>
        </connector>
        <fields>
            <name>confirm_user_want_to_submit_dialog</name>
            <extensionName>c:comm_omsConfirmDialog</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Do you want to submit?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>confirmed_want_to_submit_and_create_refunds</assignToReference>
                <name>yesButtonClicked</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ensure_refunds_action_failed_screen</name>
        <label>Ensure refunds action failed</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ensure_refunds_action_failed_displaytext</name>
            <fieldText>&lt;p&gt;Ensure Refunds action failed:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_inserting_refunds_screen</name>
        <label>Error inserting refunds</label>
        <locationX>578</locationX>
        <locationY>1970</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_inserting_refunds_displaytext</name>
            <fieldText>&lt;p&gt;{!create_refunds_error_message}&lt;/p&gt;&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reference_entity_is_not_an_Order_Summary_screen</name>
        <label>Reference entity is not an Order Summary</label>
        <locationX>2690</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>reference_entity_is_not_an_Order_Summary_displaytext</name>
            <fieldText>&lt;p&gt;Reference entity is not an Order Summary&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Refunds_have_been_already_created_screen</name>
        <label>Refunds have been already created</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Refunds_have_been_already_created_displaytext</name>
            <fieldText>&lt;p&gt;Refunds have been already created for this Credit Memo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Refunds_have_been_successfully_created_screen</name>
        <label>Refunds have been successfully created</label>
        <locationX>1650</locationX>
        <locationY>2954</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Refunds_have_been_successfully_created_displaytext</name>
            <fieldText>&lt;p&gt;Refunds have been successfully created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retry_has_been_successfuly_submitted</name>
        <label>Retry has been successfuly submitted.</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Delayed_Refund_To_Process</targetReference>
        </connector>
        <fields>
            <name>Retry_successfuly_submitted</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Noto Sans&amp;quot;, Ubuntu, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;The retry has been successfully submitted to be processed asynchronously. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Noto Sans&amp;quot;, Ubuntu, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;This message does not mean that the refund has been successful with the payment gateway. For that please check the Order Payment Summaries.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2044</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Credit_Memo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>confirmed_refund_has_been_manually_done_and_proceed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>confirmed_want_to_ensure_refunds</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>confirmed_want_to_submit_and_create_refunds</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>confirmed_want_to_submit_create_refunds_manually</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>create_refunds_error_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncOutput</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>error_ensuring_refunds_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refundTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
