force-app/main/default/flows/COMM_FLW_Case_ScheduledSendEmailOnSubscriptionRequests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Call Apex class that handle Email sending for End Users.</description>
        <name>COMM_SendEmailForEndUsers</name>
        <label>Send Email for End Users</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetDefaultNoReplyAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>COMM_EndUserRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_GetEmailTemplateForEndUsers.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Call Apex class that handle Email sending for Partner.</description>
        <name>COMM_SendEmailForPartners</name>
        <label>Send Email for Partners</label>
        <locationX>50</locationX>
        <locationY>1211</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_IsToSendEmailForEndUser</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetDefaultNoReplyAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>COMM_PartnerRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_GetEmailTemplateForPartners.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set applicable email details to get email template to send.</description>
        <name>COMM_SetEmailMessageDefinitions</name>
        <label>Set Email Message Definitions</label>
        <locationX>138</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>COMM_PartnerEmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COMM_Partner_SubscriptionFormNotFilled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_UserLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedBy.LanguageLocaleKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_EndUserRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_PartnerRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_EndUserEmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COMM_EndUser_SubscriptionFormNotFilled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_GetDefaultNoReplyAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set applicable email details to get email template to send.</description>
        <name>COMM_SetEmailMessageDefinitions2</name>
        <label>Set Email Message Definitions</label>
        <locationX>666</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>COMM_EndUserEmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COMM_Partner_RejectSubscriptionMissInformation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_EndUserRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_UserLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedBy.LanguageLocaleKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_GetDefaultNoReplyAddress</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the email recipients are populated.</description>
        <name>COMM_EmailRecipientIsPopulated</name>
        <label>Email Recipient is populated?</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_EmailRecipientIsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_EndUserRecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SendEmailForEndUsers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the email recipients are populated.</description>
        <name>COMM_EmailRecipientIsPopulated_2</name>
        <label>Email Recipient is populated?</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>COMM_IsToSendEmailForEndUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_EmailRecipientIsPopulated_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_PartnerRecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SendEmailForPartners</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Subscription Form is Submitted.</description>
        <name>COMM_FormSubmitted</name>
        <label>Form Submitted?</label>
        <locationX>270</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_FormSubmitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewSubscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ManualRenewall</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeSubscriptionInformation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeOwnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewCardDueToDamageLoss</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetEmailMessageDefinitions</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Subscription Form is Submitted.</description>
        <name>COMM_FormSubmitted15</name>
        <label>Form submitted?</label>
        <locationX>798</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_COMM_FormSubmitted15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_FormSubmitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewSubscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_UpdateCase</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there is email to send for End Users.</description>
        <name>COMM_IsToSendEmailForEndUser</name>
        <label>Is to Send Email for End User?</label>
        <locationX>336</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_IsToSendEmailForEndUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_EndUserEmailTemplateName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetEmailTemplateForEndUsers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there is email to send for Partner Users.</description>
        <name>COMM_IsToSendEmailForPartnerUser</name>
        <label>Is to Send Email for Partner User?</label>
        <locationX>336</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>COMM_IsToSendEmailForEndUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_IsToSendEmailForPartnerUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_PartnerEmailTemplateName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetEmailTemplateForPartners</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Send emails to Partner Administrators and/or End Users related on type of request, and on time.</description>
    <environments>Default</environments>
    <formulas>
        <description>Boolean to flag record creation.</description>
        <name>COMM_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case Scheduled Send Email On Subscription Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Scheduled Send Email On Subscription Requests</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the default org no-reply email address.</description>
        <name>COMM_GetDefaultNoReplyAddress</name>
        <label>Get Default No-Reply Address</label>
        <locationX>336</locationX>
        <locationY>779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_IsToSendEmailForPartnerUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Case to archived.</description>
        <name>COMM_UpdateCase</name>
        <label>Update Case</label>
        <locationX>666</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>COMM_SetEmailMessageDefinitions2</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Archived</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Form</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>COMM_SendWarningEmailAfter10Days</name>
            <connector>
                <targetReference>COMM_FormSubmitted</targetReference>
            </connector>
            <label>Send Warning After 10 days</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>COMM_ArchiveCaseAndInformUsers</name>
            <connector>
                <targetReference>COMM_FormSubmitted15</targetReference>
            </connector>
            <label>Archive Case and Inform Users</label>
            <offsetNumber>15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Action to call Sub-Flow to get Email Template to send by User Locale for End Users.</description>
        <name>COMM_GetEmailTemplateForEndUsers</name>
        <label>Get Email Template for End Users</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>COMM_EmailRecipientIsPopulated</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_EndUserEmailTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>COMM_UserLanguage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Action to call Sub-Flow to get Email Template to send by User Locale for Partners.</description>
        <name>COMM_GetEmailTemplateForPartners</name>
        <label>Get Email Template for Partners</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>COMM_EmailRecipientIsPopulated_2</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_PartnerEmailTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>COMM_UserLanguage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Name of Email Template to get for End Users.</description>
        <name>COMM_EndUserEmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable with recipients of emails to send related on End Users.</description>
        <name>COMM_EndUserRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of Email Template to get for Partners.</description>
        <name>COMM_PartnerEmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable with recipients of emails to send.</description>
        <name>COMM_PartnerRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Set language to get email template by language.</description>
        <name>COMM_UserLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
