force-app/main/default/flows/COMM_FLW_Case_PublicSubscriptionCancellationProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>COMM_Assignment_RecordTypeId</name>
        <label>Assign Record Type Id</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>COMM_CaseRecordTypeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>COMM_Loop_SetIdList.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Loop_SetIdList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>COMM_Decision_ConfirmSubscriptionPreviousCaseStatus</name>
        <label>Confirm Subscription Previous Case Status</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>COMM_Update_RelatedSubscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_MustBeArchived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_ActiveSubscriptionRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_ActiveSubscriptionRequest__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Process Concluded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Update_SubscriptionPreviousCase</targetReference>
            </connector>
            <label>Must be Archived</label>
        </rules>
    </decisions>
    <description>Flow to handle Public Subscription Case cancellation related processes.</description>
    <environments>Default</environments>
    <formulas>
        <name>COMM_CancellationDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Case Public Subscription Cancellation Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Public Subscription Cancellation Process</label>
    <loops>
        <name>COMM_Loop_SetIdList</name>
        <label>Loop to Set Id List</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>COMM_Get_RecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_Assignment_RecordTypeId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_Get_CaseRelatedRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>COMM_Create_Case_CancelPublicSubscription</name>
        <label>Create Case Cancel Public Subscription</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>COMM_Decision_ConfirmSubscriptionPreviousCaseStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__City__s</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__CountryCode__s</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__PostalCode__s</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__Street__s</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CancellationDate__c</field>
            <value>
                <elementReference>COMM_CancellationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Card__c</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_Card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_EndDate__c</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_FirstName__c</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_InitialSubscriptionMonth__c</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_InitialSubscriptionMonth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Language__c</field>
            <value>
                <elementReference>COMM_OrderItemSummary.OrderSummary.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LastName__c</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LicensePlate__c</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_LicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_NewCardRequest__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_OrderProduct__c</field>
            <value>
                <elementReference>COMM_OrderItemSummary.OriginalOrderItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_OrderSummary__c</field>
            <value>
                <elementReference>COMM_OrderItemSummary.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Order__c</field>
            <value>
                <elementReference>COMM_OrderItemSummary.OrderSummary.OriginalOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Periodicity__c</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_Periodicity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PhoneNumber__c</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_StartDate__c</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionPrice__c</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Subscription__c</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VATNumber__c</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_VATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>COMM_Get_SABAQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>COMM_Get_CancelPublicSubscriptionRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting Conclusion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.COMM_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>COMM_Get_CancelPublicSubscriptionRecordType</name>
        <label>Get Cancel Public Subscription Record Type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Loop_SetIdList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_CancelPublicSubscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_CaseRelatedRecords</name>
        <label>Get Case Related Records</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Get_SABAQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>COMM_OrderSummary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_OrderItemSummary.OrderSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>COMM_OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_OrderItemSummary.OriginalOrderItemId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>COMM_CaseRecordTypeIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>COMM_EndDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_RecordTypes</name>
        <label>Get Record Types</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Get_CancelPublicSubscriptionRecordType</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_NewPublicSubscription</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_RecurringPublicSubscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_SABAQueue</name>
        <label>Get SABA Queue</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Create_Case_CancelPublicSubscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_SubscriptionRequestSABA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>COMM_Update_RelatedSubscription</name>
        <label>Update Related Subscription</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.COMM_Subscription__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
            <value>
                <elementReference>COMM_Create_Case_CancelPublicSubscription</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>COMM_Update_SubscriptionPreviousCase</name>
        <label>Update Subscription Previous Case</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>COMM_Update_RelatedSubscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_Get_CaseRelatedRecords.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_Comments__c</field>
            <value>
                <elementReference>COMM_TextTemplate_PreviousCaseBeingUpdateComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Archived</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_Get_RecordTypes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>COMM_TextTemplate_PreviousCaseBeingUpdateComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Registo arquivado automaticamente devido a um pedido de cancelamento!</text>
    </textTemplates>
    <variables>
        <name>COMM_CaseRecordTypeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_OrderItemSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
</Flow>
