force-app/main/default/flows/COMM_FLW_Subscription_SubscriptionModificationManagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>COMM_Action_PeriodicityProductsChoices</name>
        <label>Action Periodicity Products Choices</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <actionName>COMM_SL_GetProductByPeriodicity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_Get_CaseRecordTypeChangePaymentPeriodicity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>productRecordList</name>
            <value>
                <elementReference>COMM_Get_ObjectSubscriptionProductValues</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_GetProductByPeriodicity</nameSegment>
        <outputParameters>
            <assignToReference>COMM_Variable_PeriodicityProducts</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>COMM_Assignment_SelectedPeriodicityProduct</name>
        <label>Assignment Selected Periodicity Product</label>
        <locationX>1018</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_NewSelectedPeriodicity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Loop_PossiblePeriodicityProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Loop_PossiblePeriodicityProducts</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Change the ownership choice</description>
        <name>COMM_Choice_ChangeOwnership</name>
        <choiceText>Change subscription user</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change the ownership</stringValue>
        </value>
    </choices>
    <choices>
        <description>Change the payment periodicity choice</description>
        <name>COMM_Choice_ChangePaymentPeriodicity</name>
        <choiceText>Change the payment periodicity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change the payment periodicity</stringValue>
        </value>
    </choices>
    <choices>
        <description>Change the subscription information choice</description>
        <name>COMM_Choice_ChangeSubscriptionInfo</name>
        <choiceText>Change subscription information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change the subscription information</stringValue>
        </value>
    </choices>
    <choices>
        <description>Change the user information choice</description>
        <name>COMM_Choice_ChangeUserInfo</name>
        <choiceText>Change subscription user information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change the user information</stringValue>
        </value>
    </choices>
    <choices>
        <description>Request a new card due to damage choice</description>
        <name>COMM_Choice_NewCardDueDamage</name>
        <choiceText>Damage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Damage</stringValue>
        </value>
    </choices>
    <choices>
        <description>Request a new card due to loss choice</description>
        <name>COMM_Choice_NewCardDueLoss</name>
        <choiceText>Loss</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loss</stringValue>
        </value>
    </choices>
    <choices>
        <description>Request a new card due to damage/loss choice</description>
        <name>COMM_Choice_RequestNewCardDueDamageOrLoss</name>
        <choiceText>Request a new card due to damage/loss</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request a new card due to damage/loss</stringValue>
        </value>
    </choices>
    <decisions>
        <name>COMM_Decision_CheckProductList</name>
        <label>Check Product List</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>COMM_Screen_ChangePaymentPeriodicityInvalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_IsNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Get_ObjectSubscriptionProductValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Action_PeriodicityProductsChoices</targetReference>
            </connector>
            <label>Is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Confirm if the cancel action can run based on the Case Data</description>
        <name>COMM_Decision_ConfirmActionAvailability</name>
        <label>Confirm Action Availability</label>
        <locationX>1766</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>COMM_Screen_SubscriptionModificationNotPermitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_Confirmed</name>
            <conditionLogic>1 AND (2 OR ( 3 OR 4 OR 5 OR 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>recordId.COMM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Process Concluded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Process Concluded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Archived</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Screen_SubscriptionChangeOptions</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_SelectedPeriodicityProduct</name>
        <label>Decision: Periodicity Product Selected</label>
        <locationX>1150</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>COMM_Loop_PossiblePeriodicityProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Selected</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_IsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Loop_PossiblePeriodicityProducts.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Picklist_AvailablePeriodicities</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Assignment_SelectedPeriodicityProduct</targetReference>
            </connector>
            <label>Is selected?</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_SubscriptionChange</name>
        <label>Subscription Change Decision</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Decision_ChangeUserInfo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_RadioButton_SubscriptionChangeOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Choice_ChangeUserInfo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_CaseRecordTypeChangeUserInfo</targetReference>
            </connector>
            <label>Change the user information</label>
        </rules>
        <rules>
            <name>COMM_Decision_ChangeSubscriptionInfo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_RadioButton_SubscriptionChangeOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Choice_ChangeSubscriptionInfo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_CaseRecordTypeChangeSubscriptionInfo</targetReference>
            </connector>
            <label>Change the subscription information</label>
        </rules>
        <rules>
            <name>COMM_Decision_ChangePaymentPeriodicity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_RadioButton_SubscriptionChangeOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Choice_ChangePaymentPeriodicity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_ObjectSubscriptionProductValues</targetReference>
            </connector>
            <label>Change the payment periodicity</label>
        </rules>
        <rules>
            <name>COMM_Decision_ChangeOwnership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_RadioButton_SubscriptionChangeOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Choice_ChangeOwnership</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_CaseRecordTypeChangeOwnership</targetReference>
            </connector>
            <label>Change the ownership</label>
        </rules>
        <rules>
            <name>COMM_Decision_RequestNewCardDueDamageOrLoss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_RadioButton_SubscriptionChangeOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Choice_RequestNewCardDueDamageOrLoss</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_CaseRecordTypeRequestNewCardDueDamageOrLoss</targetReference>
            </connector>
            <label>Request a new card due to damage/loss</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if there is a request for a new Card.</description>
        <name>COMM_NewCardRequested</name>
        <label>New Card requested?</label>
        <locationX>1590</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>COMM_Create_CaseRecordChangeOwnership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Checkbox_NewCardRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetCardPrice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow gives the possibility to edit the subscription characteristics or user information in order to efficiently manage the company subscriptions.</description>
    <dynamicChoiceSets>
        <name>COMM_CollectionChoice_PeriodicityProducts</name>
        <collectionReference>COMM_Variable_PeriodicityProducts</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Calculate the Subscription End Date after renewal.</description>
        <name>COMM_Formula_SubscriptionNewEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(
	DATE(
		YEAR( {!recordId.COMM_EndDate__c} ),
		MONTH( {!recordId.COMM_EndDate__c} ),
		1
	),
	IF( {!COMM_Variable_NewSelectedPeriodicity.periodicity} = &apos;Monthly&apos;,
		2,
		IF( {!COMM_Variable_NewSelectedPeriodicity.periodicity} = &apos;Quarterly&apos;,
			4,
			IF( {!COMM_Variable_NewSelectedPeriodicity.periodicity} = &apos;Half Yearly&apos;,
				7,
				IF( {!COMM_Variable_NewSelectedPeriodicity.periodicity} = &apos;Yearly&apos;,
					13,
					1
				)
			)
		)
	)
)  - 1</expression>
    </formulas>
    <formulas>
        <description>Formula to retrieve Subscription&apos;s Airport. If Value Field is empty retrieve airport from Subscription&apos;s Product</description>
        <name>COMM_SubscriptionAirportFormula</name>
        <dataType>String</dataType>
        <expression> IF(ISPICKVAL({!recordId.COMM_AirportValue__c}, &quot;&quot;), TEXT({!recordId.COMM_Product__r.COMM_Airport__c}), TEXT({!recordId.COMM_AirportValue__c}))</expression>
    </formulas>
    <formulas>
        <description>Formula for the Airport Admin Queue Name based on Subscription Location</description>
        <name>COMM_SubscriptionRequestAirportAdminQueueNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!COMM_SubscriptionAirportFormula}), &quot;COMM_SubscriptionRequestANAAdmin&quot;, &quot;COMM_SubscriptionRequestAirportAdmin_&quot; + {!COMM_SubscriptionAirportFormula})</expression>
    </formulas>
    <formulas>
        <description>Formula to obtain the Contact Id that the Case will be associated with. Case will be associated with User&apos;s Contact, if he doesn&apos;t have one then assign it to Subscription&apos;s Contact.</description>
        <name>COMM_Variable_ContactId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$User.ContactId}), {!recordId.COMM_Contact__c}, {!$User.ContactId})</expression>
    </formulas>
    <interviewLabel>COMM: Subscription Modification Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COMM: Subscription Modification Management</label>
    <loops>
        <name>COMM_Loop_PossiblePeriodicityProducts</name>
        <label>Loop Possible Periodicity Products</label>
        <locationX>930</locationX>
        <locationY>998</locationY>
        <collectionReference>COMM_Variable_PeriodicityProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_Decision_SelectedPeriodicityProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_Screen_ChangePaymentPeriodicityConfirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a case with the provided information for change the ownership</description>
        <name>COMM_Create_CaseRecordChangeOwnership</name>
        <label>Create Case: Change Ownership</label>
        <locationX>1590</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>COMM_Update_SubscriptionChangeOwnership</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.COMM_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__City__s</field>
            <value>
                <elementReference>recordId.COMM_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__CountryCode__s</field>
            <value>
                <elementReference>recordId.COMM_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__PostalCode__s</field>
            <value>
                <elementReference>recordId.COMM_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__StateCode__s</field>
            <value>
                <elementReference>recordId.COMM_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__Street__s</field>
            <value>
                <elementReference>recordId.COMM_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Airport__c</field>
            <value>
                <elementReference>COMM_SubscriptionAirportFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CardPrice__c</field>
            <value>
                <elementReference>COMM_GetCardPrice.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Card__c</field>
            <value>
                <elementReference>recordId.COMM_Card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_EndDate__c</field>
            <value>
                <elementReference>recordId.COMM_EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_FirstName__c</field>
            <value>
                <elementReference>COMM_SUBSCRIPTION_FIRSTNAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_InitialSubscriptionMonth__c</field>
            <value>
                <elementReference>recordId.COMM_InitialSubscriptionMonth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_JobRole__c</field>
            <value>
                <elementReference>recordId.COMM_JobRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Language__c</field>
            <value>
                <elementReference>recordId.CreatedBy.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LastName__c</field>
            <value>
                <elementReference>COMM_SUBSCRIPTION_LASTNAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LicensePlate__c</field>
            <value>
                <elementReference>recordId.COMM_LicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_NewCardRequest__c</field>
            <value>
                <elementReference>COMM_Checkbox_NewCardRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Periodicity__c</field>
            <value>
                <elementReference>recordId.COMM_Periodicity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PhoneNumber__c</field>
            <value>
                <elementReference>recordId.COMM_PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryLicensePlate__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryLicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleBrand__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryCarBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleModel__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryCarModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_StartDate__c</field>
            <value>
                <elementReference>recordId.COMM_StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>recordId.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Subscription__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VATNumber__c</field>
            <value>
                <elementReference>recordId.COMM_VATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleBrand__c</field>
            <value>
                <elementReference>recordId.COMM_CarBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleModel__c</field>
            <value>
                <elementReference>recordId.COMM_CarModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>COMM_Variable_ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>recordId.COMM_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>COMM_Get_CaseRecordTypeChangeOwnership.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>COMM_SUBSCRIPTION_EMAIL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Change Ownership</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a case with the provided information for change the payment periodicity</description>
        <name>COMM_Create_CaseRecordChangePaymentPeriodicity</name>
        <label>Create Case: Change Payment Periodicity</label>
        <locationX>930</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>COMM_Update_SubscriptionChangePaymentPeriodicity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.COMM_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Airport__c</field>
            <value>
                <elementReference>COMM_SubscriptionAirportFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Card__c</field>
            <value>
                <elementReference>recordId.COMM_Card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_EndDate__c</field>
            <value>
                <elementReference>COMM_Formula_SubscriptionNewEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_FirstName__c</field>
            <value>
                <elementReference>recordId.COMM_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_InitialSubscriptionMonth__c</field>
            <value>
                <elementReference>recordId.COMM_InitialSubscriptionMonth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_JobRole__c</field>
            <value>
                <elementReference>recordId.COMM_JobRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Language__c</field>
            <value>
                <elementReference>recordId.CreatedBy.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LastName__c</field>
            <value>
                <elementReference>recordId.COMM_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LicensePlate__c</field>
            <value>
                <elementReference>recordId.COMM_LicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Periodicity__c</field>
            <value>
                <elementReference>COMM_Variable_NewSelectedPeriodicity.periodicity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PhoneNumber__c</field>
            <value>
                <elementReference>recordId.COMM_PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryLicensePlate__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryLicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleBrand__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryCarBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleModel__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryCarModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_StartDate__c</field>
            <value>
                <elementReference>recordId.COMM_EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>recordId.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionPrice__c</field>
            <value>
                <elementReference>COMM_Variable_NewSelectedPeriodicity.price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Subscription__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VATNumber__c</field>
            <value>
                <elementReference>recordId.COMM_VATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleBrand__c</field>
            <value>
                <elementReference>recordId.COMM_CarBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleModel__c</field>
            <value>
                <elementReference>recordId.COMM_CarModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>COMM_Variable_ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>COMM_Get_AirportAdminQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>COMM_Variable_NewSelectedPeriodicity.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>COMM_Get_CaseRecordTypeChangePaymentPeriodicity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>recordId.COMM_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Change Payment Periodicity</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a case with the provided information for change the subscription information</description>
        <name>COMM_Create_CaseRecordChangeSubscriptionInfo</name>
        <label>Create Case: Change Subscription Info</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>COMM_Update_SubscriptionChangeSubscriptionInfo</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.COMM_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__City__s</field>
            <value>
                <elementReference>recordId.COMM_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__CountryCode__s</field>
            <value>
                <elementReference>recordId.COMM_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__PostalCode__s</field>
            <value>
                <elementReference>recordId.COMM_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__StateCode__s</field>
            <value>
                <elementReference>recordId.COMM_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__Street__s</field>
            <value>
                <elementReference>recordId.COMM_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Airport__c</field>
            <value>
                <elementReference>COMM_SubscriptionAirportFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Card__c</field>
            <value>
                <elementReference>recordId.COMM_Card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_EndDate__c</field>
            <value>
                <elementReference>recordId.COMM_EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_FirstName__c</field>
            <value>
                <elementReference>recordId.COMM_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_InitialSubscriptionMonth__c</field>
            <value>
                <elementReference>recordId.COMM_InitialSubscriptionMonth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_JobRole__c</field>
            <value>
                <elementReference>recordId.COMM_JobRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Language__c</field>
            <value>
                <elementReference>recordId.CreatedBy.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LastName__c</field>
            <value>
                <elementReference>recordId.COMM_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LicensePlate__c</field>
            <value>
                <elementReference>recordId.COMM_LicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Periodicity__c</field>
            <value>
                <elementReference>recordId.COMM_Periodicity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PhoneNumber__c</field>
            <value>
                <elementReference>recordId.COMM_PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryLicensePlate__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryLicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleBrand__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryCarBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleModel__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryCarModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_StartDate__c</field>
            <value>
                <elementReference>recordId.COMM_StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>recordId.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Subscription__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VATNumber__c</field>
            <value>
                <elementReference>recordId.COMM_VATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleBrand__c</field>
            <value>
                <elementReference>recordId.COMM_CarBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleModel__c</field>
            <value>
                <elementReference>recordId.COMM_CarModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>COMM_Variable_ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>recordId.COMM_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>COMM_Get_CaseRecordTypeChangeSubscriptionInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>recordId.COMM_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Change Subscription Information</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a case with the provided information for change the user information</description>
        <name>COMM_Create_CaseRecordChangeUserInfo</name>
        <label>Create Case: Change User Information</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>COMM_Update_SubscriptionChangeUserInfo</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.COMM_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Airport__c</field>
            <value>
                <elementReference>COMM_SubscriptionAirportFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Card__c</field>
            <value>
                <elementReference>recordId.COMM_Card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_EndDate__c</field>
            <value>
                <elementReference>recordId.COMM_EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_FirstName__c</field>
            <value>
                <elementReference>recordId.COMM_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_InitialSubscriptionMonth__c</field>
            <value>
                <elementReference>recordId.COMM_InitialSubscriptionMonth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_JobRole__c</field>
            <value>
                <elementReference>recordId.COMM_JobRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Language__c</field>
            <value>
                <elementReference>recordId.CreatedBy.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LastName__c</field>
            <value>
                <elementReference>recordId.COMM_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LicensePlate__c</field>
            <value>
                <elementReference>recordId.COMM_LicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Periodicity__c</field>
            <value>
                <elementReference>recordId.COMM_Periodicity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PhoneNumber__c</field>
            <value>
                <elementReference>COMM_SUBSCRIPTION_PHONENUMBER</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryLicensePlate__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryLicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleBrand__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryCarBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleModel__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryCarModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_StartDate__c</field>
            <value>
                <elementReference>recordId.COMM_StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>recordId.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Subscription__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VATNumber__c</field>
            <value>
                <elementReference>recordId.COMM_VATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleBrand__c</field>
            <value>
                <elementReference>recordId.COMM_CarBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleModel__c</field>
            <value>
                <elementReference>recordId.COMM_CarModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>COMM_Variable_ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Airport_Admin_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>recordId.COMM_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>COMM_Get_CaseRecordTypeChangeUserInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>COMM_SUBSCRIPTION_EMAIL2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Change User Information</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a case with the provided information for request a new card due damage or loss.</description>
        <name>COMM_Create_CaseRecordRequestNewCardDueDamageOrLoss</name>
        <label>Create Case: Request New Card Due Damage Or Loss</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>COMM_Update_SubscriptionRequestNewCarDueDamangeOrLoss</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.COMM_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__City__s</field>
            <value>
                <elementReference>recordId.COMM_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__CountryCode__s</field>
            <value>
                <elementReference>recordId.COMM_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__PostalCode__s</field>
            <value>
                <elementReference>recordId.COMM_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__StateCode__s</field>
            <value>
                <elementReference>recordId.COMM_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__Street__s</field>
            <value>
                <elementReference>recordId.COMM_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Airport__c</field>
            <value>
                <elementReference>COMM_SubscriptionAirportFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CardPrice__c</field>
            <value>
                <elementReference>Get_Related_Pricebook_Entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Card__c</field>
            <value>
                <elementReference>recordId.COMM_Card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Comments__c</field>
            <value>
                <elementReference>COMM_Text_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_EndDate__c</field>
            <value>
                <elementReference>recordId.COMM_EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_FirstName__c</field>
            <value>
                <elementReference>recordId.COMM_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_InitialSubscriptionMonth__c</field>
            <value>
                <elementReference>recordId.COMM_InitialSubscriptionMonth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_JobRole__c</field>
            <value>
                <elementReference>recordId.COMM_JobRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Language__c</field>
            <value>
                <elementReference>recordId.CreatedBy.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LastName__c</field>
            <value>
                <elementReference>recordId.COMM_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LicensePlate__c</field>
            <value>
                <elementReference>recordId.COMM_LicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Motive__c</field>
            <value>
                <elementReference>COMM_Picklist_Motive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_NewCardRequest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Periodicity__c</field>
            <value>
                <elementReference>recordId.COMM_Periodicity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PhoneNumber__c</field>
            <value>
                <elementReference>recordId.COMM_PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryLicensePlate__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryLicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleBrand__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryCarBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleModel__c</field>
            <value>
                <elementReference>recordId.COMM_SecondaryCarModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_StartDate__c</field>
            <value>
                <elementReference>recordId.COMM_StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>recordId.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Subscription__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VATNumber__c</field>
            <value>
                <elementReference>recordId.COMM_VATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleBrand__c</field>
            <value>
                <elementReference>recordId.COMM_CarBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleModel__c</field>
            <value>
                <elementReference>recordId.COMM_CarModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>COMM_Variable_ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>recordId.COMM_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>COMM_Get_CaseRecordTypeRequestNewCardDueDamageOrLoss.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>recordId.COMM_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Card Due To Damage/Loss</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>COMM_Get_AirportAdminQueue</name>
        <label>Get Airport Admin Queue</label>
        <locationX>930</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Create_CaseRecordChangePaymentPeriodicity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_SubscriptionRequestAirportAdminQueueNameFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_CaseRecordTypeChangeOwnership</name>
        <label>Get Case Record Type: Change Ownership</label>
        <locationX>1590</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Screen_ChangeOwnership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_ChangeOwnership</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_CaseRecordTypeChangePaymentPeriodicity</name>
        <label>Get Case Record Type: Change Payment Periodicity</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Screen_ChangePaymentPeriodicity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_ChangePaymentPeriodicity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_CaseRecordTypeChangeSubscriptionInfo</name>
        <label>Get Case Record Type: Change Subscription Info</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Screen_ChangeSubscriptionInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_ChangeSubscriptionInformation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_CaseRecordTypeChangeUserInfo</name>
        <label>Get Case Record Type: Change User Info</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Screen_ChangeUserInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_ChangeUserInformation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_CaseRecordTypeRequestNewCardDueDamageOrLoss</name>
        <label>Get Case Record Type: Request New Card Due Damage Or Loss</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Screen_RequestNewCardDueDamageOrLoss</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_NewCardDueToDamageLoss</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_ObjectSubscriptionProductValues</name>
        <label>Get Object Subscription Product Values</label>
        <locationX>1062</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Decision_CheckProductList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>COMM_ParentProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.COMM_Product__r.COMM_ParentProduct__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.COMM_Product__r.Family</elementReference>
            </value>
        </filters>
        <filters>
            <field>COMM_SubCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.COMM_Product__r.COMM_SubCategory__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>COMM_Periodicity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId.COMM_Product__r.COMM_Periodicity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>COMM_Park__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.COMM_Product__r.COMM_Park__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Price Book Entry related to the Card on Subscription record.</description>
        <name>COMM_GetCardPrice</name>
        <label>Get Card Price</label>
        <locationX>1458</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Create_CaseRecordChangeOwnership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.COMM_Card__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Airport_Admin_Queue</name>
        <label>Get Airport Admin Queue</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Create_CaseRecordChangeUserInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_SubscriptionRequestAirportAdminQueueNameFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Pricebook_Entry</name>
        <label>Get Related Pricebook Entry</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Create_CaseRecordRequestNewCardDueDamageOrLoss</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.COMM_Card__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Subscription: Change Ownership</description>
        <name>COMM_Update_SubscriptionChangeOwnership</name>
        <label>Update Subscription: Change Ownership</label>
        <locationX>1590</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
            <value>
                <elementReference>COMM_Create_CaseRecordChangeOwnership</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Subscription: Change Payment Periodicity</description>
        <name>COMM_Update_SubscriptionChangePaymentPeriodicity</name>
        <label>Update Subscription: Change Payment Periodicity</label>
        <locationX>930</locationX>
        <locationY>1814</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
            <value>
                <elementReference>COMM_Create_CaseRecordChangePaymentPeriodicity</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Subscription: Change User Information</description>
        <name>COMM_Update_SubscriptionChangeSubscriptionInfo</name>
        <label>Update Subscription: Change User Information</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
            <value>
                <elementReference>COMM_Create_CaseRecordChangeSubscriptionInfo</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Subscription: Change User Information</description>
        <name>COMM_Update_SubscriptionChangeUserInfo</name>
        <label>Update Subscription: Change User Information</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
            <value>
                <elementReference>COMM_Create_CaseRecordChangeUserInfo</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Subscription: Request New Card Due Damage Or Loss</description>
        <name>COMM_Update_SubscriptionRequestNewCarDueDamangeOrLoss</name>
        <label>Update Subscription: Request New Card Due Damage Or Loss</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
            <value>
                <elementReference>COMM_Create_CaseRecordRequestNewCardDueDamageOrLoss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Price__c</field>
            <value>
                <elementReference>Get_Related_Pricebook_Entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>COMM_Screen_ChangeOwnership</name>
        <label>Screen Change the ownership</label>
        <locationX>1590</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_NewCardRequested</targetReference>
        </connector>
        <fields>
            <name>COMM_Screen_ChangeOwnership_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_Screen_ChangeOwnership_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_ChangeOwnershipTitle</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.COMM_SUBSCRIPTION_CHANGE_OWNERSHIP}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_SUBSCRIPTION_FIRSTNAME</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.COMM_FirstName__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_FIRSTNAME}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_SUBSCRIPTION_LASTNAME</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.COMM_LastName__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_LASTNAME}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_Checkbox_NewCardRequired</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_NEWCARDQUESTION}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_SubscriptionNumberText</name>
            <fieldText>&lt;p&gt;{!$Label.COMM_SUBSCRIPTION_SUBSCRIPTIONNUMBER}: {!recordId.COMM_SubscriptionNumber__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>COMM_Checkbox_NewCardRequired</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>COMM_SUBSCRIPTION_EMAIL</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.COMM_Email__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_EMAIL}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_ChangePaymentPeriodicity</name>
        <label>Screen Change the payment periodicity</label>
        <locationX>930</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_Loop_PossiblePeriodicityProducts</targetReference>
        </connector>
        <fields>
            <name>COMM_Screen_ChangePaymentPeriodicity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_Screen_ChangePaymentPeriodicity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_ChangePaymentPeriodicityTitle</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.COMM_SUBSCRIPTION_CHANGE_PAYMENT_PERIODICITY}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_Picklist_AvailablePeriodicities</name>
            <choiceReferences>COMM_CollectionChoice_PeriodicityProducts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_AVAILABLEPERIODICITIES}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_ChangePaymentPeriodicityConfirmation</name>
        <label>Screen Change Payment Periodicity Confirmation</label>
        <locationX>930</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_Get_AirportAdminQueue</targetReference>
        </connector>
        <fields>
            <name>COMM_DisplayText_ChangePeriodicityConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_NEWPERIODICITYWARNING} {!COMM_Variable_NewSelectedPeriodicity.price}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_ChangePaymentPeriodicityInvalid</name>
        <label>Screen Change the Payment Periodicity Invalid</label>
        <locationX>1194</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_Screen_ChangePaymentPeriodicityInvalid_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_Screen_ChangePaymentPeriodicityInvalid_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_ChangePaymentPeriodicityTitle2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.COMM_SUBSCRIPTION_CHANGE_PAYMENT_PERIODICITY}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_DisplayText_ChangePeriodicityError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_EMPTYPERIODICITY}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_ChangeSubscriptionInfo</name>
        <label>Screen Change the subscription information</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_Create_CaseRecordChangeSubscriptionInfo</targetReference>
        </connector>
        <fields>
            <name>COMM_Screen_ChangeSubscriptionInfo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_Screen_ChangeSubscriptionInfo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_ChangeSubscriptionInformationTitle</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.COMM_SUBSCRIPTION_CHANGE_INFO}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_DisplayText_ChangeSubscriptionInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.COMM_SUBSCRIPTION_CHANGESUBSCRIPTIONINFOCONFIRMATION}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_ChangeUserInfo</name>
        <label>Screen Change the user information</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Airport_Admin_Queue</targetReference>
        </connector>
        <fields>
            <name>COMM_Screen_ChangeUserInfo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_Screen_ChangeUserInfo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_ChangeUserInformationTitle</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.COMM_SUBSCRIPTION_CHANGE_USER_INFO}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_SUBSCRIPTION_EMAIL2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.COMM_Email__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_EMAIL}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_SUBSCRIPTION_PHONENUMBER</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.COMM_PhoneNumber__c</elementReference>
            </defaultValue>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_PHONENUMBER}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.COMM_SUBSCRIPTION_PHONEVALIDATION}&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(
REGEX({!COMM_SUBSCRIPTION_PHONENUMBER}, &quot;[+][0-9]{3} [0-9]+&quot;),
REGEX({!COMM_SUBSCRIPTION_PHONENUMBER}, &quot;[+][0-9]{2} [0-9]+&quot;)
)</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Send Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_RequestNewCardDueDamageOrLoss</name>
        <label>Screen Request a new card due to damage/loss</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Related_Pricebook_Entry</targetReference>
        </connector>
        <fields>
            <name>COMM_Screen_RequestNewCardDueDamageOrLoss_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_Screen_RequestNewCardDueDamageOrLoss_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_RequestCardDamageLossTitle</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.COMM_SUBSCRIPTION_REQUEST_NEW_CARD}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_Picklist_Motive</name>
            <choiceReferences>COMM_Choice_NewCardDueDamage</choiceReferences>
            <choiceReferences>COMM_Choice_NewCardDueLoss</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_NEWCARDREQUESTMOTIVE}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_Text_Comments</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_NEWCARDREQUESTCOMMENTS}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_SubscriptionChangeOptions</name>
        <label>Subscription Change Options</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_Decision_SubscriptionChange</targetReference>
        </connector>
        <fields>
            <name>COMM_RadioButton_SubscriptionChangeOptions</name>
            <choiceReferences>COMM_Choice_ChangeUserInfo</choiceReferences>
            <choiceReferences>COMM_Choice_ChangeSubscriptionInfo</choiceReferences>
            <choiceReferences>COMM_Choice_ChangePaymentPeriodicity</choiceReferences>
            <choiceReferences>COMM_Choice_ChangeOwnership</choiceReferences>
            <choiceReferences>COMM_Choice_RequestNewCardDueDamageOrLoss</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_MODIFICATION_OPTIONS}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_SubscriptionModificationNotPermitted</name>
        <label>Subscription Modification Not Permitted</label>
        <locationX>2426</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_DisplayText_SubscriptionModificationNotPermitted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.COMM_SUBSCRIPTION_NOTPERMITTEDWARNING}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_Decision_ConfirmActionAvailability</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Periodicity Product Record, selected on Screen</description>
        <name>COMM_Variable_NewSelectedPeriodicity</name>
        <apexClass>COMM_SL_FlowChoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_Variable_PeriodicityProducts</name>
        <apexClass>COMM_SL_FlowChoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current Subscription Record</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>COMM_Subscription__c</objectType>
    </variables>
</Flow>
