force-app/main/default/flows/COMM_FLW_Case_Subscription_SendToSABAForConclusion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>COMM_Decision_CheckCaseRecordTypeForEmail</name>
        <label>Check Case Record Type For Email</label>
        <locationX>446</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>COMM_Subflow_SendEmailToSABAQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_IsManualRenewalRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ManualRenewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Subflow_SendEmailToSABAQueueOnRenewal</targetReference>
            </connector>
            <label>Is Manual Renewal Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_CheckCaseRecordTypeForNotification</name>
        <label>Check Case Record Type for Notification</label>
        <locationX>248</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_To_SABA_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_IsCancellationRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CancelationRequest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SubFlow_SendNotificationToSABAUsers_Cancellation</targetReference>
            </connector>
            <label>Is Cancellation Record Type</label>
        </rules>
    </decisions>
    <description>After approval by ANA Admin, send to SABA to conclude the process</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to retrieve Subscription&apos;s Airport. If Value Field is empty retrieve airport from Subscription&apos;s Product</description>
        <name>COMM_SubscriptionAirportFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.COMM_Subscription__r.COMM_AirportValue__c}, &quot;&quot;), TEXT({!$Record.COMM_Subscription__r.COMM_Product__r.COMM_Airport__c}), TEXT({!$Record.COMM_Subscription__r.COMM_AirportValue__c}))</expression>
    </formulas>
    <formulas>
        <description>Formula for the Airport Admin Queue Name based on Subscription Location. If Airport value is missing add to ANA Admin Queue.</description>
        <name>COMM_SubscriptionRequestAirportAdminQueueNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!COMM_SubscriptionAirportFormula}), &quot;COMM_SubscriptionRequestANAAdmin&quot;, &quot;COMM_SubscriptionRequestAirportAdmin_&quot; + {!COMM_SubscriptionAirportFormula})</expression>
    </formulas>
    <interviewLabel>Case Subscription Send To SABA For Conclusion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Subscription Send To SABA For Conclusion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the custom notification to send.</description>
        <name>COMM_Get_Pending_Request_Custom_Notification_SABA</name>
        <label>Get Pending Request Custom Notification SABA</label>
        <locationX>842</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pending_Request_Custom_Notification_ANA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_SABA_SubscriptionRequestPending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the custom notification to send.</description>
        <name>Get_New_Pending_Request_Custom_Notification</name>
        <label>Get New Pending Request Custom Notification</label>
        <locationX>248</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Decision_CheckCaseRecordTypeForNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_SABA_SubscriptionRequest_pt_PT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the custom notification to send.</description>
        <name>Get_Pending_Request_Custom_Notification_ANA</name>
        <label>Get Pending Request Custom Notification ANA</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_To_SABA_Users_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_ANA_SubscriptionRequestPending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SABA_Queue</name>
        <label>Get SABA Queue</label>
        <locationX>248</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_SABA_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_SubscriptionRequestSABA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_to_SABA_Queue</name>
        <label>Assign to SABA Queue</label>
        <locationX>248</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Get_New_Pending_Request_Custom_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SABA_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SABA_Queue</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
  OR(
    {!$Record.RecordType.DeveloperName}=&apos;COMM_NewSubscription&apos;,
    {!$Record.RecordType.DeveloperName}=&apos;COMM_CancelationRequest&apos;,
    {!$Record.RecordType.DeveloperName}=&apos;COMM_ManualRenewal&apos;,
    {!$Record.RecordType.DeveloperName}=&apos;COMM_ChangeOwnership&apos;,
    {!$Record.RecordType.DeveloperName}=&apos;COMM_ChangePaymentPeriodicity&apos;,
    {!$Record.RecordType.DeveloperName}=&apos;COMM_ChangeSubscriptionInformation&apos;,
    {!$Record.RecordType.DeveloperName}=&apos;COMM_NewCardDueToDamageLoss&apos;,
    {!$Record.RecordType.DeveloperName}=&apos;COMM_ChangeUserInformation&apos;
  ),
  ISPICKVAL({!$Record.Status}, &apos;Waiting Conclusion&apos;)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>After_3_Days</name>
            <connector>
                <targetReference>COMM_Get_Pending_Request_Custom_Notification_SABA</targetReference>
            </connector>
            <label>After 3 Days</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>COMM_Subflow_SendEmailToSABAQueue</name>
        <label>Send Email to SABA Queue</label>
        <locationX>578</locationX>
        <locationY>924</locationY>
        <flowName>COMM_FLW_Utilities_SendEmailToQueueMembers</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <stringValue>COMM_Partner_SubmittedSubscriptionForm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueDeveloperName</name>
            <value>
                <stringValue>COMM_SubscriptionRequestSABA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueId</name>
            <value>
                <elementReference>Get_SABA_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_UseDeveloperName</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>COMM_Subflow_SendEmailToSABAQueueOnCancellation</name>
        <label>Send Email to SABA Queue on Cancellation</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <flowName>COMM_FLW_Utilities_SendEmailToQueueMembers</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <stringValue>COMM_Partner_SubmittedCancellationSubscriptionForm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueDeveloperName</name>
            <value>
                <stringValue>COMM_SubscriptionRequestSABA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueId</name>
            <value>
                <elementReference>Get_SABA_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_UseDeveloperName</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>COMM_Subflow_SendEmailToSABAQueueOnRenewal</name>
        <label>Send Email to SABA Queue on Renewal</label>
        <locationX>314</locationX>
        <locationY>924</locationY>
        <flowName>COMM_FLW_Utilities_SendEmailToQueueMembers</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <stringValue>COMM_Partner_SubmittedRenewalSubscriptionForm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueDeveloperName</name>
            <value>
                <stringValue>COMM_SubscriptionRequestSABA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueId</name>
            <value>
                <elementReference>Get_SABA_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_UseDeveloperName</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>COMM_SubFlow_SendNotificationToSABAUsers_Cancellation</name>
        <label>Send Notification To SABA Users - Cancellation</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>COMM_Subflow_SendEmailToSABAQueueOnCancellation</targetReference>
        </connector>
        <flowName>COMM_FLW_Generic_SendNotificationToQueue</flowName>
        <inputAssignments>
            <name>CustomNotificationId</name>
            <value>
                <elementReference>Get_New_Pending_Request_Custom_Notification.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_EN</name>
            <value>
                <elementReference>Cancellation_Not_Body_EN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_ES</name>
            <value>
                <elementReference>Cancellation_Not_Body_ES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_PT</name>
            <value>
                <elementReference>Cancellation_Not_Body_PT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_EN</name>
            <value>
                <elementReference>Cancellation_Not_Title_EN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_ES</name>
            <value>
                <elementReference>Cancellation_Not_Title_ES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_PT</name>
            <value>
                <elementReference>Cancellation_Not_Title_PT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QueueDeveloperName</name>
            <value>
                <stringValue>COMM_SubscriptionRequestSABA</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Notification_To_Airport_Admins</name>
        <label>Send Notification To Airport Admins</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <flowName>COMM_FLW_Generic_SendNotificationToQueue</flowName>
        <inputAssignments>
            <name>CustomNotificationId</name>
            <value>
                <elementReference>Get_Pending_Request_Custom_Notification_ANA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_EN</name>
            <value>
                <elementReference>Pending_Not_Body_EN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_ES</name>
            <value>
                <elementReference>Pending_Not_Body_ES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_PT</name>
            <value>
                <elementReference>Pending_Not_Body_PT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_EN</name>
            <value>
                <elementReference>Not_Title_EN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_ES</name>
            <value>
                <elementReference>Not_Title_ES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_PT</name>
            <value>
                <elementReference>Not_Title_PT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QueueDeveloperName</name>
            <value>
                <elementReference>COMM_SubscriptionRequestAirportAdminQueueNameFormula</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Notification_To_SABA_Users</name>
        <label>Send Notification To SABA Users</label>
        <locationX>446</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>COMM_Decision_CheckCaseRecordTypeForEmail</targetReference>
        </connector>
        <flowName>COMM_FLW_Generic_SendNotificationToQueue</flowName>
        <inputAssignments>
            <name>CustomNotificationId</name>
            <value>
                <elementReference>Get_New_Pending_Request_Custom_Notification.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_EN</name>
            <value>
                <elementReference>Not_Body_EN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_ES</name>
            <value>
                <elementReference>Not_Body_ES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_PT</name>
            <value>
                <elementReference>Not_Body_PT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_EN</name>
            <value>
                <elementReference>Not_Title_EN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_ES</name>
            <value>
                <elementReference>Not_Title_ES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_PT</name>
            <value>
                <elementReference>Not_Title_PT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QueueDeveloperName</name>
            <value>
                <stringValue>COMM_SubscriptionRequestSABA</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Notification_To_SABA_Users_2</name>
        <label>Send Notification To SABA Users</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Send_Notification_To_Airport_Admins</targetReference>
        </connector>
        <flowName>COMM_FLW_Generic_SendNotificationToQueue</flowName>
        <inputAssignments>
            <name>CustomNotificationId</name>
            <value>
                <elementReference>COMM_Get_Pending_Request_Custom_Notification_SABA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_EN</name>
            <value>
                <elementReference>Pending_Not_Body_EN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_ES</name>
            <value>
                <elementReference>Pending_Not_Body_ES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_PT</name>
            <value>
                <elementReference>Pending_Not_Body_PT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_EN</name>
            <value>
                <elementReference>Not_Title_EN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_ES</name>
            <value>
                <elementReference>Not_Title_ES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_PT</name>
            <value>
                <elementReference>Not_Title_PT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QueueDeveloperName</name>
            <value>
                <stringValue>COMM_SubscriptionRequestSABA</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Cancellation_Not_Body_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Cancelation request {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} approved by ANA Admin.
The current subscription will end on: {!$Record.COMM_Subscription__r.COMM_EndDate__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Cancellation_Not_Body_ES</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Solicitud de cancelación {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} aprobada por el administrador de ANA.
La suscripción actual finalizará el: {!$Record.COMM_Subscription__r.COMM_EndDate__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Cancellation_Not_Body_PT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Solicitação de cancelamento {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} aprovada pela ANA Admin.
A subscrião atual terminará em: {!$Record.COMM_Subscription__r.COMM_EndDate__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Cancellation_Not_Title_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANA – Aeroportos de Portugal Subscription Cancelation Request</text>
    </textTemplates>
    <textTemplates>
        <name>Cancellation_Not_Title_ES</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANA – Aeroportos de Portugal Solicitud de cancelación de suscripción</text>
    </textTemplates>
    <textTemplates>
        <name>Cancellation_Not_Title_PT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANA – Aeroportos de Portugal Pedido de Cancelamento de Subscrição</text>
    </textTemplates>
    <textTemplates>
        <name>Not_Body_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This user&apos;s subscription request {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} is now available for approval. Go to the pending subscriptions list.</text>
    </textTemplates>
    <textTemplates>
        <name>Not_Body_ES</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Su solicitud de abono para {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} ya está disponible para su aprobación. Ir al tablón de pendientes.</text>
    </textTemplates>
    <textTemplates>
        <description>The notification body to send</description>
        <name>Not_Body_PT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>O processo de pedido de avença deste utilizador {!$Record.COMM_SubscriptionNumber__c} - {!$Record.COMM_FirstName__c} {!$Record.COMM_SubscriptionNumber__c} já está disponível para conclusão. Ir para o quadro de pendentes.</text>
    </textTemplates>
    <textTemplates>
        <description>Notification Title EN</description>
        <name>Not_Title_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ana - Aeroportos de Portugal New Subscription Request</text>
    </textTemplates>
    <textTemplates>
        <description>Notification Title ES</description>
        <name>Not_Title_ES</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ana - Aeroportos de Portugal Nueva solicitud de suscripción</text>
    </textTemplates>
    <textTemplates>
        <description>Notification Title PT</description>
        <name>Not_Title_PT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANA – Aeroportos de Portugal Pedido de nova Avença</text>
    </textTemplates>
    <textTemplates>
        <name>Pending_Not_Body_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This user&apos;s subscription request {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} is pending for 3 days.</text>
    </textTemplates>
    <textTemplates>
        <name>Pending_Not_Body_ES</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Su solicitud de abono para {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} lleva pendiente 3 días.</text>
    </textTemplates>
    <textTemplates>
        <name>Pending_Not_Body_PT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>O pedido de avença deste utilizador {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} está pendente há 3 dias.</text>
    </textTemplates>
    <variables>
        <description>List of user Ids with SABA role</description>
        <name>SABAUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
