force-app/main/default/flows/COMM_OMS_ManualRetryEnsureFunds.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ensure_Funds</name>
        <label>Ensure Funds</label>
        <locationX>775</locationX>
        <locationY>508</locationY>
        <actionName>ensureFundsOrderSummaryAsync</actionName>
        <actionType>ensureFundsOrderSummaryAsync</actionType>
        <connector>
            <targetReference>Screen_Retry_successfully_submitted_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invoice_Ensure_Funds_action_failed_screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureFundsAsyncInput</name>
            <value>
                <elementReference>EnsureFundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Invoice.ReferenceEntityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ensureFundsOrderSummaryAsync</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Ensure_Funds_input</name>
        <label>Assign Ensure Funds input</label>
        <locationX>626</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>EnsureFundsAsyncInputRepresentation.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Funds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Invoice_has_balance_to_retry</name>
        <label>Invoice has balance to retry</label>
        <locationX>610</locationX>
        <locationY>356</locationY>
        <defaultConnector>
            <targetReference>Invoice_does_not_have_any_balance_to_retry_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_invoice_has_balance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Balance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_to_proceed_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ReferenceEntity_an_Order</name>
        <label>Is ReferenceEntity an Order</label>
        <locationX>769</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Referenced_Entity_is_not_an_Order_Summary_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.ReferenceEntityId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1Os</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_has_balance_to_retry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Confirmed_to_proceed</name>
        <label>User Confirmed to proceed?</label>
        <locationX>450</locationX>
        <locationY>505</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_confirmed_to_proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmed_to_proceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ensure_Funds_input</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>OMS Manual Retry Ensure Funds {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMS Manual Retry Ensure Funds</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ReferenceEntity_an_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance</queriedFields>
        <queriedFields>ReferenceEntityId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm_to_proceed_screen</name>
        <label>Confirm to proceed screen</label>
        <locationX>457</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>User_Confirmed_to_proceed</targetReference>
        </connector>
        <fields>
            <name>confirm_to_proceed_dialog</name>
            <extensionName>c:comm_omsConfirmDialog</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Do you want to proceed?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>yesButtonClicked</name>
                <value>
                    <elementReference>confirmed_to_proceed</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>confirmed_to_proceed</assignToReference>
                <name>yesButtonClicked</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_does_not_have_any_balance_to_retry_screen</name>
        <label>Invoice does not have any balance to retry</label>
        <locationX>621</locationX>
        <locationY>140</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invoice_does_not_have_any_balance_to_retry_displaytext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Invoice does not have any balance to retry.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_Ensure_Funds_action_failed_screen</name>
        <label>Invoice Ensure Funds action failed</label>
        <locationX>774</locationX>
        <locationY>673</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invoice_Ensure_Funds_action_failed_displaytext</name>
            <fieldText>&lt;p&gt;Invoice Ensure Funds action failed:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Referenced_Entity_is_not_an_Order_Summary_screen</name>
        <label>Referenced Entity is not an Order Summary</label>
        <locationX>975</locationX>
        <locationY>353</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Referenced_Entity_is_not_an_Order_Summary_displaytext</name>
            <fieldText>&lt;p&gt;Referenced Entity is not an Order Summary.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Retry_successfully_submitted_screen</name>
        <label>Screen Retry successfully submitted</label>
        <locationX>914</locationX>
        <locationY>508</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Retry_successfully_submitted_displaytext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Noto Sans&amp;quot;, Ubuntu, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;The retry has been successfully submitted to be processed asynchronously.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Noto Sans&amp;quot;, Ubuntu, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;This message does not mean that the capture has been successful with the payment gateway. Please check the Order Payment Summaries.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>confirmed_to_proceed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EnsureFundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureFundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
