force-app/main/default/flows/COMM_OMS_Trigger_Cancel_Item_via_Replacement_Order_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This flow will cancel an original Order/Order Items replaced by a new Order (controlled by a Process Status field)</description>
    <environments>Default</environments>
    <interviewLabel>OMS Trigger Cancel Item via Replacement Order Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMS Trigger Cancel Item via Replacement Order Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Order Summary COMM_ReplacedOrderProcessStatus__c to Processed after cancelling the replaced Order/Order Items</description>
        <name>Update_Order_Summary</name>
        <label>Update Order Summary</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>COMM_ReplacedOrderProcessStatus__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OMS_Cancel_Items</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>COMM_ReplacedOrder__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COMM_ReplacedOrderItems__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COMM_ReplacedOrderProcessStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>To Process</stringValue>
            </value>
        </filters>
        <object>OrderSummary</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>OMS_Cancel_Items</name>
        <label>OMS Cancel Items</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Order_Summary</targetReference>
        </connector>
        <flowName>COMM_OMS_Cancel_Item</flowName>
        <inputAssignments>
            <name>returnedOrderProductSummaryIds</name>
            <value>
                <elementReference>$Record.COMM_ReplacedOrderItems__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>returnedOrderSummaryId</name>
            <value>
                <elementReference>$Record.COMM_ReplacedOrder__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
