force-app/main/default/flows/COMM_FLW_Case_Subscription_PostSABAConclusionActions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>COMM_Action_SendCustomerEmailNewCardDueDamage</name>
        <label>Send Customer Email of New Card Due Damage</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Requires_Invoice</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_Get_OrgWideEmailAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>COMM_Variable_UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_DamageCardEmailTemplate.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_End_User</name>
        <label>Send Email to End User</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clear_User_Emails</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>Get_Default_No_Reply_Address.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Get_Email_Template_End_User_Subscription_Approved.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Partner_User</name>
        <label>Send Email to Partner User</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Platform_Event_to_Create_Invoice</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>Get_Default_No_Reply_Address.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Get_Email_Template_Partner_User_Subscription_Approved.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_End_User_Email_to_User_Emails</name>
        <label>Add End User Email to User Emails</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_End_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Partner_Admin_to_Ids</name>
        <label>Add Partner Admin to Ids</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PartnerAdminIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_to_Partner_Admin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Partner_User_Email_to_User_Emails</name>
        <label>Add Partner User Email to User Emails</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Partner_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_User_Emails</name>
        <label>Clear User Emails</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>UserEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template_Partner_User_Subscription_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_AddCustomerEmailToEmailList</name>
        <label>Add Customer Email to Email List</label>
        <locationX>842</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_SendCustomerEmailNewCardDueDamage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_AddPartnerAdminToIdsCancellation</name>
        <label>Add Partner Admin to Ids</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PartnerAdminIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Subflow_SendNotificationToPartnerAdminCancellation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_AddPartnerAdminToIdsManualRenewal</name>
        <label>Add Partner Admin to Ids</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PartnerAdminIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Subflow_SendNotificationToPartnerAdminManualRenewal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>COMM_Decision_IsNewCardDueToDamage</name>
        <label>Is New Card Due To Damage</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Requires_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_IsNewCardDueToDamage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewCardDueToDamageLoss</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_Motive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Damage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_OrgWideEmailAddress</targetReference>
            </connector>
            <label>Is New Card Due To Damage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requires_Invoice</name>
        <label>Requires Invoice?</label>
        <locationX>974</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewCardDueToDamageLoss</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeOwnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_NewCardRequest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Platform_Event_to_Create_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Split_by_RT</name>
        <label>Split by RT</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Partner_Admin_Subscription_Concluded_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subscription Modification</defaultConnectorLabel>
        <rules>
            <name>New_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewSubscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_No_Reply_Address</targetReference>
            </connector>
            <label>New Subscription</label>
        </rules>
        <rules>
            <name>Manual_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ManualRenewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_PartnerAdminSubscriptionConcludedNotificationManualRenewal</targetReference>
            </connector>
            <label>Manual Renewal</label>
        </rules>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CancelationRequest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_PartnerAdminSubscriptionConcludedNotificationCancellation</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
    </decisions>
    <description>Perform actions after SABA changes status to Process Concluded</description>
    <environments>Default</environments>
    <interviewLabel>Case Subscription Post SABA Conclusion Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Subscription Post SABA Conclusion Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_Platform_Event_to_Create_Invoice</name>
        <label>Send Platform Event to Create Invoice</label>
        <locationX>512</locationX>
        <locationY>1871</locationY>
        <inputAssignments>
            <field>COMM_CaseId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_SubscriptionInvoiceGenerator__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>COMM_Get_OrgWideEmailAddress</name>
        <label>Get Org Wide Email Address</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Subflow_DamageCardEmailTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_PartnerAdminSubscriptionConcludedNotificationCancellation</name>
        <label>Get Partner Admin Subscription Concluded Notification Cancellation</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Assignment_AddPartnerAdminToIdsCancellation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_PartnerAdmin_SubscriptionConcluded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_PartnerAdminSubscriptionConcludedNotificationManualRenewal</name>
        <label>Get Partner Admin Subscription Concluded Notification Manual Renewal</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Assignment_AddPartnerAdminToIdsManualRenewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_PartnerAdmin_SubscriptionConcluded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_No_Reply_Address</name>
        <label>Get Default No-Reply Address</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Template_End_User_Subscription_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Admin_Subscription_Concluded_Notification</name>
        <label>Get Partner Admin Subscription Concluded Notification</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Partner_Admin_to_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_PartnerAdmin_SubscriptionConcluded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Related_Subscription</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
  OR(
    {!$Record.RecordType.DeveloperName}=&apos;COMM_NewSubscription&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_CancelationRequest&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_NewCardDueToDamageLoss&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangeOwnership&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangeSubscriptionInformation&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangePaymentPeriodicity&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangeUserInformation&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ManualRenewal&apos;
  ),
  ISPICKVAL({!$Record.Status}, &apos;Process Concluded&apos;)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>COMM_Subflow_DamageCardEmailTemplate</name>
        <label>Get Damage Card Email Template</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>COMM_Assignment_AddCustomerEmailToEmailList</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <stringValue>COMM_Partner_SubscriptionNewCardDueToDamage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>COMM_Subflow_SendNotificationToPartnerAdminCancellation</name>
        <label>Send Notification to Partner Admin Cancellation</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <flowName>COMM_FLW_Generic_SendNotificationToQueue</flowName>
        <inputAssignments>
            <name>CustomNotificationId</name>
            <value>
                <elementReference>COMM_Get_PartnerAdminSubscriptionConcludedNotificationCancellation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_EN</name>
            <value>
                <elementReference>EN_Body_SubCancellationConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_ES</name>
            <value>
                <elementReference>ES_Body_SubCancellationConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_PT</name>
            <value>
                <elementReference>PT_Body_SubCancellationConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_EN</name>
            <value>
                <elementReference>EN_Title_SubCancellationConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_ES</name>
            <value>
                <elementReference>ES_Title_SubCancellationConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_PT</name>
            <value>
                <elementReference>PT_Title_SubCancellationConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserIds</name>
            <value>
                <elementReference>PartnerAdminIds</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>COMM_Subflow_SendNotificationToPartnerAdminManualRenewal</name>
        <label>Send Notification to Partner Admin Manual Renewal</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Send_Platform_Event_to_Create_Invoice</targetReference>
        </connector>
        <flowName>COMM_FLW_Generic_SendNotificationToQueue</flowName>
        <inputAssignments>
            <name>CustomNotificationId</name>
            <value>
                <elementReference>COMM_Get_PartnerAdminSubscriptionConcludedNotificationManualRenewal.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_EN</name>
            <value>
                <elementReference>EN_Body_SubRenewalConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_ES</name>
            <value>
                <elementReference>ES_Body_SubRenewalConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_PT</name>
            <value>
                <elementReference>PT_Body_SubRenewalConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_EN</name>
            <value>
                <elementReference>EN_Title_SubRenewalConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_ES</name>
            <value>
                <elementReference>ES_Title_SubRenewalConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_PT</name>
            <value>
                <elementReference>PT_Title_SubRenewalConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserIds</name>
            <value>
                <elementReference>PartnerAdminIds</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Email_Template_End_User_Subscription_Approved</name>
        <label>Get Email Template End User Subscription Approved</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Add_End_User_Email_to_User_Emails</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <stringValue>COMM_Partner_SubscriptionApproved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Email_Template_Partner_User_Subscription_Approved</name>
        <label>Get Email Template Partner User Subscription Approved</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Add_Partner_User_Email_to_User_Emails</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <stringValue>COMM_Partner_SubscriptionApproval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.CreatedBy.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_Notification_to_Partner_Admin</name>
        <label>Send Notification to Partner Admin</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>COMM_Decision_IsNewCardDueToDamage</targetReference>
        </connector>
        <flowName>COMM_FLW_Generic_SendNotificationToQueue</flowName>
        <inputAssignments>
            <name>CustomNotificationId</name>
            <value>
                <elementReference>Get_Partner_Admin_Subscription_Concluded_Notification.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_EN</name>
            <value>
                <elementReference>EN_Body_SubConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_ES</name>
            <value>
                <elementReference>ES_Body_SubConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_PT</name>
            <value>
                <elementReference>PT_Body_SubConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_EN</name>
            <value>
                <elementReference>EN_Title_SubConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_ES</name>
            <value>
                <elementReference>ES_Title_SubConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_PT</name>
            <value>
                <elementReference>PT_Title_SubConcluded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserIds</name>
            <value>
                <elementReference>PartnerAdminIds</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Related_Subscription</name>
        <label>Update Related Subscription</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Split_by_RT</targetReference>
        </connector>
        <flowName>COMM_FLW_Case_UpdateRelatedSubscription</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EN_Body_SubCancellationConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your cancellation request has been completed! The subscription {!$Record.COMM_Subscription__c} has been cancelled.</text>
    </textTemplates>
    <textTemplates>
        <name>EN_Body_SubConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your subscription modification process has concluded.</text>
    </textTemplates>
    <textTemplates>
        <name>EN_Body_SubRenewalConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your subscription manual renewal process has concluded.</text>
    </textTemplates>
    <textTemplates>
        <name>EN_Title_SubCancellationConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANA – Aeroportos de Portugal Subscription Cancelation Request</text>
    </textTemplates>
    <textTemplates>
        <name>EN_Title_SubConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Subscription Modification Process</text>
    </textTemplates>
    <textTemplates>
        <name>EN_Title_SubRenewalConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Subscription Manual Renewal Process</text>
    </textTemplates>
    <textTemplates>
        <name>ES_Body_SubCancellationConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>¡Su solicitud de cancelación ha sido realizada y completada! La suscripción {!$Record.COMM_Subscription__c} ha sido cancelada.</text>
    </textTemplates>
    <textTemplates>
        <name>ES_Body_SubConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Su proceso de modificación del abono ha concluido.</text>
    </textTemplates>
    <textTemplates>
        <name>ES_Body_SubRenewalConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Su proceso de renovación manual del abono ha concluido.</text>
    </textTemplates>
    <textTemplates>
        <name>ES_Title_SubCancellationConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANA – Aeroportos de Portugal Solicitud de cancelación de suscripción</text>
    </textTemplates>
    <textTemplates>
        <name>ES_Title_SubConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Proceso de modificación del abono</text>
    </textTemplates>
    <textTemplates>
        <name>ES_Title_SubRenewalConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Proceso de renovación manual del abono</text>
    </textTemplates>
    <textTemplates>
        <name>PT_Body_SubCancellationConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>O seu pedido de cancelamento foi efectuado e concluido! A avença {!$Record.COMM_Subscription__c} foi cancelada.</text>
    </textTemplates>
    <textTemplates>
        <name>PT_Body_SubConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>O seu processo de modificação da subscrição concluiu.</text>
    </textTemplates>
    <textTemplates>
        <name>PT_Body_SubRenewalConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>O seu processo de renovação manual da subscrição concluiu.</text>
    </textTemplates>
    <textTemplates>
        <name>PT_Title_SubCancellationConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANA – Aeroportos de Portugal Pedido de Cancelamento de Subscrição</text>
    </textTemplates>
    <textTemplates>
        <name>PT_Title_SubConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Processo de modificação da subscrição</text>
    </textTemplates>
    <textTemplates>
        <name>PT_Title_SubRenewalConcluded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Processo de renovação manual da subscrição</text>
    </textTemplates>
    <variables>
        <name>COMM_Variable_UserEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerAdminIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
