force-app/main/default/flows/COMM_FLW_Case_AffiliateRegistrationRequestValidationOnApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Apex action call to perform sending of email message.</description>
        <name>COMM_SendEmailToCustomer</name>
        <label>Send Email to Customer</label>
        <locationX>974</locationX>
        <locationY>1271</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetOrganizationWideAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>COMM_EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_GetEmailTemplate.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Variable to set email addresses related on recipient of emails.</description>
        <name>COMM_SetEmailRecipientsB2B</name>
        <label>Set Email Recipients</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>COMM_EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_SendEmailToCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Variable to set email addresses related on recipient of emails.</description>
        <name>COMM_SetEmailRecipientsB2C</name>
        <label>Set Email Recipients</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>COMM_EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_SendEmailToCustomer</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <description>Error thrown when an User already exists related to an email.</description>
        <name>COMM_ExistingUserValidationError</name>
        <label>Existing User Validation Error</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.COMM_CASE_VR_AffiliateUserExists}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>Error thrown when mandatory fields related to Case Affiliate Registration Request for Account creation are not filled.</description>
        <name>COMM_MissingAccountDetailsValidationError</name>
        <label>Missing Account Details Validation Error</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.COMM_CASE_VR_AffiliateAccountFields}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>Error thrown when mandatory fields related to Case Affiliate Registration Request for Contact creation are not filled.</description>
        <name>COMM_MissingContactDetailsValidationError</name>
        <label>Missing Contact Details Validation Error</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.COMM_CASE_VR_AffiliateContactFields}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>COMM_Decision_CheckRelatedAccountRecordType</name>
        <label>Check Related Account Record Type</label>
        <locationX>974</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>COMM_SetEmailRecipientsB2C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is B2C</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_IsB2B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Get_RelatedExternalAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CollectivePartner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetEmailRecipientsB2B</targetReference>
            </connector>
            <label>Is B2B</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Case in process is an Affiliate Registration Request.</description>
        <name>COMM_IsCaseRelatedOnAnAffiliateRegistrationRequest</name>
        <label>Is Case related on an Affiliate Registration Request?</label>
        <locationX>941</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate Registration Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if mandatory fields for Account creation are filled.</description>
        <name>COMM_IsCaseValidForApproval</name>
        <label>Is Case Valid For Approval?</label>
        <locationX>512</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>COMM_GetOrganizationWideAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>COMM_UserWithEmailAlreadyExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_GetUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_ExistingUserValidationError</targetReference>
            </connector>
            <label>User with email already exists</label>
        </rules>
        <rules>
            <name>COMM_MissingAccountDetails</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_CompanyName__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_CompanyVATNumber__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_AffiliateCategory__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_AffiliatePaymentMethod__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_CompanyEmail__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_CompanyAddress__CountryCode__s</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_CompanyAddress__City__s</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_CompanyAddress__Street__s</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_CompanyAddress__PostalCode__s</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_MissingAccountDetailsValidationError</targetReference>
            </connector>
            <label>Missing Account Details</label>
        </rules>
        <rules>
            <name>COMM_MissingContactDetails</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_FirstName__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_LastName__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_MissingContactDetailsValidationError</targetReference>
            </connector>
            <label>Missing Contact Details</label>
        </rules>
    </decisions>
    <description>Flow to validate Account / Contact information on a Case related to an affiliate registration request and send an email confirmation if information is valid for an Affiliate Account creation.</description>
    <environments>Default</environments>
    <formulas>
        <description>Concatenation of First Name and Last Name from Case record on process to set as Collective/Partner Account Name.</description>
        <name>COMM_AccountName</name>
        <dataType>String</dataType>
        <expression>{!$Record.COMM_FirstName__c} + &apos; &apos; + {!$Record.COMM_LastName__c}</expression>
    </formulas>
    <interviewLabel>Case Affiliate Registration Request Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Affiliate Registration Request Validation on Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>COMM_Get_RelatedExternalAccount</name>
        <label>Get Related External Account</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Decision_CheckRelatedAccountRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.COMM_CustomerExternalId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get default no-reply Organization Wide Address.</description>
        <name>COMM_GetOrganizationWideAddress</name>
        <label>Get Organization Wide Address</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetEmailTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get a User record by a specified email.</description>
        <name>COMM_GetUser</name>
        <label>Get User</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_IsCaseValidForApproval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>815</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_IsCaseRelatedOnAnAffiliateRegistrationRequest</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Affiliate Creation</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Get Email Template for Affiliate approved request.</description>
        <name>COMM_GetEmailTemplate</name>
        <label>Get Email Template</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>COMM_Get_RelatedExternalAccount</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <stringValue>COMM_Affiliate_RequestApproval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Variable with identifier of Affiliate Account.</description>
        <name>COMM_AffiliateAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection with email addresses to related on email recipients.</description>
        <name>COMM_EmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
