force-app/main/default/flows/COMM_CreateNewSubscriptionRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Get Account Airports detail from Account Airport multi-picklist.</description>
        <name>COMM_GetAccountAirports</name>
        <label>Get Account Airports</label>
        <locationX>1353</locationX>
        <locationY>866</locationY>
        <actionName>COMM_SL_GetAirports</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_GetContactAirports</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pickListValues</name>
            <value>
                <elementReference>COMM_UserAccount.COMM_Airport__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_GetAirports</nameSegment>
        <outputParameters>
            <assignToReference>COMM_filteredAccountAirports</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Get payment methods available for current Account.</description>
        <name>COMM_GetAccountPaymentMethods</name>
        <label>Get Account Payment Methods</label>
        <locationX>1353</locationX>
        <locationY>1874</locationY>
        <actionName>COMM_SL_GetPaymentMethod</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_AirportPeriodicitySelectionScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pickListValues</name>
            <value>
                <elementReference>COMM_UserAccount.COMM_PaymentMethod__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_GetPaymentMethod</nameSegment>
        <outputParameters>
            <assignToReference>COMM_FilteredAccountPaymentMethod</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Get Contact Airports detail from Contact Airport multi-picklist.</description>
        <name>COMM_GetContactAirports</name>
        <label>Get Contact Airports</label>
        <locationX>1353</locationX>
        <locationY>974</locationY>
        <actionName>COMM_SL_GetAirports</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_Assignment_EmptyAirportList</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pickListValues</name>
            <value>
                <elementReference>COMM_GetContact.COMM_Airport__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_GetAirports</nameSegment>
        <outputParameters>
            <assignToReference>COMM_filteredContactAirports</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Call apex method to get Products available for options chosen on previous flow screens.</description>
        <name>COMM_GetProductPrice</name>
        <label>Get Product Price</label>
        <locationX>1073</locationX>
        <locationY>3722</locationY>
        <actionName>COMM_SL_GetProductPrice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_LoopAvailableProductsWithPrices</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>airports</name>
            <value>
                <elementReference>COMM_Airport</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>categories</name>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>codes</name>
            <value>
                <elementReference>COMM_ProductCodes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>periodicities</name>
            <value>
                <elementReference>COMM_Periodicity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantities</name>
            <value>
                <elementReference>COMM_QuantityOfSubscription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subCategories</name>
            <value>
                <elementReference>COMM_SubCategory</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_GetProductPrice</nameSegment>
        <outputParameters>
            <assignToReference>COMM_ProductPriceBooks</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Reserve a product.</description>
        <name>COMM_ReserveProduct</name>
        <label>Reserve Product</label>
        <locationX>50</locationX>
        <locationY>8576</locationY>
        <actionName>COMM_SL_SetProductReservation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_UpdateSubscriptions</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>codes</name>
            <value>
                <elementReference>COMM_ProductsToReserveCodes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SetProductReservation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>COMM_Assignment_AddValueToFilteredList</name>
        <label>Add Value to Filtered List</label>
        <locationX>1881</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>COMM_filteredAirportsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contact_Airport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contact_Airport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clear Airport List of values to ensure it doesn&apos;t repeat them.</description>
        <name>COMM_Assignment_EmptyAirportList</name>
        <label>Empty Airport List</label>
        <locationX>1353</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>COMM_filteredAirportsList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Account_Airport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Park Pricing and Name of the Park to handle.</description>
        <name>COMM_AssignParkDetail</name>
        <label>Assign Park Detail</label>
        <locationX>864</locationX>
        <locationY>5894</locationY>
        <assignmentItems>
            <assignToReference>COMM_ChoosenProductPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopParks.price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_ChoosenProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopParks.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_ChosenProductAvailability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopParks.productAvailability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_ParkAvailabilityLessThanChosen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Product Codes to process.</description>
        <name>COMM_ProductCodeAssignation</name>
        <label>Product Code Assignation</label>
        <locationX>1529</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>COMM_ProductCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>COMM_LoopProducts.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_LoopProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Sub-Category related variables.</description>
        <name>COMM_ProductSubCategoryAssignation</name>
        <label>Product Sub-Category Assignation</label>
        <locationX>1617</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>COMM_SubCategories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>COMM_LoopProducts.COMM_SubCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_productSubCategory.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopProducts.COMM_SubCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_productSubCategory.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopProducts.COMM_SubCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_productSubCategories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>COMM_productSubCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubCategoriesAsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>COMM_LoopProducts.COMM_SubCategory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_ProductCodeAssignation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Account related on User in the flow context.</description>
        <name>COMM_SetAccountRelatedOnUser</name>
        <label>Set Account Related On User</label>
        <locationX>1493</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>COMM_UserAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_GetAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_UserAccountFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Account related on User in the flow context.</description>
        <name>COMM_SetAccountRelatedOnUser_1</name>
        <label>Set Account Related On User</label>
        <locationX>1757</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>COMM_UserAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_GetUserAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_UserAccountFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set auxiliary variable increment to support Subscription creation.</description>
        <name>COMM_SetAuxiliaryCount</name>
        <label>Set Auxiliary Count</label>
        <locationX>534</locationX>
        <locationY>6434</locationY>
        <assignmentItems>
            <assignToReference>COMM_IterationCountAuxiliary</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_SubscriptionUserDetailScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Case Records to be created.</description>
        <name>COMM_SetCaseToCreate</name>
        <label>Set Case to Create</label>
        <locationX>138</locationX>
        <locationY>7592</locationY>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopSubscriptionToCreate.COMM_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopSubscriptionToCreate.COMM_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopSubscriptionToCreate.COMM_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_Periodicity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopSubscriptionToCreate.COMM_Periodicity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopSubscriptionToCreate.COMM_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopSubscriptionToCreate.COMM_FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopSubscriptionToCreate.COMM_LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_Card__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopSubscriptionToCreate.COMM_Card__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopSubscriptionToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Subscription</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_GetSubscriptionRequestCaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_SubscriptionNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopSubscriptionToCreate.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_Airport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Airport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_InitialSubscriptionMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_ActualMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_TodayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopSubscriptionToCreate.COMM_EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_SubscriptionPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopSubscriptionToCreate.COMM_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_CardPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_GetCardPrice.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CaseToCreate.COMM_NewCardRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_CasesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>COMM_CaseToCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_ProductsToReserveCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>COMM_LoopSubscriptionToCreate.COMM_Product__r.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_LoopSubscriptionToCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set chosen periodicity.</description>
        <name>COMM_SetChosenPeriodicity</name>
        <label>Set Chosen Periodicity</label>
        <locationX>1353</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>COMM_ChosenPeriodicity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Periodicity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_GetSubcriptionProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set variable with count of number of products available in OMS.</description>
        <name>COMM_SetCountAvailableProducts</name>
        <label>Set Count Available Products</label>
        <locationX>1161</locationX>
        <locationY>4046</locationY>
        <assignmentItems>
            <assignToReference>COMM_AvailableProductsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_LoopAvailableProductsWithPrices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set variable to get the number of Subscriptions to create.</description>
        <name>COMM_SetNumberOfSubscriptionsToCreate</name>
        <label>Set Number of Subscriptions to Create</label>
        <locationX>666</locationX>
        <locationY>6218</locationY>
        <assignmentItems>
            <assignToReference>COMM_IterationCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_QuantityOfSubscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_IsToCreateRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set variable with Product Tax to get Card.</description>
        <name>COMM_SetProductTax</name>
        <label>Set Product Tax</label>
        <locationX>864</locationX>
        <locationY>4754</locationY>
        <assignmentItems>
            <assignToReference>COMM_ChoosenProductTax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopParks_0.tax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_LoopParks_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store Product Sub-Categories as text.</description>
        <name>COMM_SetSubCategoryAsText</name>
        <label>Set Sub-Category as Text</label>
        <locationX>1529</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>COMM_TextSubCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopProducts.COMM_SubCategory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_AlreadyContainsSubCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Subscription Record to create field values and support variables.</description>
        <name>COMM_SetSubscriptionToCreate</name>
        <label>Set Subscription to Create</label>
        <locationX>534</locationX>
        <locationY>6650</locationY>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_UserAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Park</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_Periodicity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Periodicity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_GetContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_Card__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_GetCardPrice.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_ChoosenProductPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_Airport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Airport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_InitialSubscriptionMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_ActualMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_TodayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LastDayEndMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_GetPartnerSubscriptionRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_PaymentMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_AutomaticRenewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_AccountAutomaticRenewal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate.COMM_OCIEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_GetCapacity.COMM_ValidTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>COMM_SubscriptionToCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToCreate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_IterationCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>COMM_IsToCreateRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Subscription record to update.</description>
        <name>COMM_SetSubscriptionToUpdate</name>
        <label>Set Subscription to Update</label>
        <locationX>578</locationX>
        <locationY>8216</locationY>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Loop_Subscriptions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionToUpdate.COMM_ActiveSubscriptionRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopCases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_SubscriptionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>COMM_SubscriptionToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_LoopCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Where Product Available and Payment Method multi picklists value as text.</description>
        <name>COMM_SetWhereProductAvailableAndPaymentAsText</name>
        <label>Set Where Product Available and Payment as Text</label>
        <locationX>1705</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>COMM_AvailableIn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopProducts.COMM_WhereProductAvailable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_ProductPaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_LoopProducts.COMM_PaymentType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_ProductIsAvailableInSubscriptionPortal</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>COMM_Quantity1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>COMM_Quantity2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>COMM_Quantity3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>COMM_Quantity4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>COMM_Quantity5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <decisions>
        <description>Check if Sub-Category is already available for output.</description>
        <name>COMM_AlreadyContainsSubCategory</name>
        <label>Already Contains Sub-Category?</label>
        <locationX>1529</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>COMM_ProductSubCategoryAssignation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_AlreadyContainsSubCategory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_SubCategoriesAsText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>COMM_TextSubCategory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_ProductCodeAssignation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Case and Subscription are related.</description>
        <name>COMM_CaseIsRelatedOnSubscription</name>
        <label>Case is related on Subscription?</label>
        <locationX>710</locationX>
        <locationY>8108</locationY>
        <defaultConnector>
            <targetReference>COMM_LoopCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_CaseIsRelatedOnSubscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_LoopCases.COMM_Subscription__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Loop_Subscriptions.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetSubscriptionToUpdate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_SameValue</name>
        <label>Same Value?</label>
        <locationX>2013</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Contact_Airport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_YesSameValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Contact_Airport.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Account_Airport.value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Assignment_AddValueToFilteredList</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition to check if there are Subscription records to create.</description>
        <name>COMM_DoExistSubscriptionsToCreate</name>
        <label>Do exist Subscriptions to Create?</label>
        <locationX>446</locationX>
        <locationY>7160</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_DoExistSubscriptionsToCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_SubscriptionsToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_CreateSubscription</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if a Product has definition.</description>
        <name>COMM_IsProductDefined</name>
        <label>Is Product defined?</label>
        <locationX>1293</locationX>
        <locationY>3938</locationY>
        <defaultConnector>
            <targetReference>COMM_LoopAvailableProductsWithPrices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_IsProductDefined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_LoopAvailableProductsWithPrices.name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetCountAvailableProducts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Park on the loop is the selected in screen.</description>
        <name>COMM_IsTheSelectedPark</name>
        <label>Is the Selected Park?</label>
        <locationX>1095</locationX>
        <locationY>5786</locationY>
        <defaultConnector>
            <targetReference>COMM_LoopParks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_ProductFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_LoopParks.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Park</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_AssignParkDetail</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Park on the loop is the selected in screen.</description>
        <name>COMM_IsTheSelectedPark_0</name>
        <label>Is the Selected Park?</label>
        <locationX>996</locationX>
        <locationY>4646</locationY>
        <defaultConnector>
            <targetReference>COMM_LoopParks_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_IsTheSelectedPark_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_LoopParks_0.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Park</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetProductTax</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there is additional Subscriptions to create.</description>
        <name>COMM_IsToCreateRecord</name>
        <label>Is to Create Record?</label>
        <locationX>666</locationX>
        <locationY>6326</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>COMM_DoExistSubscriptionsToCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_IsToCreateRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_IterationCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetAuxiliaryCount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the availability of chosen park is less than the park availability.</description>
        <name>COMM_ParkAvailabilityLessThanChosen</name>
        <label>Park availability less than chosen?</label>
        <locationX>864</locationX>
        <locationY>6002</locationY>
        <defaultConnector>
            <targetReference>COMM_ParkNotAvailableScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_ParkAvailabilityLessThanChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_ChosenProductAvailability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>COMM_QuantityOfSubscription</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SubscriptionTotalsScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if retrieved Product is available in Portal.</description>
        <name>COMM_ProductIsAvailableInSubscriptionPortal</name>
        <label>Product is available in Subscription Portal?</label>
        <locationX>1705</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>COMM_LoopProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_ProductIsAvailableInSubscriptionPortal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_AvailableIn</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Subscriptions Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COMM_ProductPaymentMethod</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>COMM_PaymentMethod</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetSubCategoryAsText</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there are parks for the selected sub-category.</description>
        <name>COMM_ThereAreParksForTheSelectedSubCategory</name>
        <label>There are Parks for the selected Sub-Category?</label>
        <locationX>1073</locationX>
        <locationY>4322</locationY>
        <defaultConnector>
            <targetReference>COMM_ParksNotAvailableScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_ThereAreParksForTheSelectedSubCategory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_AvailableProductsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_ParkSelectionScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition to check if there are products available for the previous chosen option on screen.</description>
        <name>COMM_ThereAreProductsAvailable</name>
        <label>There are products available?</label>
        <locationX>1353</locationX>
        <locationY>3506</locationY>
        <defaultConnector>
            <targetReference>COMM_ProductsNotAvailableScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_ThereAreProductsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_productSubCategories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SubCategoryQuantitySelectionScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition to check if there is a Card Product for the previous chosen Park.</description>
        <name>COMM_ThereIsACardRelatedToTheSelectedProduct</name>
        <label>There is a Card related to the selected Product?</label>
        <locationX>776</locationX>
        <locationY>5138</locationY>
        <defaultConnector>
            <targetReference>COMM_CardNotAvailableScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_ThereIsACardRelatedToTheSelectedProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_GetCardProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetProduct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if an Account related to the User on flow execution context exists.</description>
        <name>COMM_UserAccountFound</name>
        <label>User Account found?</label>
        <locationX>1625</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_UserAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetAccountAirports</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if User in flow context has a related Effective Account ID.</description>
        <name>COMM_UserEffectiveccountIsPopulated</name>
        <label>User Effective Account is populated?</label>
        <locationX>1625</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>COMM_GetRunningUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_UserEffectiveccountIsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.COMM_EffectiveAccountId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_CheckIfParentProductIsActive</name>
        <label>Check if Parent Product is Active</label>
        <locationX>1881</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>COMM_LoopProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Product is not Active</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_ParentProductIsActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_LoopProducts.COMM_ParentProduct__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetWhereProductAvailableAndPaymentAsText</targetReference>
            </connector>
            <label>Parent Product is Active</label>
        </rules>
    </decisions>
    <description>Screen to flow for New Subscription Request creation.</description>
    <dynamicChoiceSets>
        <name>COMM_AirportsAvailableChoiceSet</name>
        <collectionReference>COMM_filteredAirportsList</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>COMM_ParkChoiceSet</name>
        <collectionReference>COMM_ProductPriceBooks</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Payment Method Choice Set</description>
        <name>COMM_PaymentMethodChoiceSet</name>
        <collectionReference>COMM_FilteredAccountPaymentMethod</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>COMM_PeriodicityChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>COMM_Periodicity__c</picklistField>
        <picklistObject>COMM_Subscription__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>COMM_SubCategoryChoiceSet</name>
        <collectionReference>COMM_productSubCategories</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Formula field with Automatic Renewal Account definition.</description>
        <name>COMM_AccountAutomaticRenewal</name>
        <dataType>Boolean</dataType>
        <expression>IF(TEXT({!COMM_UserAccount.COMM_PaymentRenewal__c}) = &apos;Automatic&apos;, true,
IF(TEXT({!COMM_UserAccount.COMM_PaymentRenewal__c}) = &apos;Manual&apos;, false,
NULL))</expression>
    </formulas>
    <formulas>
        <description>Get actual month in text format.</description>
        <name>COMM_ActualMonth</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH(TODAY()),1, &quot;January&quot;,2, &quot;February&quot;,3, &quot;March&quot;,4, &quot;April&quot;,5, &quot;May&quot;,6, &quot;June&quot;,7, &quot;July&quot;,8, &quot;August&quot;,9, &quot;September&quot;,10, &quot;October&quot;,11, &quot;November&quot;,12, &quot;December&quot;,&quot;None&quot;)</expression>
    </formulas>
    <formulas>
        <description>End Date calculation based on periodicity.</description>
        <name>COMM_EndDate</name>
        <dataType>Date</dataType>
        <expression>CASE({!COMM_Periodicity}, &apos;Monthly&apos;, ADDMONTHS(TODAY(),1), &apos;Quarterly&apos;, ADDMONTHS(TODAY(),3), &apos;Half Yearly&apos;, ADDMONTHS(TODAY(),6), &apos;Yearly&apos;, ADDMONTHS(TODAY(),12), TODAY())</expression>
    </formulas>
    <formulas>
        <description>End date calculation based on periodicity.</description>
        <name>COMM_EndDate2</name>
        <dataType>Date</dataType>
        <expression>CASE({!COMM_ChosenPeriodicity}, &apos;Monthly&apos;, TODAY(), &apos;Quarterly&apos;, ADDMONTHS(TODAY(),2), &apos;Half Yearly&apos;, ADDMONTHS(TODAY(),5), &apos;Yearly&apos;, ADDMONTHS(TODAY(),11), TODAY())</expression>
    </formulas>
    <formulas>
        <description>Get last day of end month of subscription.</description>
        <name>COMM_LastDayEndMonth</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH({!COMM_EndDate2})=12, DATE(YEAR({!COMM_EndDate2}),12,31), DATE(YEAR({!COMM_EndDate2}),MONTH({!COMM_EndDate2})+1, 1)-1)</expression>
    </formulas>
    <formulas>
        <description>Calculate the price of a Subscription and related Card.</description>
        <name>COMM_SubscriptionPrice</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!COMM_GetCardPrice.UnitPrice}), {!COMM_ChoosenProductPrice}, {!COMM_ChoosenProductPrice} + {!COMM_GetCardPrice.UnitPrice} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Current Date.</description>
        <name>COMM_TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>COMM_TotalProductValue</name>
        <dataType>Currency</dataType>
        <expression>IF( ISBLANK({!COMM_GetCardPrice.UnitPrice}), {!COMM_QuantityOfSubscription}*{!COMM_ChoosenProductPrice}, {!COMM_QuantityOfSubscription}*{!COMM_ChoosenProductPrice}+{!COMM_QuantityOfSubscription}*{!COMM_GetCardPrice.UnitPrice})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create New Subscription Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Subscription Request</label>
    <loops>
        <description>Loop Created Subscription.</description>
        <name>COMM_Loop_Subscriptions</name>
        <label>Loop Subscriptions</label>
        <locationX>50</locationX>
        <locationY>7892</locationY>
        <collectionReference>COMM_SubscriptionsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_LoopCases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_ReserveProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop products returned from apex action that have availability in commerce.</description>
        <name>COMM_LoopAvailableProductsWithPrices</name>
        <label>Loop Available Products With Prices</label>
        <locationX>1073</locationX>
        <locationY>3830</locationY>
        <collectionReference>COMM_ProductPriceBooks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_IsProductDefined</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_ThereAreParksForTheSelectedSubCategory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Created Cases.</description>
        <name>COMM_LoopCases</name>
        <label>Loop Cases</label>
        <locationX>490</locationX>
        <locationY>8000</locationY>
        <collectionReference>COMM_CasesToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_CaseIsRelatedOnSubscription</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_Loop_Subscriptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Parks available to choose for the Selected Sub-Category.</description>
        <name>COMM_LoopParks</name>
        <label>Loop Parks</label>
        <locationX>446</locationX>
        <locationY>5678</locationY>
        <collectionReference>COMM_ProductPriceBooks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_IsTheSelectedPark</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_DoExistSubscriptionsToCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Parks available to choose for the Selected Sub-Category.</description>
        <name>COMM_LoopParks_0</name>
        <label>Loop Parks</label>
        <locationX>776</locationX>
        <locationY>4538</locationY>
        <collectionReference>COMM_ProductPriceBooks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_IsTheSelectedPark_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_GetCardProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Products available for Subscription.</description>
        <name>COMM_LoopProducts</name>
        <label>Loop Products</label>
        <locationX>1353</locationX>
        <locationY>2306</locationY>
        <collectionReference>COMM_GetSubcriptionProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_CheckIfParentProductIsActive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_ThereAreProductsAvailable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Subscription Record to Create.</description>
        <name>COMM_LoopSubscriptionToCreate</name>
        <label>Loop Subscription To Create</label>
        <locationX>50</locationX>
        <locationY>7484</locationY>
        <collectionReference>COMM_SubscriptionsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_SetCaseToCreate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_CreateSubscriptionRequestCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Account_Airport</name>
        <label>Loop through Account Airport</label>
        <locationX>1353</locationX>
        <locationY>1190</locationY>
        <collectionReference>COMM_filteredAccountAirports</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_Contact_Airport</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_GetAccountPaymentMethods</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Contact_Airport</name>
        <label>Loop through Contact Airport</label>
        <locationX>1793</locationX>
        <locationY>1298</locationY>
        <collectionReference>COMM_filteredContactAirports</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_Decision_SameValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Account_Airport</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Subscription records.</description>
        <name>COMM_CreateSubscription</name>
        <label>Create Subscription</label>
        <locationX>50</locationX>
        <locationY>7268</locationY>
        <connector>
            <targetReference>COMM_GetSubscriptionRequestCaseRecordType</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>COMM_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>COMM_SubscriptionsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Subscription Request Case records.</description>
        <name>COMM_CreateSubscriptionRequestCase</name>
        <label>Create Subscription Request Case</label>
        <locationX>50</locationX>
        <locationY>7784</locationY>
        <connector>
            <targetReference>COMM_Loop_Subscriptions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>COMM_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>COMM_CasesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Account related to the User on flow execution context.</description>
        <name>COMM_GetAccount</name>
        <label>Get Account</label>
        <locationX>1493</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_SetAccountRelatedOnUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.COMM_EffectiveAccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Capacity record details.</description>
        <name>COMM_GetCapacity</name>
        <label>Get Capacity</label>
        <locationX>446</locationX>
        <locationY>5354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetCardPrice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>COMM_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetProduct.COMM_ParentProduct__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>COMM_Capacity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Price Book Entry related to Card.</description>
        <name>COMM_GetCardPrice</name>
        <label>Get Card Price</label>
        <locationX>446</locationX>
        <locationY>5462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetPartnerSubscriptionRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetCardProduct.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Card Product related on location.</description>
        <name>COMM_GetCardProduct</name>
        <label>Get Card Product</label>
        <locationX>776</locationX>
        <locationY>5030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_ThereIsACardRelatedToTheSelectedProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COMM_Tax__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_ChoosenProductTax</elementReference>
            </value>
        </filters>
        <filters>
            <field>COMM_Airport__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_Airport</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Contact related to the User on flow execution context.</description>
        <name>COMM_GetContact</name>
        <label>Get Contact</label>
        <locationX>1625</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_UserEffectiveccountIsPopulated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Partner Subscription Record Type.</description>
        <name>COMM_GetPartnerSubscriptionRecordType</name>
        <label>Get Partner SubscriptionRecord Type</label>
        <locationX>446</locationX>
        <locationY>5570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_LoopParks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get selected Product Detail.</description>
        <name>COMM_GetProduct</name>
        <label>Get Product</label>
        <locationX>446</locationX>
        <locationY>5246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetCapacity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_Park</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get User Record on context of execution.</description>
        <name>COMM_GetRunningUser</name>
        <label>Get Running User</label>
        <locationX>1757</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetUserAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Products available for Subscription based on Airport and Periodicity choosen on Airport / Periodicity Selection screen.</description>
        <name>COMM_GetSubcriptionProducts</name>
        <label>Get Subcription Products</label>
        <locationX>1353</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_LoopProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </filters>
        <filters>
            <field>COMM_Airport__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_Airport</elementReference>
            </value>
        </filters>
        <filters>
            <field>COMM_Periodicity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_Periodicity</elementReference>
            </value>
        </filters>
        <filters>
            <field>COMM_ParentProduct__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get New Subscription Case Record Type.</description>
        <name>COMM_GetSubscriptionRequestCaseRecordType</name>
        <label>Get Subscription Request Case Record Type</label>
        <locationX>50</locationX>
        <locationY>7376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_LoopSubscriptionToCreate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_NewSubscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Account details related on flow context User.</description>
        <name>COMM_GetUserAccount</name>
        <label>Get User Account</label>
        <locationX>1757</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_SetAccountRelatedOnUser_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetRunningUser.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>Action to rollback records to be inserted if any error occurs.</description>
        <name>COMM_RollbackRecordsInError</name>
        <label>Rollback records in Error</label>
        <locationX>314</locationX>
        <locationY>8000</locationY>
    </recordRollbacks>
    <recordUpdates>
        <description>Update subscription record collection.</description>
        <name>COMM_UpdateSubscriptions</name>
        <label>Update Subscriptions</label>
        <locationX>50</locationX>
        <locationY>8684</locationY>
        <connector>
            <targetReference>COMM_EndProcessScreenFlow</targetReference>
        </connector>
        <inputReference>COMM_SubscriptionsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Screen with picklist option choices for Airport and Periodicity related on Subscription.</description>
        <name>COMM_AirportPeriodicitySelectionScreen</name>
        <label>Airport / Periodicity Selection Screen</label>
        <locationX>1353</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_SetChosenPeriodicity</targetReference>
        </connector>
        <fields>
            <name>COMM_Airport</name>
            <choiceReferences>COMM_AirportsAvailableChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_AIRPORT}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_Periodicity</name>
            <choiceReferences>COMM_PeriodicityChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_PERIODICITY}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_PaymentMethod</name>
            <choiceReferences>COMM_PaymentMethodChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_PAYMENT_METHOD}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen warning that a card product do not exist for the options chosen on previous screen.</description>
        <name>COMM_CardNotAvailableScreen</name>
        <label>Card not available Screen</label>
        <locationX>1106</locationX>
        <locationY>5246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_NoCardAvailability</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_CARD_AVAILABILITY}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_EndProcessScreenFlow</name>
        <label>End Process Screen Flow</label>
        <locationX>50</locationX>
        <locationY>8792</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_SingleSubscriptionConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.COMM_SUBSCRIPTION_CONFIRMATION}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>COMM_QuantityOfSubscription</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>COMM_Quantity1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>COMM_MultiSubscriptionConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!COMM_QuantityOfSubscription} {!$Label.COMM_SUBSCRIPTION_MULTICONFIRMATION}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>COMM_QuantityOfSubscription</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>COMM_Quantity1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>COMM_AnaLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>COMM_AnaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Error screen.</description>
        <name>COMM_Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>7892</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_RollbackRecordsInError</targetReference>
        </connector>
        <fields>
            <name>COMM_Error</name>
            <fieldText>&lt;p&gt;{!$Label.COMM_SUBSCRIPTION_ERROR}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen warning that park availability do not exist for the options chosen on previous screen.</description>
        <name>COMM_ParkNotAvailableScreen</name>
        <label>Park not available Screen</label>
        <locationX>1062</locationX>
        <locationY>6110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_NoParkAvailability</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_AVAILABLE_CAPACITY_1} {!COMM_ChosenProductAvailability} {!$Label.COMM_SUBSCRIPTION_AVAILABLE_CAPACITY_2}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen with Parks available for the chosen Product.</description>
        <name>COMM_ParkSelectionScreen</name>
        <label>Park Selection Screen</label>
        <locationX>776</locationX>
        <locationY>4430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>COMM_LoopParks_0</targetReference>
        </connector>
        <fields>
            <name>COMM_Park</name>
            <choiceReferences>COMM_ParkChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Park</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen warning that parks do not exist for the options chosen on previous screen.</description>
        <name>COMM_ParksNotAvailableScreen</name>
        <label>Parks not available Screen</label>
        <locationX>1370</locationX>
        <locationY>4430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_NoCapacityAvailable</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_AVAILABLE_CAPACITY}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen warning that products do not exist for the options chosen on previous screen.</description>
        <name>COMM_ProductsNotAvailableScreen</name>
        <label>Products not available Screen</label>
        <locationX>1634</locationX>
        <locationY>3614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_NoProductsAvailable</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_AVAILABLE_1} {!COMM_Periodicity} {!$Label.COMM_SUBSCRIPTION_AVAILABLE_2} {!COMM_Airport} {!$Label.COMM_SUBSCRIPTION_AVAILABLE_3}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen with Sub-Categories of Product available for Subscription and related quantity definition.</description>
        <name>COMM_SubCategoryQuantitySelectionScreen</name>
        <label>Sub-Category / Quantity Selection Screen</label>
        <locationX>1073</locationX>
        <locationY>3614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_GetProductPrice</targetReference>
        </connector>
        <fields>
            <name>COMM_SubCategory</name>
            <choiceReferences>COMM_SubCategoryChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_SUBCATEGORY}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_PublicDomainInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_PUBLIC}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>COMM_SubCategory</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Public</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>COMM_StaffIndividualInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.COMM_SUBSCRIPTION_INDIVIDUAL}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>COMM_SubCategory</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Staff Individual</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>COMM_StaffInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_STAFF}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>COMM_SubCategory</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Staff Company</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>COMM_ShuttleOperatorInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_SHUTTLE}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>COMM_SubCategory</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RAC / Shuttle NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>COMM_QuantityOfSubscription</name>
            <choiceReferences>COMM_Quantity1</choiceReferences>
            <choiceReferences>COMM_Quantity2</choiceReferences>
            <choiceReferences>COMM_Quantity3</choiceReferences>
            <choiceReferences>COMM_Quantity4</choiceReferences>
            <choiceReferences>COMM_Quantity5</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>{!$Label.COMM_SUBSCRIPTION_QUANTITY}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to show Subscription details.</description>
        <name>COMM_SubscriptionTotalsScreen</name>
        <label>Subscription Totals Screen</label>
        <locationX>666</locationX>
        <locationY>6110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_SetNumberOfSubscriptionsToCreate</targetReference>
        </connector>
        <fields>
            <name>COMM_SubscriptionTotalNoCard</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!COMM_QuantityOfSubscription} - {!COMM_ChoosenProductName} : &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!COMM_QuantityOfSubscription} * {!COMM_ChoosenProductPrice} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(32, 33, 36); background-color: rgb(255, 255, 255); font-family: arial, sans-serif;&quot;&gt;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_CardTotal</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;{!COMM_QuantityOfSubscription} - {!$Label.COMM_SUBSCRIPTION_CARD}: {!COMM_QuantityOfSubscription} * {!COMM_GetCardPrice.UnitPrice} &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(32, 33, 36); font-family: arial, sans-serif;&quot;&gt;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>COMM_GetCardPrice.UnitPrice</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>COMM_SubscriptionTotals</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_TOTAL}: {!COMM_TotalProductValue}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to define the details of user to which relate Subscription.</description>
        <name>COMM_SubscriptionUserDetailScreen</name>
        <label>Subscription User Detail Screen</label>
        <locationX>534</locationX>
        <locationY>6542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_SetSubscriptionToCreate</targetReference>
        </connector>
        <fields>
            <name>COMM_ProductName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!COMM_ChoosenProductName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_SubscriptionUserDetailScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_SubscriptionUserDetailScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_SubscriptionNumberDetail</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_SUBSCRIPTION} #{!COMM_IterationCountAuxiliary}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_FirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.COMM_FLOW_SCREENVALUETOOLONG}&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!COMM_FirstName})&lt;=40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>COMM_LastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.COMM_FLOW_SCREENVALUETOOLONG}&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!COMM_LastName})&lt;=40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>COMM_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue> </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.COMM_GLOBAL_EMAIL</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1499</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Text variable with values where product is available.</description>
        <name>COMM_AvailableIn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable with Count of Products defined with availability.</description>
        <name>COMM_AvailableProductsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>COMM_CasesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>COMM_CaseToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>COMM_ChoosenProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_ChoosenProductPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Product Tax.</description>
        <name>COMM_ChoosenProductTax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable with periodicity chosen.</description>
        <name>COMM_ChosenPeriodicity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store selected product availability from OMS.</description>
        <name>COMM_ChosenProductAvailability</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>COMM_filteredAccountAirports</name>
        <apexClass>COMM_SL_FlowChoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable with Payment methods available for Account in context</description>
        <name>COMM_FilteredAccountPaymentMethod</name>
        <apexClass>COMM_SL_FlowChoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_FilteredAirports</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <description>List of Airports that exist in Account and Contact</description>
        <name>COMM_filteredAirportsList</name>
        <apexClass>COMM_SL_FlowChoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>List of Airports available in User&apos;s Contact Record</description>
        <name>COMM_filteredContactAirports</name>
        <apexClass>COMM_SL_FlowChoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_FilteredSubCategories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <description>Record variable to store information about the flow running user.</description>
        <name>COMM_flowContextUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>COMM_IterationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>COMM_IterationCountAuxiliary</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>COMM_ProductCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store Product Payment Method as text.</description>
        <name>COMM_ProductPaymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_ProductPriceBooks</name>
        <apexClass>COMM_SL_FlowChoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Codes of Products to reserve.</description>
        <name>COMM_ProductsToReserveCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_productSubCategories</name>
        <apexClass>COMM_SL_FlowChoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_productSubCategory</name>
        <apexClass>COMM_SL_FlowChoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_SubCategories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_SubCategoriesAsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_SubCategoryTextList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_SubscriptionsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>COMM_Subscription__c</objectType>
    </variables>
    <variables>
        <description>Collection of Subscriptions to update.</description>
        <name>COMM_SubscriptionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>COMM_Subscription__c</objectType>
    </variables>
    <variables>
        <name>COMM_SubscriptionToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>COMM_Subscription__c</objectType>
    </variables>
    <variables>
        <description>Subscription record to update.</description>
        <name>COMM_SubscriptionToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>COMM_Subscription__c</objectType>
    </variables>
    <variables>
        <name>COMM_TextSubCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account related on User in flow context.</description>
        <name>COMM_UserAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <apexClass>COMM_SL_FlowChoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fieldDefinitionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
