force-app/main/default/flows/COMM_FLW_Utilities_SendEmailToQueueMembers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>COMM_Action_SendEmailToMembersWithEnglishLanguage</name>
        <label>Action: Send Email to Queue Members with English Language</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetRecords_DefaultNoReplyOrgWideAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>COMM_Subflow_GetUsersFromQueue.EnglishEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplateForEnglishLanguage.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>COMM_Variable_RelatedRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>COMM_Action_SendEmailToMembersWithPortugueseLanguage</name>
        <label>Action: Send Email to Queue Members with Portuguese Language</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Comm_Decision_SpanishMembersInQueue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetRecords_DefaultNoReplyOrgWideAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>COMM_Subflow_GetUsersFromQueue.PortugueseEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplateForPortugueseLanguage.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>COMM_Variable_RelatedRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>COMM_Action_SendEmailToMembersWithSpanishLanguage</name>
        <label>Action: Send Email to Queue Members with Spanish Language</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_Decision_EnglishMembersInQueue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetRecords_DefaultNoReplyOrgWideAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>COMM_Subflow_GetUsersFromQueue.SpanishEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplateForSpanishLanguage.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>COMM_Variable_RelatedRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>COMM_Assignment_CountEmailAddressesInQueue</name>
        <label>Count Email Addresses Found in Queue</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_PortugueseEmailCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>COMM_Subflow_GetUsersFromQueue.PortugueseEmailList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_Variable_SpanishEmailsCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>COMM_Subflow_GetUsersFromQueue.SpanishEmailList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_Variable_EnglishEmailsCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>COMM_Subflow_GetUsersFromQueue.EnglishEmailList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Decision_PortugueseMembersInQueue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>COMM_Decision_EnglishMembersInQueue</name>
        <label>English Members in Queue?</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_EnglishMembers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Variable_EnglishEmailsCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Action_SendEmailToMembersWithEnglishLanguage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_PortugueseMembersInQueue</name>
        <label>Portuguese Members in Queue?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Comm_Decision_SpanishMembersInQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_PortugueseMembers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Variable_PortugueseEmailCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Action_SendEmailToMembersWithPortugueseLanguage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comm_Decision_SpanishMembersInQueue</name>
        <label>Spanish Members in Queue?</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_EnglishMembersInQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_SpanishMembers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Variable_SpanishEmailsCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Action_SendEmailToMembersWithSpanishLanguage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Subflow to send an Email to Members of a Queue</description>
    <environments>Default</environments>
    <interviewLabel>Utilities: Send Email to Queue Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Utilities: Send Email to Queue Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>COMM_GetRecords_DefaultNoReplyOrgWideAddress</name>
        <label>Get: Default No-Reply Org-Wide Address</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Subflow_GetUsersFromQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_GetRecords_DefaultNoReplyOrgWideAddress</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplateForEnglishLanguage</name>
        <label>Subflow: Get Email Template for English Language</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>COMM_Assignment_CountEmailAddressesInQueue</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Variable_EmailTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_UseDeveloperName</name>
            <value>
                <elementReference>COMM_Variable_UseDeveloperName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplateForPortugueseLanguage</name>
        <label>Subflow: Get Email Template for Portuguese Language</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>COMM_Subflow_GetEmailTemplateForSpanishLanguage</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Variable_EmailTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <stringValue>pt_PT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_UseDeveloperName</name>
            <value>
                <elementReference>COMM_Variable_UseDeveloperName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplateForSpanishLanguage</name>
        <label>Subflow: Get Email Template for Spanish Language</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>COMM_Subflow_GetEmailTemplateForEnglishLanguage</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Variable_EmailTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <stringValue>es</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_UseDeveloperName</name>
            <value>
                <elementReference>COMM_Variable_UseDeveloperName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>COMM_Subflow_GetUsersFromQueue</name>
        <label>Subflow: Get Users from Queue</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>COMM_Subflow_GetEmailTemplateForPortugueseLanguage</targetReference>
        </connector>
        <flowName>COMM_FLW_Generic_GetEmailsFromQueueMembers</flowName>
        <inputAssignments>
            <name>QueueDeveloperName</name>
            <value>
                <elementReference>COMM_Variable_QueueDeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QueueId</name>
            <value>
                <elementReference>COMM_Variable_QueueId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Name of the Email Template to be used for the email sent</description>
        <name>COMM_Variable_EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_Variable_EnglishEmailsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Variable to store list of User languages to retrieve email templates</description>
        <name>COMM_Variable_LanguagesRequired</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_Variable_PortugueseEmailCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Developer Name of the Queue whose members will receive an email</description>
        <name>COMM_Variable_QueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store Id of the Queue whose members are to receive an Email</description>
        <name>COMM_Variable_QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store the Id of the Related Record (ex: Case) for the merge fields used in Email Template</description>
        <name>COMM_Variable_RelatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_Variable_SpanishEmailsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Boolean to indicate if the Template Name is the Developer Name or Name</description>
        <name>COMM_Variable_UseDeveloperName</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>COMM_Variable_UserEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_Variable_UserIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_Variable_UserLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
