force-app/main/default/flows/COMM_FLW_Case_SendEmailOnSubscriptionRequests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Action to send email message.</description>
        <name>COMM_SendEmailSubscriptionForm</name>
        <label>Send Email Subscription Form</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetDefaultNoReplyAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>COMM_RecipientEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_SubflowGetEmailTemplateSubscription.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set Email definitions form email to send.</description>
        <name>COMM_SetEmailDefinition</name>
        <label>Set Email Definition</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>COMM_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COMM_Partner_NewSubscriptionRequest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_RecipientEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_UserLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedBy.LanguageLocaleKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_EmailRecipientsPopulated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Email definitions form email to send.</description>
        <name>COMM_SetEmailDefinition1</name>
        <label>Set Email Definition</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>COMM_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COMM_Partner_SubmittedSubscriptionForm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_UserLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>pt_PT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_RecipientEmailCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Subflow_GetAirportAdminMembers.UserEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_EmailRecipientsPopulated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check Case Conditions to choose type of email to send.</description>
        <name>COMM_CheckCaseConditions</name>
        <label>Check Case conditions</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewSubscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetEmailDefinition</targetReference>
            </connector>
            <label>Is a New Subscription Request?</label>
        </rules>
        <rules>
            <name>COMM_IsSubscriptionSentBackForValidation</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewSubscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Subflow_GetAirportAdminMembers</targetReference>
            </connector>
            <label>Is Subscription sent back for validation?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there are recipients for the email process.</description>
        <name>COMM_EmailRecipientsPopulated</name>
        <label>Email Recipients populated?</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_EmailRecipientsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_RecipientEmailCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetDefaultNoReplyAddress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Send emails to Partner Administrators and/or End Users related on type of request.</description>
    <environments>Default</environments>
    <formulas>
        <description>Check if Case record is in creation context.</description>
        <name>COMM_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Formula to retrieve Subscription&apos;s Airport. If Value Field is empty retrieve airport from Subscription&apos;s Product</description>
        <name>COMM_SubscriptionAirportFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.COMM_Subscription__r.COMM_AirportValue__c}, &quot;&quot;), TEXT({!$Record.COMM_Subscription__r.COMM_Product__r.COMM_Airport__c}), TEXT({!$Record.COMM_Subscription__r.COMM_AirportValue__c}))</expression>
    </formulas>
    <formulas>
        <description>Formula for the Airport Admin Queue Name based on Subscription Location. If Airport value is missing add to ANA Admin Queue.</description>
        <name>COMM_SubscriptionRequestAirportAdminQueueNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!COMM_SubscriptionAirportFormula}), &quot;COMM_SubscriptionRequestANAAdmin&quot;, &quot;COMM_SubscriptionRequestAirportAdmin_&quot; + {!COMM_SubscriptionAirportFormula})</expression>
    </formulas>
    <interviewLabel>Case Send Email On Subscription Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Send Email On Subscription Requests</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Org Default No-Reply Address.</description>
        <name>COMM_GetDefaultNoReplyAddress</name>
        <label>Get Default No-Reply Address</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_SubflowGetEmailTemplateSubscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_CheckCaseConditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COMM_Subscription__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>COMM_Subflow_GetAirportAdminMembers</name>
        <label>Subflow: Get Airport Admin Members</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>COMM_SetEmailDefinition1</targetReference>
        </connector>
        <flowName>COMM_FLW_Generic_GetEmailsFromQueueMembers</flowName>
        <inputAssignments>
            <name>QueueDeveloperName</name>
            <value>
                <elementReference>COMM_SubscriptionRequestAirportAdminQueueNameFormula</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Call Subflow to handle templates by language.</description>
        <name>COMM_SubflowGetEmailTemplateSubscription</name>
        <label>Subflow: Get Email Template Subscription</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>COMM_SendEmailSubscriptionForm</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_EmailTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>COMM_UserLanguage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Variable to store template name to send.</description>
        <name>COMM_EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Recipient email addresses collection.</description>
        <name>COMM_RecipientEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store Group Members Details.</description>
        <name>COMM_UserIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <description>Collection with user ids to process.</description>
        <name>COMM_UserIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To Store User language to choose template.</description>
        <name>COMM_UserLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
