force-app/main/default/flows/COMM_FLW_Case_PublicSubscriptionCreationProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Apex action call to perform sending of email message.</description>
        <name>COMM_SendEmailToCustomer</name>
        <label>Send Email to Customer</label>
        <locationX>1106</locationX>
        <locationY>924</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetOrganizationWideAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>COMM_RecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_GetEmailTemplate.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set recipient email addresses for Email.</description>
        <name>COMM_SetEmailRecipients</name>
        <label>Set Email Recipients</label>
        <locationX>1238</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>COMM_RecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_RecipientDefined</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if Subscription is conditions.</description>
        <name>COMM_IsSubscriptionInConditions</name>
        <label>Is Subscription In Conditions?</label>
        <locationX>1436</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_IsSubscriptionInConditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_XDaysFromToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.COMM_EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CancelPublicSubscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_Subscription__r.COMM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Process Concluded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetEmailRecipients</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Subscription Status is in Waiting Conclusion.</description>
        <name>COMM_IsTheSubscriptionStatusInWaitingConclusion3Days</name>
        <label>Is the Subscription Status in Waiting Conclusion?</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>COMM_Yes3Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Conclusion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_SABAQueue_Run3Days</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Subscription Status is in Waiting Conclusion.</description>
        <name>COMM_IsTheSubscriptionStatusInWaitingConclusionImmediatetly</name>
        <label>Is the Subscription Status in Waiting Conclusion?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>COMM_YesImmediately</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Conclusion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_SABAQueue_RunImmediately</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there are recipients defined to send email.</description>
        <name>COMM_RecipientDefined</name>
        <label>Recipient defined?</label>
        <locationX>1238</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_RecipientDefined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_RecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetOrganizationWideAddress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to handle Public Subscription Case creation related processes.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to retrieve Subscription&apos;s Airport. If Value Field is empty retrieve airport from Subscription&apos;s Product</description>
        <name>COMM_SubscriptionAirportFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.COMM_Subscription__r.COMM_AirportValue__c}, &quot;&quot;), TEXT({!$Record.COMM_Subscription__r.COMM_Product__r.COMM_Airport__c}), TEXT({!$Record.COMM_Subscription__r.COMM_AirportValue__c}))</expression>
    </formulas>
    <formulas>
        <description>Formula for the Airport Admin Queue Name based on Subscription Location. If Airport value is missing add to ANA Admin Queue.</description>
        <name>COMM_SubscriptionRequestAirportAdminQueueNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!COMM_SubscriptionAirportFormula}),
 &quot;COMM_SubscriptionRequestANAAdmin&quot;,
 &quot;Subscription_Request_SABA_&quot; + {!COMM_SubscriptionAirportFormula})</expression>
    </formulas>
    <formulas>
        <description>Formula to calculate X days counting actual date.</description>
        <name>COMM_XDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()+{!Get_days_before_end.COMM_DaysBeforeRenewalNotification__c}</expression>
    </formulas>
    <interviewLabel>Case Public Subscription Creation Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Public Subscription Creation Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>COMM_Get_SABAQueue_Run3Days</name>
        <label>Get SABA Queue</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetPendingRequestCustomNotificationSABA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_SubscriptionRequestAirportAdminQueueNameFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_SABAQueue_RunImmediately</name>
        <label>Get SABA Queue</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_SABA_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_SubscriptionRequestAirportAdminQueueNameFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the custom notification to send.</description>
        <name>COMM_GetNewPendingRequestCustomNotification</name>
        <label>Get New Pending Request Custom Notification</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_SendNotificationToSABAUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_SABA_SubscriptionRequest_pt_PT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get default no-reply Organization Wide Address.</description>
        <name>COMM_GetOrganizationWideAddress</name>
        <label>Get Organization Wide Address</label>
        <locationX>1106</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetEmailTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the custom notification to send.</description>
        <name>COMM_GetPendingRequestCustomNotificationSABA</name>
        <label>Get Pending Request Custom Notification SABA</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_SendNotificationToSABAUsers_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_SABA_SubscriptionRequestPending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_days_before_end</name>
        <label>Get days before end</label>
        <locationX>1436</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_IsSubscriptionInConditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subscription_Configuration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>COMM_SubscriptionConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_to_SABA_Queue</name>
        <label>Assign to SABA Queue</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>COMM_GetNewPendingRequestCustomNotification</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>COMM_Get_SABAQueue_RunImmediately.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_IsTheSubscriptionStatusInWaitingConclusionImmediatetly</targetReference>
        </connector>
        <filterFormula>OR(
	{!$Record.RecordType.DeveloperName} = &apos;COMM_NewPublicSubscription&apos;,
	{!$Record.RecordType.DeveloperName} = &apos;COMM_RecurringPublicSubscription&apos;,
	{!$Record.RecordType.DeveloperName} = &apos;COMM_CancelPublicSubscription&apos;
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>COMM_DayAfterCreate</name>
            <connector>
                <targetReference>COMM_IsTheSubscriptionStatusInWaitingConclusion3Days</targetReference>
            </connector>
            <label>1 Day After Create</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>COMM_XDaysBeforeEnd</name>
            <connector>
                <targetReference>Get_days_before_end</targetReference>
            </connector>
            <label>X Days Before End</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Renewal_Notification_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Get Email Template for the recurring subscription process.</description>
        <name>COMM_GetEmailTemplate</name>
        <label>Get Email Template</label>
        <locationX>1106</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>COMM_SendEmailToCustomer</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <stringValue>COMM_EndUser_SubscriptionRecurringAcquisition</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Order__r.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Call Sub-flow that handles sending notification.</description>
        <name>COMM_SendNotificationToSABAUsers</name>
        <label>Send Notification To SABA Users</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>COMM_Subflow_SendEmailToSABAQueue_RunImmediately</targetReference>
        </connector>
        <flowName>COMM_FLW_Generic_SendNotificationToQueue</flowName>
        <inputAssignments>
            <name>CustomNotificationId</name>
            <value>
                <elementReference>COMM_GetNewPendingRequestCustomNotification.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_EN</name>
            <value>
                <elementReference>Not_Body_EN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_ES</name>
            <value>
                <elementReference>Not_Body_ES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_PT</name>
            <value>
                <elementReference>Not_Body_PT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_EN</name>
            <value>
                <elementReference>Not_Title_EN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_ES</name>
            <value>
                <elementReference>Not_Title_ES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_PT</name>
            <value>
                <elementReference>Not_Title_PT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QueueDeveloperName</name>
            <value>
                <elementReference>COMM_SubscriptionRequestAirportAdminQueueNameFormula</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Call Sub-flow that handles sending notification.</description>
        <name>COMM_SendNotificationToSABAUsers_2</name>
        <label>Send Notification To SABA Users</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>COMM_Subflow_SendEmailToSABAQueue_Run3Days</targetReference>
        </connector>
        <flowName>COMM_FLW_Generic_SendNotificationToQueue</flowName>
        <inputAssignments>
            <name>CustomNotificationId</name>
            <value>
                <elementReference>COMM_GetPendingRequestCustomNotificationSABA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_EN</name>
            <value>
                <elementReference>Pending_Not_Body_EN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_ES</name>
            <value>
                <elementReference>Pending_Not_Body_ES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody_PT</name>
            <value>
                <elementReference>Pending_Not_Body_PT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_EN</name>
            <value>
                <elementReference>Not_Title_EN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_ES</name>
            <value>
                <elementReference>Not_Title_ES</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle_PT</name>
            <value>
                <elementReference>Not_Title_PT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QueueDeveloperName</name>
            <value>
                <elementReference>COMM_SubscriptionRequestAirportAdminQueueNameFormula</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>COMM_Subflow_SendEmailToSABAQueue_Run3Days</name>
        <label>Send Email to SABA Queue</label>
        <locationX>578</locationX>
        <locationY>708</locationY>
        <flowName>COMM_FLW_Utilities_SendEmailToQueueMembers</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <stringValue>COMM_Partner_SubmittedSubscriptionReviewForm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueDeveloperName</name>
            <value>
                <elementReference>COMM_SubscriptionRequestAirportAdminQueueNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueId</name>
            <value>
                <elementReference>COMM_Get_SABAQueue_RunImmediately.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_UseDeveloperName</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>COMM_Subflow_SendEmailToSABAQueue_RunImmediately</name>
        <label>Send Email to SABA Queue</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <flowName>COMM_FLW_Utilities_SendEmailToQueueMembers</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <stringValue>COMM_Partner_SubmittedSubscriptionReviewForm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueDeveloperName</name>
            <value>
                <elementReference>COMM_SubscriptionRequestAirportAdminQueueNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_QueueId</name>
            <value>
                <elementReference>COMM_Get_SABAQueue_RunImmediately.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_UseDeveloperName</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Not_Body_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This user&apos;s subscription request {!$Record.COMM_SubscriptionNumber__c} - {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} is now available for review. Go to the pending subscriptions list.</text>
    </textTemplates>
    <textTemplates>
        <name>Not_Body_ES</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Su solicitud de abono para {!$Record.COMM_SubscriptionNumber__c} - {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} ya está disponible para su revisión. Ir al tablón de pendientes.</text>
    </textTemplates>
    <textTemplates>
        <description>The notification body to send</description>
        <name>Not_Body_PT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>O processo de pedido de avença deste utilizador {!$Record.COMM_SubscriptionNumber__c} - {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} já está disponível para revisão. Ir para o quadro de pendentes.</text>
    </textTemplates>
    <textTemplates>
        <description>Notification Title EN</description>
        <name>Not_Title_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ana - Aeroportos de Portugal New Subscription Request</text>
    </textTemplates>
    <textTemplates>
        <description>Notification Title ES</description>
        <name>Not_Title_ES</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ana - Aeroportos de Portugal Nueva solicitud de suscripción</text>
    </textTemplates>
    <textTemplates>
        <description>Notification Title PT</description>
        <name>Not_Title_PT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ANA – Aeroportos de Portugal Pedido de nova Avença</text>
    </textTemplates>
    <textTemplates>
        <name>Pending_Not_Body_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This user&apos;s subscription request {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} is pending for 3 days.</text>
    </textTemplates>
    <textTemplates>
        <name>Pending_Not_Body_ES</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Su solicitud de abono para {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} lleva pendiente 3 días.</text>
    </textTemplates>
    <textTemplates>
        <name>Pending_Not_Body_PT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>O pedido de avença deste utilizador {!$Record.COMM_SubscriptionNumber__c} {!$Record.COMM_FirstName__c} {!$Record.COMM_LastName__c} está pendente há 3 dias.</text>
    </textTemplates>
    <variables>
        <description>Collection with email addresses for email recipients.</description>
        <name>COMM_RecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>List of user Ids with SABA role</description>
        <name>SABAUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
