force-app/main/default/flows/COMM_FLW_Subscription_SubscriptionRenewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>COMM_Action_ChangeAddressPicklistToCode</name>
        <label>Change Address Picklist to Code</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>COMM_SL_ConvertPicklistCodeToLabel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Subscription_Product</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>countryCodeToLabel</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>countryCodeValue</name>
            <value>
                <elementReference>COMM_Adress_SubscriptionAddress.country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stateCodeValue</name>
            <value>
                <elementReference>COMM_Adress_SubscriptionAddress.province</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_ConvertPicklistCodeToLabel</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>COMM_Variable_CountryCodeLabel</assignToReference>
            <name>outputCountryCodeValue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>COMM_Variable_StateCodeLabel</assignToReference>
            <name>outputStateCodeValue</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>COMM_Action_ChangeAddressPicklistTOLabel</name>
        <label>Change Address Picklist to Label</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>COMM_SL_ConvertPicklistCodeToLabel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_Screen_SubscriptionRenewalData</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>countryCodeToLabel</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>countryCodeValue</name>
            <value>
                <elementReference>COMM_Variable_CountryCodeLabel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stateCodeValue</name>
            <value>
                <elementReference>COMM_Variable_StateCodeLabel</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_ConvertPicklistCodeToLabel</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>COMM_Variable_CountryCodeLabel</assignToReference>
            <name>outputCountryCodeValue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>COMM_Variable_StateCodeLabel</assignToReference>
            <name>outputStateCodeValue</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_subscription_product_price</name>
        <label>Get subscription product price</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <actionName>COMM_SL_GetCardProductPrice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_PriceBookEntries</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>productCodeList</name>
            <value>
                <elementReference>Get_Subscription_Product.ProductCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_GetCardProductPrice</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>PriceBookEntry</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>COMM_Assignment_AssignAddressPicklistValues</name>
        <label>Assign Address Picklist Values</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_CountryCodeLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COMM_Variable_StateCodeLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.COMM_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_ChangeAddressPicklistTOLabel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_Subscription_Price</name>
        <label>Keep Subscription Price</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionNewPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Formula_SubscriptionGetRealPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Get_CaseRecordTypeManualRenewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subscription_New_Price</name>
        <label>Set Subscription New Price</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionNewPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceBookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Get_CaseRecordTypeManualRenewal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Confirm if the manual renewal action can run based on the Case Data</description>
        <name>COMM_Decision_ConfirmActionAvailability</name>
        <label>Confirm Action Availability</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_ConfirmManualRenewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_Confirmed</name>
            <conditionLogic>1 AND 2 AND ( 3 OR ( 4 OR 5 OR 6 OR 7 ) )</conditionLogic>
            <conditions>
                <leftValueReference>recordId.COMM_AutomaticRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Process Concluded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Archived</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ActiveSubscriptionRequest__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Process Concluded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Assignment_AssignAddressPicklistValues</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_ConfirmManualRenewal</name>
        <label>Confirm Manual Renewal</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>COMM_Screen_SubscriptionAutomaticRenewalWarning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_ConfirmedManualRenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.COMM_AutomaticRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Screen_SubscriptionManualRenewalNotPermitted</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_PriceBookEntries</name>
        <label>Has PriceBookEntries And Keep Periodicity</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Keep_Subscription_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriceBookEntry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COMM_ChangeSubscriptionPeriodicity__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subscription_New_Price</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow gives the possibility to renew a subscription in order to efficiently manage the company subscriptions.</description>
    <dynamicChoiceSets>
        <name>COMM_PicklistChoice_InitialSubscriptionMonth</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>COMM_InitialSubscriptionMonth__c</picklistField>
        <picklistObject>COMM_Subscription__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>COMM_PicklistChoice_Periodicity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>COMM_Periodicity__c</picklistField>
        <picklistObject>COMM_Subscription__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Get real Subscription Periodicity after renewal if a Periodicity Change occurred.</description>
        <name>COMM_Formula_SubscriptionGetRealPeriodicity</name>
        <dataType>String</dataType>
        <expression>IF(
 ISBLANK({!recordId.COMM_ChangeSubscriptionPeriodicity__c}),
 TEXT({!recordId.COMM_Periodicity__c}),
 TEXT({!recordId.COMM_ChangeSubscriptionPeriodicity__r.COMM_Periodicity__c})
)</expression>
    </formulas>
    <formulas>
        <description>Get real Subscription Price after renewal if a Periodicity Change occurred.</description>
        <name>COMM_Formula_SubscriptionGetRealPrice</name>
        <dataType>Currency</dataType>
        <expression>IF(
 ISBLANK({!recordId.COMM_ChangeSubscriptionPeriodicity__c}),
 {!recordId.COMM_Price__c},
 {!recordId.COMM_SubscriptionPriceChange__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Get real Subscription Product after renewal if a Periodicity Change occurred.</description>
        <name>COMM_Formula_SubscriptionGetRealProduct</name>
        <dataType>String</dataType>
        <expression>IF(
 ISBLANK({!recordId.COMM_ChangeSubscriptionPeriodicity__c}),
 {!recordId.COMM_Product__c},
 {!recordId.COMM_ChangeSubscriptionPeriodicity__c}
)</expression>
    </formulas>
    <formulas>
        <description>Calculate the Subscription End Date after renewal.</description>
        <name>COMM_Formula_SubscriptionNewEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
 ISBLANK({!recordId.COMM_ChangeSubscriptionPeriodicity__c}),
 (
 ADDMONTHS( DATE( YEAR( {!recordId.COMM_EndDate__c} ), MONTH( {!recordId.COMM_EndDate__c} ), 1),
 IF( ISPICKVAL({!recordId.COMM_Periodicity__c}, &apos;Monthly&apos;),
   2,
   IF( ISPICKVAL({!recordId.COMM_Periodicity__c}, &apos;Quarterly&apos;),
     4,
     IF( ISPICKVAL({!recordId.COMM_Periodicity__c}, &apos;Half Yearly&apos;),
       7,
       IF( ISPICKVAL({!recordId.COMM_Periodicity__c}, &apos;Yearly&apos;),
         13,
         1
       )
     )
   )
 )
 )  - 1),
 (
 ADDMONTHS( DATE( YEAR( {!recordId.COMM_EndDate__c} ), MONTH( {!recordId.COMM_EndDate__c} ), 1),
 IF( ISPICKVAL({!recordId.COMM_ChangeSubscriptionPeriodicity__r.COMM_Periodicity__c}, &apos;Monthly&apos;),
   2,
   IF( ISPICKVAL({!recordId.COMM_ChangeSubscriptionPeriodicity__r.COMM_Periodicity__c}, &apos;Quarterly&apos;),
     4,
     IF( ISPICKVAL({!recordId.COMM_ChangeSubscriptionPeriodicity__r.COMM_Periodicity__c}, &apos;Half Yearly&apos;),
       7,
       IF( ISPICKVAL({!recordId.COMM_ChangeSubscriptionPeriodicity__r.COMM_Periodicity__c}, &apos;Yearly&apos;),
         13,
         1
       )
     )
   )
 )
 )  - 1)
)</expression>
    </formulas>
    <formulas>
        <description>Formula to retrieve Subscription&apos;s Airport. If Value Field is empty retrieve airport from Subscription&apos;s Product</description>
        <name>COMM_SubscriptionAirportFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!recordId.COMM_AirportValue__c}, &quot;&quot;), TEXT({!recordId.COMM_Product__r.COMM_Airport__c}), TEXT({!recordId.COMM_AirportValue__c}))</expression>
    </formulas>
    <formulas>
        <description>Formula to obtain the Contact Id that the Case will be associated with. Case will be associated with User&apos;s Contact, if he doesn&apos;t have one then assign it to Subscription&apos;s Contact.</description>
        <name>COMM_Variable_ContactId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$User.ContactId}), {!recordId.COMM_Contact__c}, {!$User.ContactId})</expression>
    </formulas>
    <interviewLabel>COMM: Subscription Renewal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COMM: Subscription Renewal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Case: Manual Renewal</description>
        <name>COMM_Create_CaseRecordManualRenewal</name>
        <label>Create Case: Manual Renewal</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>COMM_Update_SubscriptionRecordManualRenewal</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.COMM_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__City__s</field>
            <value>
                <elementReference>COMM_Adress_SubscriptionAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__CountryCode__s</field>
            <value>
                <elementReference>COMM_Variable_CountryCodeLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__PostalCode__s</field>
            <value>
                <elementReference>COMM_Adress_SubscriptionAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__StateCode__s</field>
            <value>
                <elementReference>COMM_Variable_StateCodeLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__Street__s</field>
            <value>
                <elementReference>COMM_Adress_SubscriptionAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Airport__c</field>
            <value>
                <elementReference>COMM_SubscriptionAirportFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Card__c</field>
            <value>
                <elementReference>recordId.COMM_Card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_EndDate__c</field>
            <value>
                <elementReference>COMM_Formula_SubscriptionNewEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_FirstName__c</field>
            <value>
                <elementReference>COMM_Date_SubscriptionFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_InitialSubscriptionMonth__c</field>
            <value>
                <elementReference>recordId.COMM_InitialSubscriptionMonth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_JobRole__c</field>
            <value>
                <elementReference>COMM_Text_SubscriptionJobRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LastName__c</field>
            <value>
                <elementReference>COMM_Date_SubscriptionLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LicensePlate__c</field>
            <value>
                <elementReference>COMM_Text_SubscriptionLicensePlate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Periodicity__c</field>
            <value>
                <elementReference>COMM_Formula_SubscriptionGetRealPeriodicity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PhoneNumber__c</field>
            <value>
                <elementReference>COMM_Phone_SubscriptionPhoneNumber.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryLicensePlate__c</field>
            <value>
                <elementReference>COMM_Text_SubscriptionSecondaryLicensePlate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleBrand__c</field>
            <value>
                <elementReference>COMM_Text_SubscriptionSecondaryCarBrand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryVehicleModel__c</field>
            <value>
                <elementReference>COMM_Text_SubscriptionSecondaryCarModel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_StartDate__c</field>
            <value>
                <elementReference>recordId.COMM_StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>recordId.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionPrice__c</field>
            <value>
                <elementReference>SubscriptionNewPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Subscription__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VATNumber__c</field>
            <value>
                <elementReference>COMM_Text_SubscriptionVATNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleBrand__c</field>
            <value>
                <elementReference>COMM_Text_SubscriptionCarBrand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VehicleModel__c</field>
            <value>
                <elementReference>COMM_Text_SubscriptionCarModel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>COMM_Variable_ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>COMM_Formula_SubscriptionGetRealProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>COMM_Get_CaseRecordTypeManualRenewal.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>COMM_Email_SubscriptionEmail.value</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Case Record Type: Manual Renewal</description>
        <name>COMM_Get_CaseRecordTypeManualRenewal</name>
        <label>Get Case Record Type: Manual Renewal</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Create_CaseRecordManualRenewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_ManualRenewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Product</name>
        <label>Get Subscription Product</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_subscription_product_price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.COMM_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Subscription: Manual Renewal</description>
        <name>COMM_Update_SubscriptionRecordManualRenewal</name>
        <label>Update Subscription: Manual Renewal</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
            <value>
                <elementReference>COMM_Create_CaseRecordManualRenewal</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>COMM_Screen_SubscriptionAutomaticRenewalWarning</name>
        <label>Subscription Automatic Renewal Warning</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_DisplayText_SubscriptionAutomaticRenewalNotPermitted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.COMM_SUBSCRIPTION_MANUALRENEWALNOTPERMITTEDWARNING}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_SubscriptionManualRenewalNotPermitted</name>
        <label>Subscription Manual Renewal Not Permitted</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_DisplayText_SubscriptionManualRenewalNotPermitted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.COMM_SUBSCRIPTION_NOTPERMITTEDWARNING}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_SubscriptionRenewalData</name>
        <label>Screen Subscription Renewal Data</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>COMM_Action_ChangeAddressPicklistToCode</targetReference>
        </connector>
        <fields>
            <name>COMM_ScreenSection_SubscriptionDetails</name>
            <fieldText>{!$Label.COMM_FLOWSECTIONS_SUBSCRIPTIONDETAILS}</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_ScreenSection_SubscriptionDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_Screen_SubscriptionProductReadOnly</name>
                    <extensionName>c:comm_screenFlowReadOnlyField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>url</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>recordId.COMM_Product__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_Screen_SubscriptionPeriodicityReadOnly</name>
                    <extensionName>c:comm_screenFlowReadOnlyField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>recordId.COMM_Periodicity__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>text</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Periodicity</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_Screen_SubscriptionStartDateReadOnly</name>
                    <extensionName>c:comm_screenFlowReadOnlyField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>recordId.COMM_StartDate__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Start Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>COMM_ScreenSection_SubscriptionDetails_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_Screen_SubscriptionCardReadOnly</name>
                    <extensionName>c:comm_screenFlowReadOnlyField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>url</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Card</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>recordId.COMM_Card__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_Screen_SubscriptionInitialSubscriptionMonthReadOnly</name>
                    <extensionName>c:comm_screenFlowReadOnlyField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>text</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Initial Subscription Month</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>recordId.COMM_InitialSubscriptionMonth__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_Screen_SubscriptionEndDateReadOnly</name>
                    <extensionName>c:comm_screenFlowReadOnlyField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>COMM_Formula_SubscriptionNewEndDate</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>End Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_ScreenSection_ClientInformation</name>
            <fieldText>{!$Label.COMM_FLOWSECTIONS_CLIENTINFORMATION}</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_ScreenSection_ClientInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_Date_SubscriptionFirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.COMM_FirstName__c</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!$Label.COMM_FLOW_SCREENVALUETOOLONG}&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!COMM_Date_SubscriptionFirstName})&lt;=40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>COMM_Text_SubscriptionVATNumber</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.COMM_VATNumber__c</elementReference>
                    </defaultValue>
                    <fieldText>VAT Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.COMM_FLOW_SCREENVALUETOOLONG}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!COMM_Text_SubscriptionVATNumber}) &lt;= 18</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>COMM_Email_SubscriptionEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue> </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.COMM_Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_Adress_SubscriptionAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>recordId.COMM_Address__City__s</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>COMM_Variable_CountryCodeLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>recordId.COMM_Address__PostalCode__s</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>COMM_Variable_StateCodeLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>recordId.COMM_Address__Street__s</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>COMM_ScreenSection_ClientInformation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_Date_SubscriptionLastName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.COMM_LastName__c</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.COMM_FLOW_SCREENVALUETOOLONG}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!COMM_Date_SubscriptionLastName}) &lt;= 80</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>COMM_Text_SubscriptionJobRole</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.COMM_JobRole__c</elementReference>
                    </defaultValue>
                    <fieldText>Job Role</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_Phone_SubscriptionPhoneNumber</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.COMM_PhoneNumber__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_ScreenSection_VehicleInformation</name>
            <fieldText>{!$Label.COMM_FLOWSECTIONS_VEHICLEINFORMATION}</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COMM_ScreenSection_VehicleInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_Text_SubscriptionLicensePlate</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.COMM_LicensePlate__c</elementReference>
                    </defaultValue>
                    <fieldText>License Plate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.COMM_FLOW_SCREENVALUETOOLONG}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!COMM_Text_SubscriptionLicensePlate})&lt;=8</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>COMM_Text_SubscriptionCarBrand</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.COMM_CarBrand__c</elementReference>
                    </defaultValue>
                    <fieldText>Car Brand</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_Text_SubscriptionCarModel</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.COMM_CarModel__c</elementReference>
                    </defaultValue>
                    <fieldText>Car Model</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>COMM_ScreenSection_VehicleInformation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COMM_Text_SubscriptionSecondaryLicensePlate</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.COMM_SecondaryLicensePlate__c</elementReference>
                    </defaultValue>
                    <fieldText>Secondary License Plate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.COMM_FLOW_SCREENVALUETOOLONG}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!COMM_Text_SubscriptionSecondaryLicensePlate})&lt;=8</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>COMM_Text_SubscriptionSecondaryCarBrand</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.COMM_SecondaryCarBrand__c</elementReference>
                    </defaultValue>
                    <fieldText>Secondary Car Brand</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>COMM_Text_SubscriptionSecondaryCarModel</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.COMM_SecondaryCarModel__c</elementReference>
                    </defaultValue>
                    <fieldText>Secondary Car Model</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_Decision_ConfirmActionAvailability</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>COMM_Variable_CountryCodeLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.COMM_Address__CountryCode__s</elementReference>
        </value>
    </variables>
    <variables>
        <name>COMM_Variable_StateCodeLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.COMM_Address__StateCode__s</elementReference>
        </value>
    </variables>
    <variables>
        <name>PriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Current Subscription Record</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>COMM_Subscription__c</objectType>
    </variables>
    <variables>
        <name>SubscriptionNewPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
