force-app/main/default/flows/COMM_FLW_Case_PublicSubscriptionConclusionProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email to costumer informing its subscription is confirmed.</description>
        <name>COMM_SendEmailToCustomer</name>
        <label>Send Email to Customer</label>
        <locationX>732</locationX>
        <locationY>2522</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetOrgWideAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>COMM_RecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_GetEmailTemplate.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send email to costumer informing its subscription is confirmed.</description>
        <name>COMM_SendEmailToCustomer_2</name>
        <label>Send Email to Customer</label>
        <locationX>72</locationX>
        <locationY>1730</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetOrgWideAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>COMM_RecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_GetEmailTemplate_2.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Release_Stock_on_OCI</name>
        <label>Release Stock on OCI</label>
        <locationX>864</locationX>
        <locationY>1298</locationY>
        <actionName>COMM_SL_ClearProductReservations</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_Update_CancelPublicSubscription</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>COMM_ErrorMessageScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>COMM_GetSubscription.COMM_OCIEndDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productCodeList</name>
            <value>
                <elementReference>ProductsToReleaseOnOCI</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>COMM_ReleaseStartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_ClearProductReservations</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>COMM_Assign_ProductCodeToRelease</name>
        <label>Set Product Code to Release</label>
        <locationX>864</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ProductsToReleaseOnOCI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId.Product.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Release_Stock_on_OCI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_SubscriptionNumberVariableSet</name>
        <label>Subscription Number Variable Set</label>
        <locationX>732</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_SubscriptionNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Text_SubscriptionNumberField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the email addresses to consider as recipients of the email to send.</description>
        <name>COMM_SetRecipientEmails</name>
        <label>Set Recipient Emails</label>
        <locationX>864</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>COMM_RecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_recipient_emails2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the email addresses to consider as recipients of the email to send.</description>
        <name>COMM_SetRecipientEmails_2</name>
        <label>Set Recipient Emails</label>
        <locationX>204</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>COMM_RecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_recipient_emails1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_recipient_emails1</name>
        <label>Are there recipient emails?</label>
        <locationX>204</locationX>
        <locationY>1622</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Are_there_recipient_emails1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_RecipientEmails</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SendEmailToCustomer_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_recipient_emails2</name>
        <label>Are there recipient emails?</label>
        <locationX>864</locationX>
        <locationY>2414</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Are_there_recipient_emails2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_RecipientEmails</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SendEmailToCustomer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_SubscriptionNumberVariableEmpty</name>
        <label>Is Subscription Number Variable Empty?</label>
        <locationX>864</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>COMM_UpdateCaseRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Variable_SubscriptionNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Assignment_SubscriptionNumberVariableSet</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if a Case Subscription is recurring.</description>
        <name>COMM_IsCaseSubscriptionRecurring</name>
        <label>Is Case Subscription Recurring?</label>
        <locationX>864</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>COMM_Update_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Public Subscription</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_RecurrentPublicSubscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Get_CaseRecurringPublicSubscriptionRecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_UpdateSubscription_2</targetReference>
            </connector>
            <label>Recurrent Public Subscription</label>
        </rules>
        <rules>
            <name>COMM_Outcome_CancelPublicSubscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Get_CaseCancelPublicSubscriptionRecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Assign_ProductCodeToRelease</targetReference>
            </connector>
            <label>Cancel Public Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition to check if the Product Linked on Subscription is configured as manual recharge.</description>
        <name>COMM_IsSubscriptionProductConfiguredAsManualRecharge</name>
        <label>Is Subscription Product Configured as Manual Recharge?</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>COMM_GetEmailTemplate_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_IsSubscriptionProductConfiguredAsManualRecharge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Product.COMM_ManualRecharge__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetEmailTemplate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>version 1.0 - Flow to handle Public Subscription Case conclusion related processes.
version 1.1 - https://jira.ana.pt/projects/TICKET/queues/issue/TICKET-262901</description>
    <environments>Default</environments>
    <formulas>
        <description>Datetime value to send on OCI start date request</description>
        <name>COMM_ReleaseStartDate</name>
        <dataType>DateTime</dataType>
        <expression>IF({!recordId.COMM_StartDate__c} &gt; {!recordId.COMM_CancellationDate__c},
(DATETIMEVALUE({!recordId.COMM_StartDate__c})),
(DATETIMEVALUE({!recordId.COMM_CancellationDate__c}) + 1)
)</expression>
    </formulas>
    <interviewLabel>Case Public Subscription Conclusion Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Public Subscription Conclusion Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Case Cancel Public Subscription Record Type details.</description>
        <name>COMM_Get_CaseCancelPublicSubscriptionRecordType</name>
        <label>Get Case cancel Public Subscription Record Type</label>
        <locationX>864</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetSubscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_CancelPublicSubscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Case Recurring Public Subscription Record Type details.</description>
        <name>COMM_Get_CaseRecurringPublicSubscriptionRecordType</name>
        <label>Get Case Recurring Public Subscription Record Type</label>
        <locationX>864</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Get_CaseCancelPublicSubscriptionRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_RecurringPublicSubscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Order Item Summary related record</description>
        <name>COMM_Get_OrderItemSummary</name>
        <label>Get Order Item Summary</label>
        <locationX>1656</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Update_OrderItemSummary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalOrderItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetSubscription.COMM_OrderProduct__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Org Wide Address email.</description>
        <name>COMM_GetOrgWideAddress</name>
        <label>Get Org Wide Address</label>
        <locationX>864</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_IsCaseSubscriptionRecurring</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Subscription record related on Case.</description>
        <name>COMM_GetSubscription</name>
        <label>Get Subscription</label>
        <locationX>864</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetOrgWideAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.COMM_Subscription__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>COMM_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>Rollback record updates if error occurs.</description>
        <name>COMM_RollbackRecordUpdatesOnError</name>
        <label>Rollback record updates on error.</label>
        <locationX>2448</locationX>
        <locationY>758</locationY>
    </recordRollbacks>
    <recordUpdates>
        <description>Update Subscription record.</description>
        <name>COMM_Update_CancelPublicSubscription</name>
        <label>Update Subscription</label>
        <locationX>864</locationX>
        <locationY>1406</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>COMM_ErrorMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetSubscription.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CancellationDate__c</field>
            <value>
                <elementReference>recordId.COMM_CancellationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_OCIEndDate__c</field>
            <value>
                <elementReference>recordId.COMM_CancellationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Status__c</field>
            <value>
                <stringValue>Archieved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Order Item record related on Subscription.</description>
        <name>COMM_Update_OrderItem</name>
        <label>Update Order Item</label>
        <locationX>1656</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>COMM_Get_OrderItemSummary</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>COMM_ErrorMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetSubscription.COMM_OrderProduct__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>COMM_GetSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>COMM_Update_OrderItemSummary</name>
        <label>Update Order Item Summary</label>
        <locationX>1656</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>COMM_GetEmailTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_Get_OrderItemSummary.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>COMM_GetSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItemSummary</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Subscription record.</description>
        <name>COMM_Update_Subscription</name>
        <label>Update Subscription</label>
        <locationX>1656</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>COMM_Update_OrderItem</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>COMM_ErrorMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetSubscription.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Status__c</field>
            <value>
                <stringValue>Process Concluded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>COMM_Variable_SubscriptionNumber</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case Record.</description>
        <name>COMM_UpdateCaseRecord</name>
        <label>Update Case Record</label>
        <locationX>864</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>COMM_Get_CaseRecurringPublicSubscriptionRecordType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>COMM_ErrorMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>COMM_Variable_SubscriptionNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Process Concluded</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Subscription record.</description>
        <name>COMM_UpdateSubscription_2</name>
        <label>Update Subscription</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>COMM_IsSubscriptionProductConfiguredAsManualRecharge</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>COMM_ErrorMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetSubscription.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_EndDate__c</field>
            <value>
                <elementReference>recordId.COMM_EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Status__c</field>
            <value>
                <stringValue>Process Concluded</stringValue>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen component to show error message.</description>
        <name>COMM_ErrorMessageScreen</name>
        <label>Error Message Screen</label>
        <locationX>2448</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>COMM_RollbackRecordUpdatesOnError</targetReference>
        </connector>
        <fields>
            <name>COMM_ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Label.Error_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to User confirm that wants to conclude the Subscription Process.</description>
        <name>COMM_SubscriptionConclusionProcessScreen</name>
        <label>Subscription Conclusion Process Screen</label>
        <locationX>864</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>COMM_Decision_SubscriptionNumberVariableEmpty</targetReference>
        </connector>
        <fields>
            <name>COMM_ConfirmationText</name>
            <fieldText>&lt;p&gt;{!$Label.COMM_SUBSCRIPTION_CONCLUDE_PROCESS}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COMM_Text_SubscriptionNumberField</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.COMM_SubscriptionNumber__c</elementReference>
            </defaultValue>
            <fieldText>Subscription Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>COMM_Variable_SubscriptionNumber</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>COMM_CancelPublicSubscription</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_SubscriptionConclusionProcessScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Get Email Template by Language of recipient.</description>
        <name>COMM_GetEmailTemplate</name>
        <label>Get Email Template</label>
        <locationX>864</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>COMM_SetRecipientEmails</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <stringValue>COMM_EndUser_ManualSubscriptionApproved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>recordId.COMM_OrderSummary__r.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Get Email Template by Language of recipient.</description>
        <name>COMM_GetEmailTemplate_2</name>
        <label>Get Email Template</label>
        <locationX>204</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>COMM_SetRecipientEmails_2</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <stringValue>COMM_EndUser_SubscriptionApproved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>recordId.COMM_OrderSummary__r.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Variable with email addresses to consider as recipient emails.</description>
        <name>COMM_RecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_Variable_SubscriptionNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.COMM_SubscriptionNumber__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>List of Product IDs to Release on OCI</description>
        <name>ProductsToReleaseOnOCI</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Record in Process.</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
