force-app/main/default/flows/COMM_FLW_Case_AffiliateRegistrationRequestGetPersonAffiliateAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>COMM_Assignment_AssignAccountWithVAT</name>
        <label>Assign Account</label>
        <locationX>270</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_ExistingAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Loop_VerifyAccounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Loop_VerifyAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set relevant Case fields with the information of existing Affiliate Account.</description>
        <name>COMM_SetCaseDetails</name>
        <label>Set Case Details</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.COMM_ExistingAffiliateAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Variable_ExistingAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.COMM_AffiliateCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Variable_ExistingAccount.COMM_AffiliateCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.COMM_CompanyVATNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Variable_ExistingAccount.COMM_VATNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.COMM_AffiliatePaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Variable_ExistingAccount.COMM_PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.COMM_CompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Variable_ExistingAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.COMM_CompanyEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Variable_ExistingAccount.COMM_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.COMM_CompanyAddress__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Variable_ExistingAccount.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.COMM_CompanyAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Variable_ExistingAccount.BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.COMM_CompanyAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Variable_ExistingAccount.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.COMM_CompanyAddress__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Variable_ExistingAccount.BillingStateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.COMM_CompanyAddress__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Variable_ExistingAccount.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_GetPersonAccountRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set relevant Case fields with the information of existing Person Account.</description>
        <name>COMM_SetCaseDetails_2</name>
        <label>Set Case Details</label>
        <locationX>50</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_GetPersonAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_GetPersonAccount.PersonContactId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Decision to check if there is an Affiliate Account already related on VAT Number specified on Case Affiliate Registration Request.</description>
        <name>COMM_AffiliateAccountFound</name>
        <label>Affiliate Account found?</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>COMM_GetPersonAccountRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Variable_ExistingAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetCaseDetails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_VerifyAccountVat</name>
        <label>Verify Account VAT</label>
        <locationX>402</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>COMM_Loop_VerifyAccounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>VAT doesn&apos;t match</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_VatIsSame</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Loop_VerifyAccounts.COMM_VATNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.COMM_CompanyVATNumber__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_CompanyVATNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Formula_AccountVATWithoutCountry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Assignment_AssignAccountWithVAT</targetReference>
            </connector>
            <label>VAT is the Same</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if there is an Person Account related on identifier specified on Case Affiliate Registration Request record.</description>
        <name>COMM_PersonAccountFound</name>
        <label>Person Account found?</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_PersonAccountFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_GetPersonAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetCaseDetails_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to get details of Person and/or Affiliate Accounts related on Case for Affiliate Registration Requests.</description>
    <environments>Default</environments>
    <formulas>
        <description>Returns VAT Number without initial two characters</description>
        <name>COMM_Formula_AccountVATWithoutCountry</name>
        <dataType>String</dataType>
        <expression>IF(REGEX(LEFT({!COMM_Loop_VerifyAccounts.COMM_VATNumber__c}, 2), &quot;[a-zA-Z]{2}&quot;), RIGHT({!COMM_Loop_VerifyAccounts.COMM_VATNumber__c}, LEN({!COMM_Loop_VerifyAccounts.COMM_VATNumber__c}) - 2), {!COMM_Loop_VerifyAccounts.COMM_VATNumber__c})</expression>
    </formulas>
    <interviewLabel>Case Affiliate Registration Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Affiliate Registration Request Get Person / Affiliate Account</label>
    <loops>
        <name>COMM_Loop_VerifyAccounts</name>
        <label>Verify Accounts</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <collectionReference>COMM_GetAffiliateAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>COMM_Decision_VerifyAccountVat</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>COMM_AffiliateAccountFound</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Affiliate Account record by Company VAT Number specified on Affiliate request Case.</description>
        <name>COMM_GetAffiliateAccount</name>
        <label>Get Affiliate Account</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Loop_VerifyAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetCollectivePartnerAccountRecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collective</stringValue>
            </value>
        </filters>
        <filters>
            <field>COMM_IsAffiliate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COMM_AffiliateCategory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COMM_VATNumber__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>$Record.COMM_CompanyVATNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Collective/Partner Account Record Type details.</description>
        <name>COMM_GetCollectivePartnerAccountRecordType</name>
        <label>Get Collective/Partner Account Record Type</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetAffiliateAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_CollectivePartner</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Person Account record by identifier passed from Commerce form to Affiliate Registration request Case record.</description>
        <name>COMM_GetPersonAccount</name>
        <label>Get Person Account</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_PersonAccountFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.COMM_CustomerExternalId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetPersonAccountRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Person Account Record Type details.</description>
        <name>COMM_GetPersonAccountRecordType</name>
        <label>Get Person Account Record Type</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetPersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_GetCollectivePartnerAccountRecordType</targetReference>
        </connector>
        <filterFormula>AND(
TEXT({!$Record.Type}) = &apos;Affiliate Registration Request&apos;,
TEXT({!$Record.Status}) = &apos;Waiting Approval&apos;,
NOT(ISBLANK({!$Record.COMM_CompanyVATNumber__c})),
NOT(ISBLANK({!$Record.COMM_CompanyName__c}))
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>COMM_Variable_ExistingAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
