force-app/main/default/flows/COMM_OMS_Manual_Trigger_SAP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>COMM_Action_CallSAPCreditMemo</name>
        <label>Call SAP</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <actionName>COMM_SL_OMS_SAPHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_Retry_successfully_submitted_screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Call_SAP_action_failed</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objectIds</name>
            <value>
                <elementReference>COMM_Get_CreditMemo.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_OMS_SAPHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>COMM_Action_CallSAPInvoice</name>
        <label>Call SAP</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <actionName>COMM_SL_OMS_SAPHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_Retry_successfully_submitted_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Call_SAP_action_failed</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objectIds</name>
            <value>
                <elementReference>COMM_Get_Invoice.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_OMS_SAPHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>COMM_Decision_ConfirmObjectCallSAP</name>
        <label>Confirm Object</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>COMM_Action_CallSAPInvoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Invoice</defaultConnectorLabel>
        <rules>
            <name>Outcome_IsCreditMemoCallSAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>50g</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Action_CallSAPCreditMemo</targetReference>
            </connector>
            <label>Is Credit Memo</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_ConfirmObjectMessage</name>
        <label>Confirm Object</label>
        <locationX>2030</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>COMM_Screen_InvoiceDoesNotHaveAnyBalanceToRetry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Invoice</defaultConnectorLabel>
        <rules>
            <name>Outcome_IsCreditMemoMessage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>50g</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Screen_CreditMemoDoesNotHaveAnyBalanceToRetry</targetReference>
            </connector>
            <label>Is Credit Memo</label>
        </rules>
    </decisions>
    <decisions>
        <description>Confirm which object are we receiving on Record Id</description>
        <name>Decision_ConfirmObject</name>
        <label>Confirm Object</label>
        <locationX>1733</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_IsInvoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>3tt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_Invoice</targetReference>
            </connector>
            <label>Is Invoice</label>
        </rules>
        <rules>
            <name>Outcome_IsCreditMemo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>50g</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_CreditMemo</targetReference>
            </connector>
            <label>Is Credit Memo</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only allow send to SAP if:
* invoice - has Payments or Credits applied (if it was already returned/cancelled)
* credit memo - has Credits applied</description>
        <name>Invoice_has_balance_to_retry</name>
        <label>Invoice has NetPaymentsApplied</label>
        <locationX>1040</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_ConfirmObjectMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_AlreadyHasSAPDocumentIdInvoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Get_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Screen_AlreadyHasSAPDocumentIdInvoice</targetReference>
            </connector>
            <label>Already has SAP Document Id (Invoice)</label>
        </rules>
        <rules>
            <name>Outcome_AlreadyHasSAPDocumentIdCreditMemo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Get_CreditMemo.COMM_SAPDocumentId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COMM_Get_CreditMemo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Screen_AlreadyHasSAPDocumentIdCreditMemo</targetReference>
            </connector>
            <label>Already has SAP Document Id (Credit Memo)</label>
        </rules>
        <rules>
            <name>YesBalance</name>
            <conditionLogic>(2 AND (1 OR 5)) OR (4 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Get_Invoice.NetPaymentsApplied</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>3tt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COMM_Get_CreditMemo.NetCreditsApplied</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>50g</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COMM_Get_Invoice.NetCreditsApplied</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_to_proceed_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ReferenceEntity_an_Order</name>
        <label>Is ReferenceEntity an Order</label>
        <locationX>1733</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Referenced_Entity_is_not_an_Order_Summary_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Get_Invoice.ReferenceEntityId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1Os</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COMM_Get_CreditMemo.ReferenceEntityId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1Os</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_has_balance_to_retry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Confirmed_to_proceed</name>
        <label>User Confirmed to proceed?</label>
        <locationX>1238</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_confirmed_to_proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmed_to_proceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Decision_ConfirmObjectCallSAP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>COMM: OMS Manual Trigger Invoice SAP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMS Manual Trigger SAP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>COMM_Get_CreditMemo</name>
        <label>Get Credit Memo</label>
        <locationX>1733</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ReferenceEntity_an_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemo</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance</queriedFields>
        <queriedFields>ReferenceEntityId</queriedFields>
        <queriedFields>NetCreditsApplied</queriedFields>
        <queriedFields>COMM_SAPDocumentId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>1469</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ReferenceEntity_an_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance</queriedFields>
        <queriedFields>ReferenceEntityId</queriedFields>
        <queriedFields>NetPaymentsApplied</queriedFields>
        <queriedFields>NetCreditsApplied</queriedFields>
        <queriedFields>COMM_SAPDocumentId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Call_SAP_action_failed</name>
        <label>Call SAP action failed</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Call_Failed_Text</name>
            <fieldText>&lt;p&gt;Call CPMS failed&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_AlreadyHasSAPDocumentIdCreditMemo</name>
        <label>Screen Already has SAP Document Id (Credit Memo)</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_DisplayText_AlreadySAPDocumentTextCreditMemo</name>
            <fieldText>&lt;p&gt;Credit Memo already has SAP document id ({!COMM_Get_CreditMemo.COMM_SAPDocumentId__c}&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_AlreadyHasSAPDocumentIdInvoice</name>
        <label>Screen Already has SAP Document Id (Invoice)</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_DisplayText_AlreadySAPDocumentTextInvoice</name>
            <fieldText>&lt;p&gt;Invoice already has SAP document id ({!COMM_Get_Invoice.COMM_SAPDocumentId__c}).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_CreditMemoDoesNotHaveAnyBalanceToRetry</name>
        <label>Screen Credit Memo does not have any balance to retry</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_DisplayText_BalanceNotZeroCreditMemo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Credit Memo &lt;/span&gt;Net Credits Applied&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; is not greater than 0 ({!COMM_Get_CreditMemo.NetCreditsApplied}), so cannot retry.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_InvoiceDoesNotHaveAnyBalanceToRetry</name>
        <label>Screen Invoice does not have any balance to retry</label>
        <locationX>2162</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COMM_DisplayText_BalanceNotZero</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This invoice never had payments or credits so cannot retry:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Payments Applied: {!COMM_Get_Invoice.NetPaymentsApplied}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Credits Applied: {!COMM_Get_Invoice.NetCreditsApplied}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_to_proceed_screen</name>
        <label>Confirm to proceed screen</label>
        <locationX>1238</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>User_Confirmed_to_proceed</targetReference>
        </connector>
        <fields>
            <name>confirm_to_proceed_dialog</name>
            <extensionName>c:comm_omsConfirmDialog</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Do you want to proceed?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>yesButtonClicked</name>
                <value>
                    <elementReference>confirmed_to_proceed</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>confirmed_to_proceed</assignToReference>
                <name>yesButtonClicked</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Referenced_Entity_is_not_an_Order_Summary_screen</name>
        <label>Referenced Entity is not an Order Summary</label>
        <locationX>2426</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Referenced_Entity_is_not_an_Order_Summary_displaytext</name>
            <fieldText>&lt;p&gt;Referenced Entity is not an Order Summary.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Retry_successfully_submitted_screen</name>
        <label>Screen Retry successfully submitted</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Retry_Submitted</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Noto Sans&amp;quot;, Ubuntu, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;The retry has been successfully submitted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1607</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_ConfirmObject</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>confirmed_to_proceed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EnsureFundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureFundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
