force-app/main/default/flows/COMM_FLW_Case_AffiliateRegistrationRequestAccountCreationUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set variable with Affiliate Account identifier.</description>
        <name>COMM_SetAffiliateAccountId</name>
        <label>Set Affiliate Account Id</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>COMM_AffiliateAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_GetIndividualRecordType</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <description>Error thrown when mandatory fields related to Case Affiliate Registration Request with Account creation are not filled.</description>
        <name>COMM_CaseValidationError</name>
        <label>Case Validation Error</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.COMM_CASE_VR_AffiliateAccountFields}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Decision to check if there is already an Affiliate Account related to VAT requesting an Affiliate Registration.</description>
        <name>COMM_AccountExists</name>
        <label>Account Exists?</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>COMM_IsCaseValidForApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_AccountExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_GetAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetAffiliateAccountId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Case in process is an Affiliate Registration Request.</description>
        <name>COMM_IsCaseRelatedOnAnAffiliateRegistrationRequest</name>
        <label>Is Case related on an Affiliate Registration Request?</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate Registration Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetCollectivePartnerAccountRecordType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if mandatory fields for Account creation are filled.</description>
        <name>COMM_IsCaseValidForApproval</name>
        <label>Is Case valid for approval?</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>COMM_CaseValidationError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_IsCaseValidForApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_CompanyName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_AffiliateCategory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_CompanyVATNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_AffiliatePaymentMethod__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_CreateAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if a Person Account related on Case Affiliate Registration request was found.</description>
        <name>COMM_PersonAccountFound</name>
        <label>Person Account found?</label>
        <locationX>248</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_COMM_PersonAccountFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_GetPersonAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_UpdatePersonAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to create a New Affiliate Account on a Case related to an affiliate registration request if no related Account exists or update it if exists.</description>
    <environments>Default</environments>
    <formulas>
        <description>Concatenation of First Name and Last Name from Case record on process to set as Collective/Partner Account Name.</description>
        <name>COMM_AccountName</name>
        <dataType>String</dataType>
        <expression>{!$Record.COMM_FirstName__c} + &apos; &apos; + {!$Record.COMM_LastName__c}</expression>
    </formulas>
    <interviewLabel>Case Affiliate Registration Request Account Creation / Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Affiliate Registration Request Account Creation / Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a new Collective/Partner Account.</description>
        <name>COMM_CreateAccount</name>
        <label>Create Account</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>COMM_AffiliateAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>COMM_UpdateCase</targetReference>
        </connector>
        <inputAssignments>
            <field>COMM_AffiliateCategory__c</field>
            <value>
                <elementReference>$Record.COMM_AffiliateCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_IsAffiliate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PaymentMethod__c</field>
            <value>
                <elementReference>$Record.COMM_AffiliatePaymentMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VATNumber__c</field>
            <value>
                <elementReference>$Record.COMM_CompanyVATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.COMM_CompanyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>COMM_GetCollectivePartnerAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Collective</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <description>Get Account related on Case record information.</description>
        <name>COMM_GetAccount</name>
        <label>Get Account</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_AccountExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetCollectivePartnerAccountRecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>COMM_IsAffiliate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COMM_AffiliateCategory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COMM_VATNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.COMM_CompanyVATNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collective</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Collective/Partner Account Record Type details.</description>
        <name>COMM_GetCollectivePartnerAccountRecordType</name>
        <label>Get Collective/Partner Account Record Type</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_CollectivePartner</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Individual Account Record Type details.</description>
        <name>COMM_GetIndividualRecordType</name>
        <label>Get Individual Record Type</label>
        <locationX>248</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_GetPersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMM_Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Person Account record related on Case Affiliate Registration Request.</description>
        <name>COMM_GetPersonAccount</name>
        <label>Get Person Account</label>
        <locationX>248</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_PersonAccountFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetIndividualRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Case to related created Affiliate Account on it.</description>
        <name>COMM_UpdateCase</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>COMM_GetIndividualRecordType</targetReference>
        </connector>
        <inputAssignments>
            <field>COMM_ExistingAffiliateAccount__c</field>
            <value>
                <elementReference>COMM_AffiliateAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>COMM_UpdatePersonAccount</name>
        <label>Update Person Account</label>
        <locationX>116</locationX>
        <locationY>1571</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_GetPersonAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ParentAccount__c</field>
            <value>
                <elementReference>COMM_AffiliateAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_IsCaseRelatedOnAnAffiliateRegistrationRequest</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Process Concluded</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Variable with identifier of Affiliate Account.</description>
        <name>COMM_AffiliateAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
