force-app/main/default/flows/COMM_FLW_Case_SubscriptionChangesFormEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>COMM_Action_SendEmailChangeOwnership</name>
        <label>Action: Send Email Change Ownership</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetRecords_GetDefaultNoReplyAddressAffiliate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplateSubscriptionChangeOwnership.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>COMM_Action_SendEmailRequestNewCardDueToDamage</name>
        <label>Action: Send Email Request New Card Due To Damage</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetRecords_GetDefaultNoReplyAddressAffiliate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplateSubscriptionRequestNewCardDueToDamage.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>COMM_Action_SendEmailRequestNewCardDueToLoss</name>
        <label>Action: Send Email Request New Card Due To Loss</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetRecords_GetDefaultNoReplyAddressAffiliate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplateSubscriptionRequestNewCardDueToLoss.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>COMM_Action_SendEmailSubscriptionChangeInfo</name>
        <label>Action: Send Email Subscription Change Information</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetRecords_GetDefaultNoReplyAddressAffiliate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplateSubscriptionChangeInfo.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>COMM_Action_SendEmailSubscriptionManualRenewal</name>
        <label>Action: Send Email Subscription Manual Renewal</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetRecords_GetDefaultNoReplyAddressAffiliate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplateSubscriptionManualRenewal.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>COMM_Assignment_AddSuppliedEmailToUserEmails_ChangeOwnership</name>
        <label>Add Supplied Email to User Emails</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_SendEmailChangeOwnership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_AddSuppliedEmailToUserEmails_ChangeSubscriptionInformation</name>
        <label>Add Supplied Email to User Emails</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_SendEmailSubscriptionChangeInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_AddSuppliedEmailToUserEmails_ManualRenewal</name>
        <label>Add Supplied Email to User Emails</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_SendEmailSubscriptionManualRenewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_AddSuppliedEmailToUserEmails_RequestNewCardDueDamage</name>
        <label>Add Supplied Email to User Emails</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_SendEmailRequestNewCardDueToDamage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_AddSuppliedEmailToUserEmails_RequestNewCardDueLoss</name>
        <label>Add Supplied Email to User Emails</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_SendEmailRequestNewCardDueToLoss</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision to split the Emails being send by Case Type</description>
        <name>COMM_Decision_SubscriptionType</name>
        <label>Decision: Subscription Type</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_TypeChangeOwnership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeOwnership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Subflow_GetEmailTemplateSubscriptionChangeOwnership</targetReference>
            </connector>
            <label>Type: Change Ownership</label>
        </rules>
        <rules>
            <name>COMM_Outcome_TypeRequestNewCardDueToDamage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewCardDueToDamageLoss</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_Motive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Damage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Subflow_GetEmailTemplateSubscriptionRequestNewCardDueToDamage</targetReference>
            </connector>
            <label>Type: Request New Card Due To Damage</label>
        </rules>
        <rules>
            <name>COMM_Outcome_TypeRequestNewCardDueToLoss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewCardDueToDamageLoss</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_Motive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loss</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Subflow_GetEmailTemplateSubscriptionRequestNewCardDueToLoss</targetReference>
            </connector>
            <label>Type: Request New Card Due To Loss</label>
        </rules>
        <rules>
            <name>COMM_Outcome_TypeChangeSubscriptionInfo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeSubscriptionInformation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Subflow_GetEmailTemplateSubscriptionChangeInfo</targetReference>
            </connector>
            <label>Type: Change Subscription Info</label>
        </rules>
        <rules>
            <name>COMM_Outcome_TypeManualRenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ManualRenewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Subflow_GetEmailTemplateSubscriptionManualRenewal</targetReference>
            </connector>
            <label>Type: Manual Renewal</label>
        </rules>
    </decisions>
    <description>Send form related to subscription case changes with form</description>
    <environments>Default</environments>
    <interviewLabel>COMM: Subscription Changes Form Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COMM: Subscription Changes Form Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>COMM_GetRecords_GetDefaultNoReplyAddressAffiliate</name>
        <label>Get Default No-Reply Address Affiliate</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Decision_SubscriptionType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_GetRecords_GetDefaultNoReplyAddressAffiliate</targetReference>
        </connector>
        <filterFormula>AND(
  OR(
    {!$Record.RecordType.DeveloperName} = &apos;COMM_NewCardDueToDamageLoss&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangeOwnership&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ChangeSubscriptionInformation&apos;,
    {!$Record.RecordType.DeveloperName} = &apos;COMM_ManualRenewal&apos;
  ),
  ISPICKVAL({!$Record.Status}, &apos;Pending Form&apos;)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplateSubscriptionChangeInfo</name>
        <label>Subflow: Get Subscription Change Info Form Email Template</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>COMM_Assignment_AddSuppliedEmailToUserEmails_ChangeSubscriptionInformation</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Variable_SubscriptionChangeInfoFormEmailTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplateSubscriptionChangeOwnership</name>
        <label>Subflow: Get Subscription Change Ownership Form Email Template</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>COMM_Assignment_AddSuppliedEmailToUserEmails_ChangeOwnership</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Variable_SubscriptionChangeOwnershipFormEmailTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplateSubscriptionManualRenewal</name>
        <label>Subflow: Get Subscription Manual Renewal Form Email Template</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>COMM_Assignment_AddSuppliedEmailToUserEmails_ManualRenewal</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Variable_SubscriptionManualRenewalFormEmailTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplateSubscriptionRequestNewCardDueToDamage</name>
        <label>Subflow: Get Subscription Request New Card Due To Damage Form Email Template</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>COMM_Assignment_AddSuppliedEmailToUserEmails_RequestNewCardDueDamage</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Variable_SubscriptionRequestNewCardDueToDamageFormEmailTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplateSubscriptionRequestNewCardDueToLoss</name>
        <label>Subflow: Get Subscription Request New Card Due To Loss Form Email Template</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>COMM_Assignment_AddSuppliedEmailToUserEmails_RequestNewCardDueLoss</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Variable_SubscriptionRequestNewCardDueToLossFormEmailTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Lightning Email Template to be send for Change Subscription Information</description>
        <name>COMM_Variable_SubscriptionChangeInfoFormEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>COMM_EndUser_SubscriptionChangeSubscriptionInfo</stringValue>
        </value>
    </variables>
    <variables>
        <description>Lightning Email Template to be send for Change Ownership</description>
        <name>COMM_Variable_SubscriptionChangeOwnershipFormEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>COMM_EndUser_SubscriptionChangeOwnership</stringValue>
        </value>
    </variables>
    <variables>
        <description>Lightning Email Template to be send for Manual Renewal</description>
        <name>COMM_Variable_SubscriptionManualRenewalFormEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>COMM_EndUser_SubscriptionManualRenewal</stringValue>
        </value>
    </variables>
    <variables>
        <description>Lightning Email Template to be send to Request New Card Due To Damage</description>
        <name>COMM_Variable_SubscriptionRequestNewCardDueToDamageFormEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>COMM_EndUser_SubscriptionNewCardDueToDamage</stringValue>
        </value>
    </variables>
    <variables>
        <description>Lightning Email Template to be send to Request New Card Due To Loss</description>
        <name>COMM_Variable_SubscriptionRequestNewCardDueToLossFormEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>COMM_EndUser_SubscriptionNewCardDueToLoss</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
