force-app/main/default/flows/COMM_OMS_Actions_When_Invoice_Paid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_CPMS</name>
        <label>Call CPMS</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>COMM_SL_OMS_CPMSHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>invoiceIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_OMS_CPMSHandler</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Call_Create_Gift_Cards</name>
        <label>Call Create Gift Cards</label>
        <locationX>1106</locationX>
        <locationY>276</locationY>
        <actionName>COMM_SL_CreateGiftCard</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>invoiceIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_CreateGiftCard</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>COMM_CallCreatePublicSubscription</description>
        <name>Call_Create_Public_Subscription</name>
        <label>Call Create Public Subscription</label>
        <locationX>842</locationX>
        <locationY>276</locationY>
        <actionName>COMM_SL_PublicSubscriptionCreation</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>invoiceIdsList</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_PublicSubscriptionCreation</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Call_SAP_Handler</name>
        <label>Call SAP Handler</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <actionName>COMM_SL_OMS_SAPHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_OMS_SAPHandler</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This flow will
        1. Update Order Summary to Paid
        2. Update Account IndividualStaff flag
        3. Send reservation to CPMS
        4. Create public subscription record and Case
        5. Request SAP to create the invoice</description>
    <environments>Default</environments>
    <interviewLabel>COMM OMS Actions When Invoice Paid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMS Actions When Invoice Paid</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_OrderSummary_Status_Paid</name>
        <label>Set OrderSummary Status Paid</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Update_Account_Individual_Staff</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReferenceEntityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_OrderSummary_Status_Paid</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Balance</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>NetPaymentsApplied</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Invoice</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Call_CPMS</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>Async_Create_Invoices</name>
            <connector>
                <targetReference>Call_SAP_Handler</targetReference>
            </connector>
            <label>Async Create Invoices</label>
            <maxBatchSize>5</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>COMM_ScheduledPath_CreateNewPublicSubscription</name>
            <connector>
                <targetReference>Call_Create_Public_Subscription</targetReference>
            </connector>
            <label>Scheduled Path - Create New Public Subscription</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Async_Create_Gift_Cards</name>
            <connector>
                <targetReference>Call_Create_Gift_Cards</targetReference>
            </connector>
            <label>Async Create Gift Cards</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Account_Individual_Staff</name>
        <label>Update Account Individual Staff</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <flowName>COMM_OMS_UpdateAccountIndividualStaff</flowName>
        <inputAssignments>
            <name>COMM_InputOrderSummaryId</name>
            <value>
                <elementReference>$Record.ReferenceEntityId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
