force-app/main/default/flows/COMM_Publish_Dynatrace_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Capture_Event_Type</name>
        <label>Assign Capture Event Type</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Event_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventType_OMSPaymentIssue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Dynatrace_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CPMS_Event_Type</name>
        <label>Assign CPMS Event Type</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Event_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventType_CPMSIssue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Dynatrace_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_Timestamp_and_Reference_Id</name>
        <label>Assign Event Timestamp and Reference Id</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Event_Timestamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Event_ReferenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderSummary.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QR_Code_Event_Type</name>
        <label>Assign QR Code Event Type</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Event_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventType_QRCodeIssue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Dynatrace_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Refund_Event_Type</name>
        <label>Assign Refund Event Type</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Event_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventType_OMSRefundIssue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Dynatrace_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SAP_Event_Type</name>
        <label>Assign SAP Event Type</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Event_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventType_FiscalDocumentIssue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Dynatrace_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Voucher_Event_Type</name>
        <label>Assign Voucher Event Type</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Event_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventType_VoucherIssue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Dynatrace_Event</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CaptureText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>capture</stringValue>
        </value>
    </constants>
    <constants>
        <name>EventType_CommercePaymentIssue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Commerce Payment Issue</stringValue>
        </value>
    </constants>
    <constants>
        <name>EventType_CPMSIssue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CPMS Issue</stringValue>
        </value>
    </constants>
    <constants>
        <name>EventType_FiscalDocumentIssue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Fiscal Document Issue</stringValue>
        </value>
    </constants>
    <constants>
        <name>EventType_OMSPaymentIssue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OMS Payment Issue</stringValue>
        </value>
    </constants>
    <constants>
        <name>EventType_OMSRefundIssue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OMS Refund Issue</stringValue>
        </value>
    </constants>
    <constants>
        <name>EventType_QRCodeIssue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>QR Code Issue</stringValue>
        </value>
    </constants>
    <constants>
        <name>EventType_VoucherIssue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Voucher Issue</stringValue>
        </value>
    </constants>
    <constants>
        <name>Refundtext</name>
        <dataType>String</dataType>
        <value>
            <stringValue>refund</stringValue>
        </value>
    </constants>
    <decisions>
        <name>What_is_the_category</name>
        <label>What is the category?</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_transaction_type</targetReference>
            </connector>
            <label>Payment</label>
        </rules>
        <rules>
            <name>Voucher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Voucher_Event_Type</targetReference>
            </connector>
            <label>Voucher</label>
        </rules>
        <rules>
            <name>QR_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>QR Code</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QR_Code_Event_Type</targetReference>
            </connector>
            <label>QR Code</label>
        </rules>
        <rules>
            <name>SAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SAP_Event_Type</targetReference>
            </connector>
            <label>SAP</label>
        </rules>
        <rules>
            <name>CPMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CPMS_Event_Type</targetReference>
            </connector>
            <label>CPMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_transaction_type</name>
        <label>What is the transaction type?</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Refundtext</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Refund_Event_Type</targetReference>
            </connector>
            <label>Refund</label>
        </rules>
        <rules>
            <name>Capture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CaptureText</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Capture_Event_Type</targetReference>
            </connector>
            <label>Capture</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Publish Dynatrace Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Publish Dynatrace Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Dynatrace_Event</name>
        <label>Publish Dynatrace Event</label>
        <locationX>1106</locationX>
        <locationY>923</locationY>
        <inputAssignments>
            <field>COMM_Details__c</field>
            <value>
                <elementReference>Event_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_EventReferenceId__c</field>
            <value>
                <elementReference>Event_ReferenceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_EventType__c</field>
            <value>
                <elementReference>Event_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Timestamp__c</field>
            <value>
                <elementReference>Event_Timestamp</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_DynatraceEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Event_Timestamp_and_Reference_Id</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QR Code</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPMS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voucher Email</stringValue>
            </value>
        </filters>
        <object>ProcessException</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Event_Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Event_ReferenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Event_Timestamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Event_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
