force-app/main/default/flows/COMM_Product_FLW_VerifyExistingDefault.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>COMM_Assignment_CountExistingDefault</name>
        <label>Assignment: Count Existing Default</label>
        <locationX>644</locationX>
        <locationY>4295</locationY>
        <assignmentItems>
            <assignToReference>COMM_Variable_NumberOfExistingRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>COMM_GetRecords_CheckExistingDefaultCapacity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Decision_VerifyIfDefaultCapacityExists</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>COMM_ErrorMessage_AirportMissing</name>
        <label>Error: Aiport Missing</label>
        <locationX>710</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>COMM_Decision_ClosingOperatingHoursIsFilled</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Airport to Activate Product</errorMessage>
            <fieldSelection>COMM_Airport__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_CategoryMissing</name>
        <label>Error: Category Missing</label>
        <locationX>50</locationX>
        <locationY>3095</locationY>
        <customErrorMessages>
            <errorMessage>Please fill Category to Activate Product</errorMessage>
            <fieldSelection>Family</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_ClosingOperatingHoursMissing</name>
        <label>Error: Closing Operating Hours Missing</label>
        <locationX>710</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>COMM_Decision_OpeningOperatingHoursIsFilled</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Closing Operating Hours to Activate Product</errorMessage>
            <fieldSelection>COMM_ClosingOperatingHours__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_DefaultExists</name>
        <label>Error: Default Exists</label>
        <locationX>512</locationX>
        <locationY>4511</locationY>
        <customErrorMessages>
            <errorMessage>Define a default capacity to activate the product.
Uncheck the field Active and define the capacity on the related tab of the product.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_DescriptionMissing</name>
        <label>Error: Description Missing</label>
        <locationX>710</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>COMM_Decision_AirportIsFilled</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Product Description to Activate Product</errorMessage>
            <fieldSelection>Description</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_OpeningOperatingHoursMissing</name>
        <label>Error: Opening Operating Hours Missing</label>
        <locationX>710</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>COMM_Decision_ValidFromIsFilled</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Opening Operating Hours to Activate Product</errorMessage>
            <fieldSelection>COMM_OpeningOperatingHours__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_ParkingSystemNameMissing</name>
        <label>Error: Parking System Name Missing</label>
        <locationX>754</locationX>
        <locationY>3503</locationY>
        <connector>
            <targetReference>COMM_SubCategoryIsCourtesyAndPaymentTypeIsDifferent</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Parking System Name to Activate Parking Product</errorMessage>
            <fieldSelection>COMM_CPMS__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_ParkMissing</name>
        <label>Error: Park Missing</label>
        <locationX>754</locationX>
        <locationY>3203</locationY>
        <connector>
            <targetReference>COMM_Decision_ParkingSystemNameIsFilled</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Park to Activate Parking Product</errorMessage>
            <fieldSelection>COMM_Park__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_PaymentTypeMissing</name>
        <label>Error: Payment Type Missing</label>
        <locationX>1194</locationX>
        <locationY>3203</locationY>
        <connector>
            <targetReference>COMM_Decision_SAPLocationFilled</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Payment Type to Activate Gift Card Product</errorMessage>
            <fieldSelection>COMM_PaymentType__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_ProductCodeMissing</name>
        <label>Error: Product Code Missing</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>COMM_Decision_DescriptionIsFilled</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Product Code to Activate Product</errorMessage>
            <fieldSelection>ProductCode</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_ProductNameMissing</name>
        <label>Error: Product Name Missing</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Product_Code_is_filled</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Product Name to Activate Product</errorMessage>
            <fieldSelection>Name</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_SAPLocationMissing</name>
        <label>Error: SAP Location Missing</label>
        <locationX>1194</locationX>
        <locationY>3503</locationY>
        <connector>
            <targetReference>COMM_SubCategoryIsCourtesyAndPaymentTypeIsDifferent</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill SAP Location to Activate Gift Card Product</errorMessage>
            <fieldSelection>COMM_SAPLocation__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_SubscriptionPeriodicityMissing</name>
        <label>Error: Subscription Periodicity Missing</label>
        <locationX>314</locationX>
        <locationY>3203</locationY>
        <connector>
            <targetReference>COMM_Decision_WhereIsTheProductAvailableIsFilled</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Subscription Periodicity to Activate Subscription Product</errorMessage>
            <fieldSelection>COMM_Periodicity__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_TaxMissing</name>
        <label>Error: Tax Missing</label>
        <locationX>710</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>COMM_Decision_VerifyCategory</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Tax to Activate Product</errorMessage>
            <fieldSelection>COMM_Tax__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_ValidFromMissing</name>
        <label>Error: Valid From Missing</label>
        <locationX>710</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>COMM_Decision_ValidToIsFilled</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Valid From to Activate Product</errorMessage>
            <fieldSelection>COMM_ValidFrom__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_ValidToMissing</name>
        <label>Error: Valid To Missing</label>
        <locationX>710</locationX>
        <locationY>2495</locationY>
        <connector>
            <targetReference>COMM_Decision_TaxIsFilled</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Valid To to Activate Product</errorMessage>
            <fieldSelection>COMM_ValidTo__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>COMM_ErrorMessage_WhereIsTheProductAvailableMissing</name>
        <label>Error: Where is the product available Missing</label>
        <locationX>314</locationX>
        <locationY>3503</locationY>
        <connector>
            <targetReference>COMM_SubCategoryIsCourtesyAndPaymentTypeIsDifferent</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please fill Where is the product available to Activate Subscription Product</errorMessage>
            <fieldSelection>COMM_WhereProductAvailable__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>Error message thrown when Product Sub-Category is Courtesy and Payment Type is not exclusively Courtesy.</description>
        <name>COMM_ErrorSubCategoryAndPaymentTypeNotMatch</name>
        <label>Error: Sub-Category and Payment Type not match</label>
        <locationX>710</locationX>
        <locationY>3887</locationY>
        <connector>
            <targetReference>COMM_Decision_IsDefaultCapacityRequired</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>For Courtesy Product the Payment Type should be also Courtesy exclusively.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>COMM_Decision_AirportIsFilled</name>
        <label>Decision: Airport is filled?</label>
        <locationX>842</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_ClosingOperatingHoursIsFilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_AirportEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_Airport__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_Airport__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_AirportMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_ClosingOperatingHoursIsFilled</name>
        <label>Decision: Closing Operating Hours is filled?</label>
        <locationX>842</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_OpeningOperatingHoursIsFilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_ClosingOperatingHourEmpty</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_ClosingOperatingHours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_ClosingOperatingHours__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gift Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_ClosingOperatingHoursMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_DescriptionIsFilled</name>
        <label>Decision: Description is filled?</label>
        <locationX>842</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_AirportIsFilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_DescriptionEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_DescriptionMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_IsDefaultCapacityRequired</name>
        <label>Decision: Is Default Capacity Required?</label>
        <locationX>842</locationX>
        <locationY>4079</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_DefaultCapacityRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Formula_DefaultCapacityRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetRecords_CheckExistingDefaultCapacity</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_OpeningOperatingHoursIsFilled</name>
        <label>Decision: Opening Operating Hours is filled?</label>
        <locationX>842</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_ValidFromIsFilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_OpeningOperatingHoursEmpty</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_OpeningOperatingHours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_OpeningOperatingHours__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gift Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_OpeningOperatingHoursMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_ParkingSystemNameIsFilled</name>
        <label>Decision: Parking System Name is filled?</label>
        <locationX>886</locationX>
        <locationY>3395</locationY>
        <defaultConnector>
            <targetReference>COMM_SubCategoryIsCourtesyAndPaymentTypeIsDifferent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_ParkingSystemNameEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_Tax__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_Tax__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_ParkingSystemNameMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_ParkIsFilled</name>
        <label>Decision: Park is filled?</label>
        <locationX>886</locationX>
        <locationY>3095</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_ParkingSystemNameIsFilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_ParkEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_Park__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_Park__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_ParkMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_PaymentTypeIsFilled</name>
        <label>Decision: Payment Type is filled?</label>
        <locationX>1326</locationX>
        <locationY>3095</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_SAPLocationFilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_PaymentTypeEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_PaymentType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_PaymentTypeMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_ProductNameIsFilled</name>
        <label>Decision: Product Name is filled?</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Product_Code_is_filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_ProductNameEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_ProductNameMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_SAPLocationFilled</name>
        <label>Decision: SAP Location is filled?</label>
        <locationX>1326</locationX>
        <locationY>3395</locationY>
        <defaultConnector>
            <targetReference>COMM_SubCategoryIsCourtesyAndPaymentTypeIsDifferent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_SAPLocationEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_SAPLocation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_SAPLocation__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_SAPLocationMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_SubscriptionPeriodicityIsFilled</name>
        <label>Decision: Subscription Periodicity is filled?</label>
        <locationX>446</locationX>
        <locationY>3095</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_WhereIsTheProductAvailableIsFilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_SubscriptionPeriodicityEmpty</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_Periodicity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_Periodicity__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_ParentProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_SubscriptionPeriodicityMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_TaxIsFilled</name>
        <label>Decision: Tax is filled?</label>
        <locationX>842</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_VerifyCategory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_TaxEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_Tax__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_Tax__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_TaxMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_ValidFromIsFilled</name>
        <label>Decision: Valid From is filled?</label>
        <locationX>842</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_ValidToIsFilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_ValidFromEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_ValidFrom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_ValidFrom__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_ValidFromMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_ValidToIsFilled</name>
        <label>Decision: Valid To is filled?</label>
        <locationX>842</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_TaxIsFilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_ValidToEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_ValidTo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_ValidTo__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_ValidToMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_VerifyCategory</name>
        <label>Decision: Verify Category</label>
        <locationX>842</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>COMM_SubCategoryIsCourtesyAndPaymentTypeIsDifferent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remaining Categories</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_CategoryMissing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_CategoryMissing</targetReference>
            </connector>
            <label>Category Missing</label>
        </rules>
        <rules>
            <name>COMM_Outcome_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Decision_SubscriptionPeriodicityIsFilled</targetReference>
            </connector>
            <label>Subscription</label>
        </rules>
        <rules>
            <name>COMM_Outcome_Parking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Decision_ParkIsFilled</targetReference>
            </connector>
            <label>Parking</label>
        </rules>
        <rules>
            <name>COMM_Outcome_GiftCard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gift Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Decision_PaymentTypeIsFilled</targetReference>
            </connector>
            <label>Gift Card</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_VerifyIfDefaultCapacityExists</name>
        <label>Decision: Verify If Default Capacity Exists</label>
        <locationX>644</locationX>
        <locationY>4403</locationY>
        <defaultConnectorLabel>Default Capacity Found</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_NoDefaultCapacityFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Variable_NumberOfExistingRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_DefaultExists</targetReference>
            </connector>
            <label>No Default Capacity Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_WhereIsTheProductAvailableIsFilled</name>
        <label>Decision: Where is the product available is filled?</label>
        <locationX>446</locationX>
        <locationY>3395</locationY>
        <defaultConnector>
            <targetReference>COMM_SubCategoryIsCourtesyAndPaymentTypeIsDifferent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_WhereIsTheProductAvailableEmpty</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_WhereProductAvailable__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_WhereProductAvailable__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_ParentProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_WhereIsTheProductAvailableMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if Sub-Category is Courtesy and the the Payment Type is not exactly Courtesy.</description>
        <name>COMM_SubCategoryIsCourtesyAndPaymentTypeIsDifferent</name>
        <label>Sub-Category is Courtesy and Payment Type is different?</label>
        <locationX>842</locationX>
        <locationY>3779</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_IsDefaultCapacityRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SubCategoryisCourtesy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMM_SubCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Courtesy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMM_PaymentType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Courtesy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorSubCategoryAndPaymentTypeNotMatch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Code_is_filled</name>
        <label>Decision: Product Code is filled?</label>
        <locationX>842</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_DescriptionIsFilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_ProductCodeEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_ErrorMessage_ProductCodeMissing</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <description>Record Trigger Flow that verifies if a Default Capacity Records exists for the Product when changing to Active</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to check if Product Category requires a Default Capacity</description>
        <name>COMM_Formula_DefaultCapacityRequired</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.Family}, &quot;Fast Track&quot;) || ISPICKVAL({!$Record.Family}, &quot;Parking&quot;) || (ISPICKVAL({!$Record.Family}, &quot;Lounge&quot;) &amp;&amp; ISBLANK({!$Record.COMM_ParentProduct__c})) || (ISPICKVAL({!$Record.Family}, &quot;Subscription&quot;) &amp;&amp; ISBLANK({!$Record.COMM_ParentProduct__c}))</expression>
    </formulas>
    <interviewLabel>Verify Existing Default Capacity for Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Existing Default Capacity for Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>COMM_GetRecords_CheckExistingDefaultCapacity</name>
        <label>Get Records: Check Existing Default Capacity</label>
        <locationX>644</locationX>
        <locationY>4187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Assignment_CountExistingDefault</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>COMM_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>COMM_IsDefaultCapacity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COMM_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>COMM_Capacity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_Decision_ProductNameIsFilled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable to store the number of existing Capacity Records</description>
        <name>COMM_Variable_NumberOfExistingRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
