force-app/main/default/flows/COMM_FLW_Case_UpdateRelatedSubscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Decision to check if there is new price to assign to subscription related to Case</description>
        <name>COMM_IsSubscriptionPriceChangePopulated</name>
        <label>Is Subscription Price Change populated?</label>
        <locationX>1766</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Related_Subscription_MR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.COMM_Subscription__r.COMM_ChangeSubscriptionPeriodicity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Subscription_MR_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Split_by_RT</name>
        <label>Split by RT</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Payment_Periodicity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangePaymentPeriodicity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Subscription_CPP</targetReference>
            </connector>
            <label>Change Payment Periodicity</label>
        </rules>
        <rules>
            <name>Change_Ownership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeOwnership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Subscription_CO</targetReference>
            </connector>
            <label>Change Ownership</label>
        </rules>
        <rules>
            <name>Change_Subscription_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeSubscriptionInformation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Subscription_CSI</targetReference>
            </connector>
            <label>Change Subscription Information</label>
        </rules>
        <rules>
            <name>Change_User_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ChangeUserInformation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Subscription_CUI</targetReference>
            </connector>
            <label>Change User Information</label>
        </rules>
        <rules>
            <name>New_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewCardDueToDamageLoss</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Subscription_NC</targetReference>
            </connector>
            <label>New Card</label>
        </rules>
        <rules>
            <name>New_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_NewSubscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Subscription_NS</targetReference>
            </connector>
            <label>New Subscription</label>
        </rules>
        <rules>
            <name>Manual_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_ManualRenewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_IsSubscriptionPriceChangePopulated</targetReference>
            </connector>
            <label>Manual Renewal</label>
        </rules>
        <rules>
            <name>Cancellation_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CancelationRequest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Subscription_CR</targetReference>
            </connector>
            <label>Cancellation Request</label>
        </rules>
    </decisions>
    <description>Update Related Subscription according to record type</description>
    <environments>Default</environments>
    <interviewLabel>Case Update Related Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Update Related Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Related_Subscription_CO</name>
        <label>Update Related Subscription</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.COMM_Subscription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__City__s</field>
            <value>
                <elementReference>Case.COMM_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__CountryCode__s</field>
            <value>
                <elementReference>Case.COMM_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__PostalCode__s</field>
            <value>
                <elementReference>Case.COMM_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__StateCode__s</field>
            <value>
                <elementReference>Case.COMM_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__Street__s</field>
            <value>
                <elementReference>Case.COMM_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CarBrand__c</field>
            <value>
                <elementReference>Case.COMM_VehicleBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CarModel__c</field>
            <value>
                <elementReference>Case.COMM_VehicleModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Card__c</field>
            <value>
                <elementReference>Case.COMM_Card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Email__c</field>
            <value>
                <elementReference>Case.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_FirstName__c</field>
            <value>
                <elementReference>Case.COMM_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_JobRole__c</field>
            <value>
                <elementReference>Case.COMM_JobRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LastName__c</field>
            <value>
                <elementReference>Case.COMM_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LicensePlate__c</field>
            <value>
                <elementReference>Case.COMM_LicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PhoneNumber__c</field>
            <value>
                <elementReference>Case.COMM_PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryCarBrand__c</field>
            <value>
                <elementReference>Case.COMM_SecondaryVehicleBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryCarModel__c</field>
            <value>
                <elementReference>Case.COMM_SecondaryVehicleModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryLicensePlate__c</field>
            <value>
                <elementReference>Case.COMM_SecondaryLicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>Case.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VATNumber__c</field>
            <value>
                <elementReference>Case.COMM_VATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Subscription_CPP</name>
        <label>Update Related Subscription</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.COMM_Subscription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_ChangeSubscriptionPeriodicity__c</field>
            <value>
                <elementReference>Case.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>Case.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionPriceChange__c</field>
            <value>
                <elementReference>Case.COMM_SubscriptionPrice__c</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Subscription_CR</name>
        <label>Update Related Subscription</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.COMM_Subscription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Status__c</field>
            <value>
                <stringValue>Archieved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>Case.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Subscription_CSI</name>
        <label>Update Related Subscription</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.COMM_Subscription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__City__s</field>
            <value>
                <elementReference>Case.COMM_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__CountryCode__s</field>
            <value>
                <elementReference>Case.COMM_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__PostalCode__s</field>
            <value>
                <elementReference>Case.COMM_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__StateCode__s</field>
            <value>
                <elementReference>Case.COMM_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__Street__s</field>
            <value>
                <elementReference>Case.COMM_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CarBrand__c</field>
            <value>
                <elementReference>Case.COMM_VehicleBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CarModel__c</field>
            <value>
                <elementReference>Case.COMM_VehicleModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Card__c</field>
            <value>
                <elementReference>Case.COMM_Card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Email__c</field>
            <value>
                <elementReference>Case.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_FirstName__c</field>
            <value>
                <elementReference>Case.COMM_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_JobRole__c</field>
            <value>
                <elementReference>Case.COMM_JobRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LastName__c</field>
            <value>
                <elementReference>Case.COMM_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LicensePlate__c</field>
            <value>
                <elementReference>Case.COMM_LicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PhoneNumber__c</field>
            <value>
                <elementReference>Case.COMM_PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryCarBrand__c</field>
            <value>
                <elementReference>Case.COMM_SecondaryVehicleBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryCarModel__c</field>
            <value>
                <elementReference>Case.COMM_SecondaryVehicleModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryLicensePlate__c</field>
            <value>
                <elementReference>Case.COMM_SecondaryLicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>Case.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VATNumber__c</field>
            <value>
                <elementReference>Case.COMM_VATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Subscription_CUI</name>
        <label>Update Related Subscription</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.COMM_Subscription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Email__c</field>
            <value>
                <elementReference>Case.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PhoneNumber__c</field>
            <value>
                <elementReference>Case.COMM_PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>Case.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Subscription_MR</name>
        <label>Update Related Subscription</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.COMM_Subscription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_EndDate__c</field>
            <value>
                <elementReference>Case.COMM_EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>Case.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update subscription record related on Case.</description>
        <name>Update_Related_Subscription_MR_2</name>
        <label>Update Related Subscription</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.COMM_Subscription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_ChangeSubscriptionPeriodicity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_EndDate__c</field>
            <value>
                <elementReference>Case.COMM_EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Price__c</field>
            <value>
                <elementReference>Case.COMM_SubscriptionPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Product__c</field>
            <value>
                <elementReference>Case.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>Case.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionPriceChange__c</field>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Subscription_NC</name>
        <label>Update Related Subscription</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.COMM_Subscription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__City__s</field>
            <value>
                <elementReference>Case.COMM_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__CountryCode__s</field>
            <value>
                <elementReference>Case.COMM_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__PostalCode__s</field>
            <value>
                <elementReference>Case.COMM_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__StateCode__s</field>
            <value>
                <elementReference>Case.COMM_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__Street__s</field>
            <value>
                <elementReference>Case.COMM_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CarBrand__c</field>
            <value>
                <elementReference>Case.COMM_VehicleBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CarModel__c</field>
            <value>
                <elementReference>Case.COMM_VehicleModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Card__c</field>
            <value>
                <elementReference>Case.COMM_Card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Email__c</field>
            <value>
                <elementReference>Case.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_FirstName__c</field>
            <value>
                <elementReference>Case.COMM_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_JobRole__c</field>
            <value>
                <elementReference>Case.COMM_JobRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LastName__c</field>
            <value>
                <elementReference>Case.COMM_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LicensePlate__c</field>
            <value>
                <elementReference>Case.COMM_LicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PhoneNumber__c</field>
            <value>
                <elementReference>Case.COMM_PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryCarBrand__c</field>
            <value>
                <elementReference>Case.COMM_SecondaryVehicleBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryCarModel__c</field>
            <value>
                <elementReference>Case.COMM_SecondaryVehicleModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryLicensePlate__c</field>
            <value>
                <elementReference>Case.COMM_SecondaryLicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>Case.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VATNumber__c</field>
            <value>
                <elementReference>Case.COMM_VATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Subscription_NS</name>
        <label>Update Related Subscription</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.COMM_Subscription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COMM_ActiveSubscriptionRequest__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__City__s</field>
            <value>
                <elementReference>Case.COMM_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__CountryCode__s</field>
            <value>
                <elementReference>Case.COMM_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__PostalCode__s</field>
            <value>
                <elementReference>Case.COMM_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Address__Street__s</field>
            <value>
                <elementReference>Case.COMM_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CarBrand__c</field>
            <value>
                <elementReference>Case.COMM_VehicleBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_CarModel__c</field>
            <value>
                <elementReference>Case.COMM_VehicleModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_JobRole__c</field>
            <value>
                <elementReference>Case.COMM_JobRole__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_LicensePlate__c</field>
            <value>
                <elementReference>Case.COMM_LicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_PhoneNumber__c</field>
            <value>
                <elementReference>Case.COMM_PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryCarBrand__c</field>
            <value>
                <elementReference>Case.COMM_SecondaryVehicleBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryCarModel__c</field>
            <value>
                <elementReference>Case.COMM_SecondaryVehicleModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SecondaryLicensePlate__c</field>
            <value>
                <elementReference>Case.COMM_SecondaryLicensePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_Status__c</field>
            <value>
                <stringValue>Process Concluded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_SubscriptionNumber__c</field>
            <value>
                <elementReference>Case.COMM_SubscriptionNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_VATNumber__c</field>
            <value>
                <elementReference>Case.COMM_VATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_Subscription__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Split_by_RT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
