force-app/main/default/flows/COMM_FLW_Case_RejectedRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>COMM_Action_SendEmail</name>
        <label>Action: Send Email</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetRecords_GetDefaultNoReplyAddress.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplatePartner.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>COMM_Action_SendEmailAffiliate</name>
        <label>Action: Send Email Affiliate</label>
        <locationX>446</locationX>
        <locationY>1571</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetRecords_GetDefaultNoReplyAddressAffiliate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplateAffiliate.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>COMM_Action_SendEmailIndividualStaffRequestRejected</name>
        <label>Action: Send Email about Individual Staff Request Rejection</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <actionName>COMM_SL_SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideId</name>
            <value>
                <elementReference>COMM_GetRecords_GetDefaultNoReplyAddressIndividualStaff.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>COMM_Subflow_GetEmailTemplateIndividualStaffRequest.COMM_Variable_EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Email_to_User_Emails</name>
        <label>Add Email to User Emails</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_SendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_AddEmailToUserEmails</name>
        <label>Add Email to User Emails</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_SendEmailIndividualStaffRequestRejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_SetEmailRecipientsB2B</name>
        <label>Set Email Recipients</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_SendEmailAffiliate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_SetEmailRecipientsB2C</name>
        <label>Set Email Recipients</label>
        <locationX>578</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>UserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_SendEmailAffiliate</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Constant to store the Developer Name for the &quot;Affiliate Request&quot; Case Record Type</description>
        <name>COMM_Constant_AffiliateRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_AffiliateRequest</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMM_Constant_IndividualStaffRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_IndividualStaffRequest</stringValue>
        </value>
    </constants>
    <constants>
        <description>Constant to store the Developer Name for the &quot;Partner Request&quot; Case Record Type</description>
        <name>COMM_Constant_PartnerRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_PartnerRequest</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMM_Constant_TemplateNameIndividualStaffRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMM_IndividualStaff_RequestRejected</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks the case Record Type to check what email is sent</description>
        <name>COMM_Decision_CaseRecordType</name>
        <label>Decision: Case Record Type</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_PartnerRegistrationRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Constant_PartnerRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetRecords_GetDefaultNoReplyAddress</targetReference>
            </connector>
            <label>Partner Registration Request</label>
        </rules>
        <rules>
            <name>COMM_Outcome_AffiliateRegistrationRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Constant_AffiliateRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetRecords_GetDefaultNoReplyAddressAffiliate</targetReference>
            </connector>
            <label>Affiliate Registration Request</label>
        </rules>
        <rules>
            <name>COMM_Outcome_IndividualStaffRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COMM_Constant_IndividualStaffRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_GetRecords_GetDefaultNoReplyAddressIndividualStaff</targetReference>
            </connector>
            <label>Individual Staff Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_CheckRelatedAccountRecordType</name>
        <label>Check Related Account Record Type</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>COMM_SetEmailRecipientsB2C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is B2C</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_IsB2B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Get_RelatedExternalAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CollectivePartner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SetEmailRecipientsB2B</targetReference>
            </connector>
            <label>Is B2B</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_ConfirmIfProcessProcessInstanceExists</name>
        <label>Confirm if Process Process Instance Exists</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>COMM_Decision_CaseRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_ProcessInstanceExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Get_CaseProcessInstance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Get_CaseProcessInstanceStep</targetReference>
            </connector>
            <label>Process Instance Exists</label>
        </rules>
    </decisions>
    <description>Trigger Flow for logic related to Cases that were updated to Process Denied when Case&apos;s Approval Process was Rejected.</description>
    <environments>Default</environments>
    <interviewLabel>Case Affiliate/Partner/Individual Rejected Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Affiliate/Partner/Individual Rejected Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Case Process Instance to identify the rejection reason</description>
        <name>COMM_Get_CaseProcessInstance</name>
        <label>Get Case Process Instance</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Decision_ConfirmIfProcessProcessInstanceExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Case Process Instance Step to identify the rejection reason</description>
        <name>COMM_Get_CaseProcessInstanceStep</name>
        <label>Get Case Process Instance Step</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Update_CaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COMM_Get_CaseProcessInstance.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Comments</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_Get_RelatedExternalAccount</name>
        <label>Get Related External Account</label>
        <locationX>446</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Decision_CheckRelatedAccountRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.COMM_CustomerExternalId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_GetRecords_GetDefaultNoReplyAddress</name>
        <label>Get Default No-Reply Address</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Subflow_GetEmailTemplatePartner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_GetRecords_GetDefaultNoReplyAddressAffiliate</name>
        <label>Get Default No-Reply Address Affiliate</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Subflow_GetEmailTemplateAffiliate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>COMM_GetRecords_GetDefaultNoReplyAddressIndividualStaff</name>
        <label>Get Default No-Reply Address</label>
        <locationX>842</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COMM_Subflow_GetEmailTemplateIndividualStaffRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Case record rejection reason</description>
        <name>COMM_Update_CaseRecord</name>
        <label>Update Case Record</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>COMM_Decision_CaseRecordType</targetReference>
        </connector>
        <inputAssignments>
            <field>COMM_ReasonOfRejection__c</field>
            <value>
                <elementReference>COMM_Get_CaseProcessInstanceStep.Comments</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_Get_CaseProcessInstance</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
  OR(
    {!$Record.RecordType.DeveloperName}=&apos;COMM_AffiliateRequest&apos;,
    {!$Record.RecordType.DeveloperName}=&apos;COMM_PartnerRequest&apos;,
	{!$Record.RecordType.DeveloperName}=&apos;COMM_IndividualStaffRequest&apos;
  ),
  ISPICKVAL({!$Record.Status}, &apos;Request Denied&apos;)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplateAffiliate</name>
        <label>Subflow: Get Email Template Affiliate</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>COMM_Get_RelatedExternalAccount</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Variable_TemplateNameAffiliate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplateIndividualStaffRequest</name>
        <label>Subflow: Get Email Template for Individual Staff Request</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>COMM_Assignment_AddEmailToUserEmails</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Constant_TemplateNameIndividualStaffRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>COMM_Subflow_GetEmailTemplatePartner</name>
        <label>Subflow: Get Email Template Partner</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Add_Email_to_User_Emails</targetReference>
        </connector>
        <flowName>COMM_FLW_GetEmailTemplateByLocale</flowName>
        <inputAssignments>
            <name>COMM_Variable_EmailTemplateName</name>
            <value>
                <elementReference>COMM_Variable_TemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>COMM_Variable_LanguageCode</name>
            <value>
                <elementReference>$Record.COMM_Language__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>COMM_Variable_TemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>COMM_Partner_RequestRejected</stringValue>
        </value>
    </variables>
    <variables>
        <name>COMM_Variable_TemplateNameAffiliate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>COMM_Affiliate_RequestRejected</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
