force-app/main/default/flows/COMM_FLW_FreeVoucher_SendToCustomer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>COMM_Action_GenerateFreeVoucher</name>
        <label>Generate Free Voucher</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>COMM_SL_FreeVoucherReservation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_QR_Code</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>voucherIds</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_FreeVoucherReservation</nameSegment>
        <outputParameters>
            <assignToReference>COMM_Variable_FreeVoucherWithQrCode</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>COMM_Action_SendFreeVoucher</name>
        <label>Send Free Voucher</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <actionName>COMM_SL_SendFreeVouchersEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_Decision_EmailSentSuccessfully</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>freeVouchers</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_SendFreeVouchersEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_QR_Code</name>
        <label>Assign QR Code</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.COMM_QRCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Variable_FreeVoucherWithQrCode.COMM_QRCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.COMM_QRCodeImage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Variable_FreeVoucherWithQrCode.COMM_QRCodeImage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_SendFreeVoucher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_SendStatus</name>
        <label>Assign Send Status</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recordId.COMM_SentCounter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Formula_NextCounterValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.COMM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_Formula_StatusUpdateValuie</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Update_FreeVoucher</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>COMM_Decision_EmailSentSuccessfully</name>
        <label>Email Sent Successfully?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>COMM_EmailFailureScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_SendSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_Action_SendFreeVoucher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_Assignment_SendStatus</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Screen Flow for User to confirm Voucher sending</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to obtain the send counter value after this screen ends</description>
        <name>COMM_Formula_NextCounterValue</name>
        <dataType>Number</dataType>
        <expression>{!recordId.COMM_SentCounter__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Formula to obtain the next status value for the Free Voucher</description>
        <name>COMM_Formula_StatusUpdateValuie</name>
        <dataType>String</dataType>
        <expression>IF({!recordId.COMM_SentCounter__c} &gt; 1, &quot;Resent&quot;, &quot;Sent&quot;)</expression>
    </formulas>
    <interviewLabel>Free Voucher: Send to Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Free Voucher: Send to Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>COMM_Update_FreeVoucher</name>
        <label>Update Free Voucher</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>COMM_EmailFailureScreen</name>
        <label>Email Failure Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>COMM_DisplayText_EmailFailure</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Failed to send email to {!recordId.COMM_Email__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>COMM_Screen_ConfirmSend</name>
        <label>Confirm Send</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>COMM_Action_GenerateFreeVoucher</targetReference>
        </connector>
        <fields>
            <name>COMM_DisplayText_ConfirmSend</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Are you sure you want to send this Free Voucher to the email {!recordId.COMM_Email__c}?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.COMM_SentCounter__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>COMM_DisplayText_ConfirmResend</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Are you sure you want to resend this Free Voucher to the email {!recordId.COMM_Email__c} for the {!COMM_Formula_NextCounterValue}th time?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.COMM_SentCounter__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COMM_Screen_ConfirmSend</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable to store Free Voucher with QR Code</description>
        <name>COMM_Variable_FreeVoucherWithQrCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>COMM_FreeVoucher__c</objectType>
    </variables>
    <variables>
        <description>Free Voucher Record that triggered the screen flow</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>COMM_FreeVoucher__c</objectType>
    </variables>
</Flow>
