force-app/main/default/flows/COMM_OMS_Create_Fulfillment_Order_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Fulfillment_Order</name>
        <label>Create Fulfillment Order</label>
        <locationX>1007</locationX>
        <locationY>1487</locationY>
        <actionName>createFulfillmentOrder</actionName>
        <actionType>createFulfillmentOrder</actionType>
        <connector>
            <targetReference>Add_FO_to_CreatedList</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderInput</name>
            <value>
                <elementReference>FOInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createFulfillmentOrder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_FO_to_CreatedList</name>
        <label>Add FO to CreatedList</label>
        <locationX>1007</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>FOCreatedList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Fulfillment_Order.fulfillmentOrderOutput.fulfillmentOrderIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Payment_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OrderItemSummary_Input_to_List</name>
        <label>Add OrderItemSummary Input to List</label>
        <locationX>1227</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemSummaryInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Item_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FOInput</name>
        <label>Set FOInput</label>
        <locationX>1007</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>FOInput.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FOInput.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FOInput.fulfillmentGroups</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentGroupInputList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FulfillmentGroupInput</name>
        <label>Set FulfillmentGroupInput</label>
        <locationX>1007</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroupInput.fulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroupInput.orderItemSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderItemSummaryInputList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroupInput.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfilledLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_FulfillmentGroupInput_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FulfillmentGroupInput_List</name>
        <label>Set FulfillmentGroupInput List</label>
        <locationX>1007</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroupInputList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentGroupInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_FOInput</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OrderItemSummary_Input</name>
        <label>Set OrderItemSummary Input</label>
        <locationX>1227</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInput.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Item_Summaries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInput.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Item_Summaries.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OrderItemSummary_Input_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Alternative_Payment_Gateway_External_Reference</name>
        <label>Alternative Payment Gateway External Reference</label>
        <locationX>974</locationX>
        <locationY>2219</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_COMM_SalesType_VD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alternative_COMM_CREDIT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_alternative_payment_method.PaymentGateway.ExternalReference</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CREDIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_COMM_SalesType_VC</targetReference>
            </connector>
            <label>Alternative COMM_CREDIT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_FO_Created</name>
        <label>Any FO Created</label>
        <locationX>182</locationX>
        <locationY>2435</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FO_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FOCreatedList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fulfillment_Order_Status</targetReference>
            </connector>
            <label>FO Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Digital_Wallet_Payment_Gateway_External_Reference</name>
        <label>Digital Wallet Payment Gateway External Reference</label>
        <locationX>1502</locationX>
        <locationY>2219</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_COMM_SalesType_VD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Digital_COMM_CREDIT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_digital_payment_method.PaymentGateway.ExternalReference</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CREDIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_COMM_SalesType_VC</targetReference>
            </connector>
            <label>Digital COMM_CREDIT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Item_Summaries_to_process</name>
        <label>Order Item Summaries to process</label>
        <locationX>1139</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Payment_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderItemSummaryInputList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FulfillmentGroupInput</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Gateway_External_Reference</name>
        <label>Payment Gateway External Reference</label>
        <locationX>380</locationX>
        <locationY>2219</locationY>
        <defaultConnector>
            <targetReference>Set_COMM_SalesType_VD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COMM_CREDIT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_card_payment_method.PaymentGateway.ExternalReference</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMM_CREDIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_COMM_SalesType_VC</targetReference>
            </connector>
            <label>COMM_CREDIT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Method_Type</name>
        <label>Payment Method Type</label>
        <locationX>1139</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_COMM_SalesType_VD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Method.ImplementorType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CardPaymentMethod</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_card_payment_method</targetReference>
            </connector>
            <label>Card</label>
        </rules>
        <rules>
            <name>Alternative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Method.ImplementorType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AlternativePaymentMethod</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_alternative_payment_method</targetReference>
            </connector>
            <label>Alternative</label>
        </rules>
        <rules>
            <name>DigitalWallet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Method.ImplementorType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DigitalWalletType</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_digital_payment_method</targetReference>
            </connector>
            <label>DigitalWallet</label>
        </rules>
    </decisions>
    <description>Create Fulfillment Order on the back of an Order Summary status update to Processing.
Set OrderSummary.COMM_SalesType__c
Support multiple Shipments into a single Fulfillment Order (for a single invoice)</description>
    <environments>Default</environments>
    <interviewLabel>COMM OMS Create Fulfilment Order Flow {!$Flow.CurrentDateTime} {!$Record.Id}</interviewLabel>
    <label>OMS Create Fulfilment Order Flow</label>
    <loops>
        <name>Loop_Order_Item_Summaries</name>
        <label>Order Item Summaries</label>
        <locationX>1139</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OrderItemSummary_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Order_Item_Summaries_to_process</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_alternative_payment_method</name>
        <label>Get alternative payment method</label>
        <locationX>974</locationX>
        <locationY>2111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alternative_Payment_Gateway_External_Reference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Payment_Summary.PaymentMethodId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AlternativePaymentMethod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_card_payment_method</name>
        <label>Get card payment method</label>
        <locationX>380</locationX>
        <locationY>2111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Gateway_External_Reference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Method.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CardPaymentMethod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Location</name>
        <label>Get Default Location</label>
        <locationX>1139</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Item_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <filters>
            <field>ShouldSyncWithOci</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>FulfilledLocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_digital_payment_method</name>
        <label>Get digital payment method</label>
        <locationX>1502</locationX>
        <locationY>2111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Digital_Wallet_Payment_Gateway_External_Reference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Payment_Summary.PaymentMethodId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DigitalWallet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summary</name>
        <label>Get Order Delivery Group Summary</label>
        <locationX>1139</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Item_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Summaries</name>
        <label>Get Order Item Summaries</label>
        <locationX>1139</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ORDERED</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Payment_Summary</name>
        <label>Get Order Payment Summary</label>
        <locationX>1139</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderPaymentSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Method</name>
        <label>Get Payment Method</label>
        <locationX>1139</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Method_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Payment_Summary.PaymentMethodId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentMethod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_COMM_SalesType_VC</name>
        <label>Set COMM_SalesType VC</label>
        <locationX>182</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Any_FO_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>COMM_SalesType__c</field>
            <value>
                <stringValue>VC</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_COMM_SalesType_VD</name>
        <label>Set COMM_SalesType VD</label>
        <locationX>578</locationX>
        <locationY>2327</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Any_FO_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>COMM_SalesType__c</field>
            <value>
                <stringValue>VD</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fulfillment_Order_Status</name>
        <label>Update Fulfillment Order Status</label>
        <locationX>50</locationX>
        <locationY>2543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>FOCreatedList</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordUpdates>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Delivery_Group_Summary</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <object>OrderSummary</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FOCreatedList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FOInput</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfilledLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroupInput</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroupInputList</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryInput</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryInputList</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
