force-app/main/default/flows/COMM_OMS_Cancel_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>COMM_Action_ReleaseProductReservation</name>
        <label>Release Product Reservation</label>
        <locationX>1249</locationX>
        <locationY>3170</locationY>
        <actionName>COMM_SL_ClearProductReservations</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COMM_Assignmnet_EmptySetOfProductsToRelease</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>COMM_CancelledOrderItemSummaryLoop.COMM_ReservationEnd__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productCodeList</name>
            <value>
                <elementReference>COMM_ProductsToReleaseOnOCI</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>COMM_ReleaseStartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_SL_ClearProductReservations</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Convert_String_into_List_of_IDs</name>
        <label>Convert String into List of IDs</label>
        <locationX>341</locationX>
        <locationY>350</locationY>
        <actionName>COMM_StringToListConverter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Order_Item_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>separator</name>
            <value>
                <elementReference>COMMA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringToSplit</name>
            <value>
                <elementReference>returnedOrderProductSummaryIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>COMM_StringToListConverter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>COMM_StringToListOutput.stringList</assignToReference>
            <name>stringList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>createCreditMemoId</name>
        <label>Create Credit Memo</label>
        <locationX>545</locationX>
        <locationY>1298</locationY>
        <actionName>createCreditMemoOrderSummary</actionName>
        <actionType>createCreditMemoOrderSummary</actionType>
        <connector>
            <targetReference>Ensure_Refund_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>creditMemoInput</name>
            <value>
                <elementReference>creditMemoInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createCreditMemoOrderSummary</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>createCreditMemoOutputRepresentation</assignToReference>
            <name>creditMemoOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ensureRefund</name>
        <label>Ensure Refund</label>
        <locationX>50</locationX>
        <locationY>1946</locationY>
        <actionName>ensureRefundsOrderSummaryAsync</actionName>
        <actionType>ensureRefundsOrderSummaryAsync</actionType>
        <connector>
            <targetReference>COMM_CancelledOrderItemSummaryLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ensureRefundsAsyncInput</name>
            <value>
                <elementReference>ensureRefundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ensureRefundsOrderSummaryAsync</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Return_Order_Item_Summaries_Submit</name>
        <label>Return Order Item Summaries Submit</label>
        <locationX>545</locationX>
        <locationY>1082</locationY>
        <actionName>returnOrderItemSummariesSubmit</actionName>
        <actionType>returnOrderItemSummariesSubmit</actionType>
        <connector>
            <targetReference>Add_to_ChangeOrderId_collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaryLineItemsToChangeInput</name>
            <value>
                <elementReference>changeInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>returnOrderItemSummariesSubmit</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>submitReturnOutput</assignToReference>
            <name>submitReturnOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_cancelledOrderItemSummaryList</name>
        <label>Add To cancelledOrderItemSummaryList</label>
        <locationX>897</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>cancelledOrderItemSummaryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cancelledOrderItemSummaryRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Decision_CheckOrderSummaryType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_ChangeOrderId_collection</name>
        <label>Add to ChangeOrderId collection</label>
        <locationX>545</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>creditMemoInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>submitReturnOutput.changeOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCreditMemoId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Input_Representation</name>
        <label>Change Input Representation</label>
        <locationX>633</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>changeInputRepresentation.changeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>changeItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Summary_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_Input_Representation_Assignment</name>
        <label>Change Item Input Representation Assignment</label>
        <locationX>633</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item_Summary_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item_Summary_Loop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.reasonForChangeText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Input_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignment_SetProductsToRelease</name>
        <label>Set Products to Release</label>
        <locationX>1249</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>COMM_ProductsToReleaseOnOCI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>COMM_CancelledOrderItemSummaryLoop.Product2.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Action_ReleaseProductReservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>COMM_Assignmnet_EmptySetOfProductsToRelease</name>
        <label>Empty Set of Products to Release</label>
        <locationX>1249</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>COMM_ProductsToReleaseOnOCI</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>COMM_CancelledOrderItemSummaryLoop.Product2.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_CancelledOrderItemSummaryLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ensure_Refund_Assignment</name>
        <label>Ensure Refund Assignment</label>
        <locationX>545</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.creditMemoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createCreditMemoOutputRepresentation.creditMemoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COMM_Decision_CheckLegacyOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_cancelledOrderItemSummaryRecord</name>
        <label>set cancelledOrderItemSummaryRecord</label>
        <locationX>897</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>cancelledOrderItemSummaryRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_CancelledOrderItemSummaryLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cancelledOrderItemSummaryRecord.COMM_CancellationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_NowDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_cancelledOrderItemSummaryList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_COMM_CreditMemoAndInvoiceDatesDifference</name>
        <label>Set COMM_CreditMemoAndInvoiceDatesDifference</label>
        <locationX>446</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>COMM_CreditMemoAndInvoiceDatesDifference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMM_CreditMemoAndInvoiceDatesDiffFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partial_Refund_After_24_Hours</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>COMMA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>,</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AnyItems</name>
        <label>Are Any Items To Return</label>
        <locationX>341</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NoItems</label>
        </rules>
        <rules>
            <name>ItemsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item_Summary_Loop</targetReference>
            </connector>
            <label>ItemsAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_CheckLegacyOrder</name>
        <label>Check Legacy Order</label>
        <locationX>545</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>COMM_CancelledOrderItemSummaryLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Legacy</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_IsNotLegacy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary.COMM_IsLegacyOrder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice</targetReference>
            </connector>
            <label>Is not Legacy</label>
        </rules>
    </decisions>
    <decisions>
        <name>COMM_Decision_CheckOrderSummaryType</name>
        <label>Check Order Summary Type</label>
        <locationX>897</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>is_Reservation_in_Past</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>COMM_Outcome_IsSubscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_CancelledOrderItemSummaryLoop.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_SubFlow_CreateCaseCancelPublicSubscription</targetReference>
            </connector>
            <label>Is Subscription</label>
        </rules>
        <rules>
            <name>COMM_Outcome_isCardOrGiftCard</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>COMM_CancelledOrderItemSummaryLoop.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COMM_CancelledOrderItemSummaryLoop.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gift Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_CancelledOrderItemSummaryLoop</targetReference>
            </connector>
            <label>is Card or Gift Card</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sales Type = VC or Credit Memo Amount = Invoice Amount?</description>
        <name>Credit_Order_or_Full_Refund</name>
        <label>Credit Order or Full Refund?</label>
        <locationX>248</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Set_COMM_CreditMemoAndInvoiceDatesDifference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Credit_Order_or_Full_Refund_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.TotalAmountWithTax</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_CreditMemo.TotalAmountWithTax</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary.COMM_SalesType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ensureRefund</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Reservation End Date is lower than the current Date then no stock needs to be released</description>
        <name>is_Reservation_in_Past</name>
        <label>is Reservation in Past?</label>
        <locationX>1161</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>COMM_Assignment_SetProductsToRelease</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - release stock</defaultConnectorLabel>
        <rules>
            <name>Yes_dont_release_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_CancelledOrderItemSummaryLoop.COMM_ReservationEnd__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>COMM_ReleaseStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COMM_CancelledOrderItemSummaryLoop</targetReference>
            </connector>
            <label>Yes - don&apos;t release Stock</label>
        </rules>
    </decisions>
    <decisions>
        <name>isValid</name>
        <label>isValid</label>
        <locationX>811</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_String_into_List_of_IDs</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Difference between Credit Memo createdDate/Time and Invoice createdDate/Time with 2 decimal places &gt; 1 then</description>
        <name>Partial_Refund_After_24_Hours</name>
        <label>Partial Refund After 24 Hours (1Day)?</label>
        <locationX>446</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Insert_Delayed_Refund</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Partial_Refund_After_24_Hours_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COMM_CreditMemoAndInvoiceDatesDifference</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ensureRefund</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow will cancel the Order Lines from the specified Order for the given list of Order Product Summary Ids (separated by comma) and the Order Summary Id.
- bypass release stock if dates are in the past
- Delay Partial Refunds</description>
    <environments>Default</environments>
    <formulas>
        <name>COMM_CreditMemoAndInvoiceDatesDiffFormula</name>
        <dataType>Number</dataType>
        <expression>{!Get_CreditMemo.CreatedDate} - {!Get_Invoice.CreatedDate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Current DateTime</description>
        <name>COMM_NowDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>COMM_ReleaseStartDate</name>
        <dataType>DateTime</dataType>
        <expression>IF( NOW() &lt; {!COMM_CancelledOrderItemSummaryLoop.COMM_ReservationStart__c}, {!COMM_CancelledOrderItemSummaryLoop.COMM_ReservationStart__c}, NOW())</expression>
    </formulas>
    <interviewLabel>Cancel Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Items</label>
    <loops>
        <name>COMM_CancelledOrderItemSummaryLoop</name>
        <label>Cancelled Order Item Summary Loop</label>
        <locationX>545</locationX>
        <locationY>2522</locationY>
        <collectionReference>Get_Order_Item_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_cancelledOrderItemSummaryRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Product_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Order_Item_Summary_Loop</name>
        <label>Order Item Summary Loop</label>
        <locationX>545</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Order_Item_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Item_Input_Representation_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Return_Order_Item_Summaries_Submit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Delayed_Refund</name>
        <label>Insert Delayed Refund</label>
        <locationX>578</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>COMM_CancelledOrderItemSummaryLoop</targetReference>
        </connector>
        <inputAssignments>
            <field>COMM_CreditMemo__c</field>
            <value>
                <elementReference>Get_CreditMemo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COMM_OrderSummary__c</field>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputAssignments>
        <object>COMM_DelayedRefund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CreditMemo</name>
        <label>Get CreditMemo</label>
        <locationX>248</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Credit_Order_or_Full_Refund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createCreditMemoOutputRepresentation.creditMemoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemo</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalAmountWithTax</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>248</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CreditMemo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalAmountWithTax</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Summary</name>
        <label>Get Order Item Summary</label>
        <locationX>341</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AnyItems</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>COMM_StringToListOutput.stringList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToReturn</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>811</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isValid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>returnedOrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Product_Summary</name>
        <label>Update Order Product Summary</label>
        <locationX>545</locationX>
        <locationY>3638</locationY>
        <inputReference>cancelledOrderItemSummaryList</inputReference>
    </recordUpdates>
    <start>
        <locationX>685</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>COMM_SubFlow_CreateCaseCancelPublicSubscription</name>
        <label>Create Case Cancel Public Subscription</label>
        <locationX>633</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>COMM_CancelledOrderItemSummaryLoop</targetReference>
        </connector>
        <flowName>COMM_FLW_Case_PublicSubscriptionCancellationProcess</flowName>
        <inputAssignments>
            <name>COMM_OrderItemSummary</name>
            <value>
                <elementReference>COMM_CancelledOrderItemSummaryLoop</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>cancelledOrderItemSummaryList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>cancelledOrderItemSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>changeInputRepresentation</name>
        <apexClass>ConnectApi__ChangeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_CreditMemoAndInvoiceDatesDifference</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>COMM_ProductsToReleaseOnOCI</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COMM_StringToListOutput</name>
        <apexClass>COMM_StringToListOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createCreditMemoOutputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditMemoInputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>replacedOrderItemSummaryIdsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <description>List of OrderItemSummary Ids to return separated by comma</description>
        <name>returnedOrderItemSummaryIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>OrderProductSummaryIds to be returned, separated by , (comma)</description>
        <name>returnedOrderProductSummaryIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Order Item Summary Id to return</description>
        <name>returnedOrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>submitReturnOutput</name>
        <apexClass>ConnectApi__SubmitReturnOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
